/*1372791297,173217317*/

table.component_table{padding-left:5px;padding-top:5px}
table.component_table td.icons{width:20px;text-align:center;vertical-align:middle}
table.component_table td.content{white-space:nowrap;width:200px}
table.component_table td.phone_content{width:100px}
table.component_table td.actions{padding-left:10px;text-align:left;vertical-align:middle}
.mirror_security_level{padding-top:5px}
.mirror_security_level .mirror_help_link{padding-top:4px}
.mirror_interstitial .uiInterstitialBar .pts{padding-top:0}
.mirror_steps{margin:auto;width:555px}
.mirror_interstitial .uiButton{display:none}
.mirror_interstitial .mirror_wizard_submit{display:block}
.mirror_wizard_mode .mirror_wizard_submit{display:none}
.mirror_interstitial .mirror_wizard_next{display:none}
.mirror_show_email #mirror_wizard_next_email{display:block}
.mirror_show_phone #mirror_wizard_next_phone{display:block}
.mirror_show_secq #mirror_wizard_next_secq{display:block}
.no_js .mirror_show_email #mirror_wizard_next_email.mirror_wizard_next{display:none}
.no_js .mirror_show_phone #mirror_wizard_next_phone.mirror_wizard_next{display:none}
.no_js .mirror_show_secq #mirror_wizard_next_secq.mirror_wizard_next{display:none}
.no_js .mirror_wizard_submit{display:block}
.mirror_wizard_mode .mirror_section{display:none}
.mirror_wizard_mode .mirror_steplist{display:none}
.mirror_show_email #mirror_section_email{display:block}
.mirror_show_phone #mirror_section_phone{display:block}
.mirror_show_secq #mirror_section_secq{display:block}
.mirror_show_email #mirror_steplist_email{display:block}
.mirror_show_phone #mirror_steplist_phone{display:block}
.mirror_show_secq #mirror_steplist_secq{display:block}
.no_js .mirror_show_email #mirror_steplist_email{display:none}
.no_js .mirror_show_phone #mirror_steplist_phone{display:none}
.no_js .mirror_show_secq #mirror_steplist_secq{display:none}
.no_js .mirror_wizard_mode .mirror_section{display:block}
#mirror_info_summary_tbl td,
#mirror_info_summary_tbl td.label,
#mirror_info_summary_tbl th.label,
#mirror_info_summary_tbl #mirror_email_list{font-size:13px}
#mirror_info_summary_tbl #mirror_email_list{margin:0}
#mirror_change_name_section,
#mirror_change_name_section td,
#mirror_change_dob_section,
#mirror_change_dob_section td{font-size:13px}
.hideBanner .fbPageBanner,
.fixedBody .fbPageBanner{display:none}
.fbPageBannerInner{margin:auto;width:980px}
.sidebarMode .fbPageBannerInner{left:-102px;position:relative}
._4_3k{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yM/r/X73ePko4Wxx.png);background-repeat:no-repeat;background-size:auto;background-position:0 -84px;height:12px;position:absolute;right:12px;width:12px}
._4_3k:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yM/r/X73ePko4Wxx.png);background-repeat:no-repeat;background-size:auto;background-position:0 -97px}
._4_3l .uiContextualLayer > div{background:#5890ff;border:0;-webkit-border-radius:3px;-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, .3);padding:12px 36px 12px 12px;width:172px}
._4_3j, #pagelet_litestand_section_nav ._4_3j{border:3px solid #5890ff;-webkit-border-radius:6px}
#pagelet_litestand_section_nav ._4_3j{margin:-3px 0 0 -3px}
.fbChatSidebar ._4_3j{padding:7px;z-index:12}
._4kdq #pagelet_sidebar ._4_3j{padding:7px 4px;right:150px}
._4_3l ._53io{background-image:none;height:0;width:0}
._4_3l.uiLayer ._53il ._53io{background:transparent;border-bottom:9px solid #5890ff;border-left:9px solid transparent;border-right:9px solid transparent;height:0;width:0}
._4_3l.uiLayer ._53ik ._53io{background:transparent;border-left:9px solid transparent;border-right:9px solid transparent;border-top:9px solid #5890ff;height:0;width:0}
._4_3l.uiLayer ._53in ._53io{background:transparent;border-bottom:9px solid transparent;border-right:9px solid #5890ff;border-top:9px solid transparent;height:0;width:0}
._4_3l.uiLayer ._53im ._53io{background:transparent;border-bottom:9px solid transparent;border-left:9px solid #5890ff;border-top:9px solid transparent;height:0;width:0}
._4_3m{color:#fff;font-size:14px;line-height:18px;text-shadow:0 0 2px rgba(0, 0, 0, .3)}
._55og .presenceIndicator._4_3j{border:none;height:14px;margin-left:1px;padding-left:2px;position:absolute}
._4r38{margin-top:-16px;position:absolute;right:2px;top:50%;z-index:1}
._5ap0 ._4r38, ._4kdq .fbChatSidebar ._4r38{right:147px}
._4r39{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yM/r/X73ePko4Wxx.png);background-repeat:no-repeat;background-size:auto;background-position:-12px -14px;display:block;height:12px;width:9px}
._4r38._4trx ._4r39, ._4r38:hover ._4r39{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yM/r/X73ePko4Wxx.png);background-repeat:no-repeat;background-size:auto;background-position:-13px -84px}
._4r38:active ._4r39{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yM/r/X73ePko4Wxx.png);background-repeat:no-repeat;background-size:auto;background-position:-12px -27px}
._5bci ._4r39{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yM/r/X73ePko4Wxx.png);background-repeat:no-repeat;background-size:auto;background-position:0 -71px;height:12px;width:15px}
._5bci ._4r38._4trx ._4r39, ._5bci ._4r38:hover ._4r39, ._5bci ._4r38:active ._4r39{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yM/r/X73ePko4Wxx.png);background-repeat:no-repeat;background-size:auto;background-position:0 -58px}
._5bml._4r38{bottom:0;left:0;margin:0;padding:15px 0;position:absolute;right:0;top:auto}
._5bml ._4r39{left:50%;margin-left:-8px;position:relative}
._57yp.contentAfter .uiScrollableAreaTrack:hover, ._57yp.contentBefore .uiScrollableAreaTrack:hover, ._57yp.contentAfter.uiScrollableAreaTrackOver .uiScrollableAreaTrack, ._57yp.contentBefore.uiScrollableAreaTrackOver .uiScrollableAreaTrack, ._57yp.uiScrollableAreaDragging .uiScrollableAreaTrack{background:rgba(0, 0, 0, .15)}
._57yp .uiScrollableAreaGripper{background:rgba(255, 255, 255, .5);border-color:transparent}
._5383, ._50nn, ._50nm, ._4kdq ._4-q5{display:none}
.fbChatSidebar ._4-q5{background:#31353e;border-bottom:1px solid #292b34;border-top:1px solid #383c45}
.fbChatSidebar ._4-q5:hover{border-bottom-color:#17191e;border-top-color:#2a2d33}
._4-q8{display:inline-block;height:50px;vertical-align:middle}
._511a{overflow:hidden}
.fbChatSidebar ._4-qd.fbFeedTicker .fbFeedTickerStory{display:none;max-height:50px;padding:5px 8px !important;vertical-align:middle;white-space:initial}
._4-qd .tickerMorePager{display:none}
.fbChatSidebar ._4-qd.fbFeedTicker ._4-q6{display:block}
._4-qd .tickerStoryBlock{display:inline-block;max-height:50px;position:relative;vertical-align:middle}
._4-qd .tickerStoryContent{overflow:hidden}
._511b{float:right;height:50px;line-height:50px;padding:0 3px 0 5px}
._4-q9{display:inline-block;vertical-align:middle}
._4-qb{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yv/r/Pajs2HImsL2.png);background-repeat:no-repeat;background-size:auto;background-position:-28px -303px;height:9px;width:9px}
._4-qa{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yv/r/Pajs2HImsL2.png);background-repeat:no-repeat;background-size:auto;background-position:-20px -303px;height:11px;margin-right:1px;width:7px}
.fbPhotoTagger ._570u{min-width:220px;padding:6px}
._570v{margin-left:3px;margin-top:1px}
.imageLoading .fbPhotosPhotoButtons{display:none}
.fbPhotosPhotoButtons .fbPhotosPhotoLike .unlike,
.fbPhotosPhotoButtons .viewerLikesThis .like{display:none}
.fbPhotosPhotoButtons .viewerLikesThis .unlike{display:block}
.fbPhotosPhotoButtons .tagMessage .doneTaggingLink{cursor:pointer;display:inline-block;margin-left:15px}
.fbPhotosPhotoButtons .tagMessage,
.taggingMode .fbPhotosPhotoButtons .fbPhotosPhotoLike,
.taggingMode .fbPhotosPhotoButtons .commentButton,
.taggingMode .fbPhotosPhotoButtons .tagButton{display:none}
.taggingMode .fbPhotosPhotoButtons .tagMessage{display:block}
.fbPhotosPhotoButtons .cropMessage,
.croppingMode .fbPhotosPhotoButtons .fbPhotosPhotoLike,
.croppingMode .fbPhotosPhotoButtons .commentButton,
.croppingMode .fbPhotosPhotoButtons .tagButton{display:none}
.croppingMode .fbPhotosPhotoButtons .cropMessage{display:block}
.fbPhotosPhotoButtons .saveProfilePicMessage,
.profilePicSavingMode .fbPhotosPhotoButtons .fbPhotosPhotoLike,
.profilePicSavingMode .fbPhotosPhotoButtons .commentButton,
.profilePicSavingMode .fbPhotosPhotoButtons .tagButton{display:none}
.profilePicSavingMode .fbPhotosPhotoButtons .saveProfilePicMessage{display:block}
.fbPhotosPhotoTagboxes{height:100%;left:0;position:absolute;top:0;width:100%;pointer-events:none}
.fbPhotosPhotoTagboxes .tagsWrapper{display:inline-block;height:100%;width:100%;position:relative;vertical-align:middle}
.fbPhotosPhotoTagboxBase{line-height:normal;position:absolute}
.imageLoading .fbPhotosPhotoTagboxBase, .croppingMode .fbPhotosPhotoTagboxBase{display:none}
.fbPhotosPhotoTagboxBase .borderTagBox, .fbPhotosPhotoTagboxBase .innerTagBox{-webkit-box-sizing:border-box;height:100%;width:100%}
.ieContentFix{display:none;font-size:200px;height:100%;overflow:hidden;width:100%}
.fbPhotosPhotoTagboxBase .tag{bottom:0;left:50%;position:absolute}
.fbPhotosPhotoTagboxBase .tagPointer{left:-50%;pointer-events:auto;position:relative}
.fbPhotosPhotoTagboxBase .tagArrow{left:50%;margin-left:-10px;position:absolute;top:-4px}
.fbPhotosPhotoTagboxBase .tagName{background:#fff;color:#404040;cursor:default;font-weight:normal;padding:2px 6px 3px;top:3px;white-space:nowrap}
.fbPhotosPhotoTagboxBase .borderTagBox, .fbPhotosPhotoTagboxBase .tagName{-webkit-box-shadow:0 0 1px rgba(0, 0, 0, .25), 0 1px 5px 3px rgba(0, 0, 0, .05);-webkit-background-clip:padding-box;border:1px solid #404040;border-color:rgba(0, 0, 0, .25)}
.fbPhotosPhotoTagboxBase .innerTagBox{border:4px solid #fff;border-color:rgba(255, 255, 255, .8)}
.fbPhotosPhotoTagboxes .tagBoxPending .tagName{padding:3px 3px 3px 6px}
.fbPhotosPhotoTagboxes .tagName .tagForm span, .fbPhotosPhotoTagboxes .tagName .tagForm{display:inline-block;float:none;vertical-align:middle}
.imageLoading .tagBoxPending, .taggingMode .fbPhotosPhotoTagboxes .tagBoxPending{display:none}
.fbPhotosPhotoTagboxes .hover{opacity:1;z-index:2}
.taggingMode .fbPhotosPhotoTagboxes .hover{cursor:crosshair;z-index:auto}
.fbPhotosPhotoTagboxes .tagBox .tag{top:85%}
.fbPhotosPhotoTagboxes .tagBoxPending .tag{margin-top:10px;top:100%}
.fbPhotosPhotoTagboxes .tagBox .tagIgnored{color:#999}
.fbPhotosPhotoTagboxes .tag, .fbPhotosPhotoTagboxes .innerTagBox, .fbPhotosPhotoTagboxes .borderTagBox{visibility:hidden}
.fbPhotosPhotoProductTagboxes .tag, .fbPhotosPhotoProductTagboxes .innerTagBox, .fbPhotosPhotoProductTagboxes .borderTagBox{opacity:0;-webkit-transition:opacity .2s linear}
.fbPhotosPhotoProductTagboxes.fbPhotosPhotoRoundedTags .innerTagBox, .fbPhotosPhotoProductTagboxes.fbPhotosPhotoRoundedTags .borderTagBox{-webkit-border-radius:100%}
.fbPhotosPhotoTagboxes .tagBoxPending.showPendingTagName .tag, .fbPhotosPhotoTagboxes .tagBoxPending .borderTagBox, .fbPhotosPhotoTagboxes .tagBoxPending .innerTagBox{opacity:.7;-webkit-transition:opacity .2s linear;visibility:visible}
.fbPhotosPhotoTagboxes .hover.tagBox .tag, .fbPhotosPhotoTagboxes .hover.tagBoxPending.showPendingTagName .tag, .fbPhotosPhotoTagboxes .showTag .borderTagBox, .fbPhotosPhotoTagboxes .showTag .innerTagBox, .stageWrapper .fbPhotosPhotoProductTagboxes .hover.tagBox div.innerTagBox, .stageWrapper .fbPhotosPhotoProductTagboxes .hover.tagBox div.borderTagBox, .fbPhotosPhotoTagboxes .tagBoxPendingResponse .tag, .fbPhotosPhotoTagboxes .tagBoxPending.hover .borderTagBox, .fbPhotosPhotoTagboxes .tagBoxPending.hover .innerTagBox{opacity:1;-webkit-transition:opacity .2s linear;visibility:visible}
.showingTag .tagsWrapper .tagBoxPending .tag, .showingTag .tagsWrapper .tagBoxPending.showPendingTagName .tag, .showingTag .tagsWrapper .tagBoxPending .borderTagBox, .showingTag .tagsWrapper .tagBoxPending .innerTagBox{opacity:0}
.fbPhotosPhotoTagboxes .hover.tagBoxPending .borderTagBox{border:1px solid #3b5998}
.fbxPhoto .fbPhotoContributor{min-height:32px;padding:12px 0 5px;width:448px}
.fbxPhoto .fbPhotoContributorName{font-weight:bold;padding-top:1px;padding-bottom:3px;display:inline}
.fbxPhoto .fbPhotoContributorAction{color:gray;font-weight:normal}
.fbxPhoto .fbPhotoContributorAction .passiveName{font-weight:bold}
.fbxPhoto .fbPhotoContributorWishlist{font-weight:normal}
.fbxPhoto .fbPhotoContributorProduct{font-weight:normal}
.fbxPhoto .fbPhotosPhotoCaption{outline:none;display:inline;width:auto}
.fbxPhoto .fbPhotosPhotoCaption:empty{margin:0 !important}
.fbxPhoto .fbPhotoUfiCol{padding-right:10px;vertical-align:top;width:474px}
.fbxPhoto .fbPhotoDataCol{vertical-align:top;width:262px}
.fbxPhoto .fbPhotosPhotoFeedback{margin-top:3px}
.fbxPhoto .fbPhotosPhotoFeedback .fbPhotosAppLink, .fbxPhoto .fbPhotosPhotoFeedback .fbPhotosImplicitLocLink{color:#999}
.fbxPhoto .fbPhotosPhotoUfi{padding-top:2px}
.fbxPhoto .fbPhotoRemoveFromProfileLink .img{margin-right:3px}
.fbxPhoto .fbPhotoTagList{display:inline}
.fbxPhoto .fbPhotoTagList .textTagHovercardLink{color:#333;text-decoration:none}
.fbPhotosPhotoActions .fbPhotosPhotoActionsItem.fbPhotoActionsCrop.hide, .fbPhotoSnowliftContainer .fbPhotosPhotoActionsItem.fbPhotoActionsCrop.hide, .inlineEditMode .fbPhotosPhotoEdit, .fbPhotosPhotoDisabledEdit{display:none}
.inlineEditMode .fbPhotosPhotoDisabledEdit{display:inline}
.fbxPhoto .fbPhotoRemoveFromProfile{border-bottom:1px solid #e5e5e5;-webkit-transition:background 500ms ease-out}
.fbxPhoto .fbPhotosOnProfile{padding-top:2px}
.fbxPhoto .fbPhotosOnProfile .highlight{background:#fff8cc}
.fbxPhoto .fbPhotosPhotoActions, .fbPhotosPhotoActions .actionListButton.rotateButtons{border-top:1px solid #e5e5e5}
.fbxPhoto .fbPhotoRemoveFromProfile, .fbxPhoto .fbPhotosMediaInfo, .fbxPhoto .fbPhotosPhotoActions .fbUndoSpamReport, .fbxPhoto .fbPhotosPhotoActions .fbPhotosPhotoActionsItem, .fbPhotosPhotoActions .rotateButtons{padding-left:5px;padding-right:5px}
.fbxPhoto .fbPhotoRemoveFromProfile .fbPhotoCurationOptions .uiButtonText{font-weight:normal}
.fbPhotosPhotoActions .rotateButtons{height:24px}
.fbxPhoto .fbPhotosPhotoActions .rotateWait{color:gray}
.fbxPhoto .fbPhotosPhotoActions .fbUndoSpamReport a{padding-left:0;padding-right:0}
.fbPhotosMediaInfo{margin-top:5px}
.fbxPhoto .fbPhotosPhotoActions .fbPhotosPhotoActionsItem, .fbxPhoto .fbPhotosPhotoActions .fbUndoSpamReport{display:block;margin-bottom:5px}
.fbPhotosPhotoActions .actionListButton.rotateButtons{margin:10px 0 5px;padding-top:10px}
.fbxPhoto .fbPhotosPhotoActions .iconActionLinks{border-bottom:1px solid #e5e5e5;margin-bottom:7px;padding-bottom:3px}
.fbxPhoto .photoViewerFollowedMsg, .fbxPhoto .followingOwner .photoViewerFollowLink, .fbPhotosPhotoActions .taggingOn, .fbxPhoto .pageLink, .fbxPhoto .isPage .userLink, .taggingMode .taggingOff{display:none}
.fbxPhoto .followingOwner .photoViewerFollowedMsg, .fbxPhoto .isPage .pageLink, .fbxPhoto .userLink, .taggingMode .taggingOn{display:inline}
.fbPhotosPhotoActions .croppingModeOn .startCropping, .fbPhotosPhotoActions .doneCropping{display:none}
.fbPhotosPhotoActions .croppingModeOn .doneCropping{display:block}
.fbPhotosAudienceEditable{margin-right:0}
.fbPhotosAudienceNotEditable{float:left;margin-top:1px}
.fbPhotosMediaInfo .fbPhotosAudience{margin-bottom:-5px;margin-top:-4px}
.fbPhotosPhotoActions .addLocationActionIcon{margin:0 6px 0 1px}
.fbPhotosPhotoActions .addLocation, .hasLocation .fbPhotosPhotoActions .editLocation{display:inline}
.fbPhotosPhotoActions .editLocation, .hasLocation .fbPhotosPhotoActions .addLocation{display:none}
#fbxPhotoContentContainer{position:relative}
.fbPhotoTagApprovalBox{background-color:rgba(255,255,255,0.85);border:1px solid #808080;cursor:default;font-size:11px;left:50%;margin:5px 0 0 -285px;padding:0;position:absolute;text-align:left;top:12px;width:558px;z-index:2}
.fbPhotoApprovalPendingButtons{float:right}
.fbPhotoApprovalPendingHeader{border-bottom:1px solid #c9c9c9;font-weight:bold;line-height:24px;padding-left:8px}
.fbPhotoApprovalPrevPager, .fbPhotoApprovalNextPager{border-bottom:1px solid #c9c9c9;float:left;height:24px;width:25px}
.fbPhotoApprovalUnit{line-height:normal;padding:10px 10px 16px 10px}
.fbPhotoTagApprovalPager .pager{border-left:1px solid #c9c9c9;display:inline-block;float:right;height:24px;width:25px}
.fbPhotoTagApprovalPager .prevPager{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:-526px -10px}
.fbPhotoTagApprovalPager .prevPager.enabled{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:-501px -10px}
.fbPhotoTagApprovalPager .nextPager{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:-577px -10px}
.fbPhotoTagApprovalPager .nextPager.enabled{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:-552px -10px}
.imageLoading .fbPhotoTagApproval, .fbPhotoTagApproval.hidePagers .pager{display:none}
#fbPhotoPageTaggedProducts{width:240px}
#fbPhotoPageTaggedProducts .uiList li:first-child{border-top-width:1px;padding-top:10px}
#fbPhotoPageTaggedProducts .uiList li:last-child{border-bottom-width:1px;padding-bottom:10px}
.fbPhotoImageStage:hover .fbPhotosPhotoProductTagboxes .innerTagBox, .fbPhotoImageStage:hover .fbPhotosPhotoProductTagboxes .borderTagBox{opacity:.5;visibility:visible}
.fbPhotosCornerWantButton{position:absolute;right:40px;top:10px;z-index:1}
.fbxPhoto .fbPhotoImageStage{width:100%;-webkit-user-select:none}
.fbxPhoto .fbPhotoImageStage .stageContainer, .fbxPhoto .fbPhotoImageStage .buttonsContainer{width:100%}
.fbxPhoto .fbPhotoImageStage .fbPhotoPageError{text-align:left}
.fbPhotoImageStage .fbPhotosPhotoButtons .fbPhotosPhotoLike, .fbPhotoImageStage .fbPhotosPhotoButtons .tagButton{margin:6px}
.fbPhotoImageStage .fbPhotosPhotoButtons{bottom:0;color:#333;cursor:default;left:0;position:absolute;right:0;-webkit-user-select:none;z-index:2}
.fbPhotoImageStage .imageStage{overflow:hidden;position:relative;width:720px}
.fbPhotoImageStage .fbPhotosPhotoButtons .saveProfilePicMessage, .fbPhotoImageStage .fbPhotosPhotoButtons .tagMessage, .fbPhotoImageStage .fbPhotosPhotoButtons .cropMessage{background-color:rgba(255, 255, 255, .8);color:#333;padding:6px 10px;vertical-align:middle}
.fbPhotoSnowlift.profilePicCroppingMode .profilePicViewportGrabby{z-index:3}
.profilePicSavingMode .profilePicViewportGrabby{display:none}
.fbxPhoto .fbPhotoImageStage .stageContainer{background-color:#f6f6f6;height:453px}
.imageLoading .fbPhotoImageStage .stageContainer{background:#f6f6f6 url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat center center}
.fbxPhoto .fbPhotoImageStage .stageWrapper{display:inline-block;position:relative}
.fbxPhoto .fbPhotoImage{display:inline-block;height:auto;image-rendering:optimizeQuality;max-height:720px;max-width:720px;vertical-align:middle;width:auto}
.taggingMode .fbPhotoImage{cursor:crosshair}
.fbPhotoViewLarger{opacity:.5;position:absolute;right:15px;top:15px;z-index:1}
.fbPhotoViewLarger:hover{cursor:pointer;opacity:1}
.fbxPhoto .fbPhotoImageStage .stageTagApproval, .fbxPhoto .fbPhotoImageStage .stageActions{cursor:pointer;height:0;left:0;position:absolute;top:0;width:0}
.fbxPhoto .fbPhotoImageStage .stageTagApproval{cursor:auto;width:100%}
.fbxPhoto .fbPhotoImageStage .stageButtons{position:relative;text-align:center}
.dataLoading .fbPhotoPageInfo .fbPhotoUfiCol *, .dataLoading .fbPhotoPageInfo .fbPhotoDataCol *{display:none}
.taggingMode .fbPhotoTagger{cursor:crosshair}
.fbPhotoTagger{display:block;left:auto;position:absolute;right:auto;text-align:left;top:0;z-index:103}
.fbxPhoto .newTagBox{height:99px;left:auto;position:absolute;right:auto;top:0;width:99px}
.fbPhotoSnowlift.taggingMode .fbPhotosPhotoTagboxes .faceBox .innerTagBox, .fbPhotosPhotoTagboxes .faceBox.active .innerTagBox, .fbPhotosPhotoTagboxes .faceBox.otherActive .innerTagBox{visibility:visible}
.fbPhotoSnowlift .fbPhotosPhotoTagboxes .faceBox .innerTagBox{border:3px solid rgba(255, 255, 255, .25);-webkit-box-shadow:0 0 2px rgba(0, 0, 0, .25), 0 0 5px rgba(0, 0, 0, .15) inset;-webkit-border-radius:3px}
.fbPhotoSnowlift .fbPhotosPhotoTagboxes .faceBox.hover .innerTagBox{border-color:rgba(255, 255, 255, .75);-webkit-box-shadow:0 0 5px rgba(0, 0, 0, .65), 0 0 4px rgba(0, 0, 0, .4) inset}
.fbPhotoSnowlift .fbPhotosPhotoTagboxes .faceBox.active .innerTagBox{border-color:transparent;-webkit-box-shadow:none}
.fbPhotoSnowlift .fbPhotosPhotoTagboxes .faceBox.active .borderTagBox, .fbPhotoTagger .faceBox{border:3px solid rgba(255, 255, 255, .25);-webkit-border-radius:3px;-webkit-box-shadow:0 0 5px rgba(0, 0, 0, .75), 0 0 4px rgba(0, 0, 0, .5) inset;position:relative;visibility:visible}
.fbPhotoSnowlift.taggingMode .fbPhotosPhotoTagboxes .faceBox.active .borderTagBox, .fbPhotoTagger .faceBox{border:3px solid rgba(255, 255, 255, .9)}
.fbPhotoTagger .faceBoxHidden{border:3px solid transparent;-webkit-box-shadow:none}
.profilePicCroppingMode .fbPhotosPhotoTagboxBase{display:none}
.profilePicCroppingMode .fbPhotoTagger{display:none}
.fbPhotoTagger .typeaheadWrapper{cursor:default;left:50%;position:absolute;top:100%}
.fbPhotoTaggerFlipped .typeaheadWrapper{bottom:100%;top:auto}
.fbPhotoTagger .typeaheadContainer{left:-50%;position:relative;top:4px}
.fbPhotoTaggerFlipped .typeaheadContainer{bottom:4px;top:auto}
.fbPhotoTagger .arrow{background-image:none;height:7px;position:absolute;top:-5px;width:100%;z-index:1}
.fbPhotoTaggerFlipped .arrow{bottom:-5px;top:auto}
.fbPhotoTagger .arrow .nub{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yf/r/8qdK81ZnFEh.png);background-repeat:no-repeat;background-size:auto;background-position:-141px -135px;height:7px;left:50%;margin-left:-6px;position:absolute;top:0;width:11px}
.fbPhotoTaggerFlipped .arrow .nub{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yf/r/8qdK81ZnFEh.png);background-repeat:no-repeat;background-size:auto;background-position:-129px -135px}
.fbPhotoTagger .typeaheadLabel{display:none}
.fbPhotoTagger .faceboxSuggestion, .fbPhotoTagger .typeaheadBackdrop, .fbPhotoTagger .uiTypeaheadView{background:#fff;border:#333 solid 1px;padding:4px}
.fbPhotoTagger .faceboxSuggestion, .fbPhotoTagger .typeaheadBackdrop{margin-top:6px}
.fbPhotoTagger.suggestionActive .typeaheadBackdrop{display:none}
.fbPhotoTaggerFlipped .typeaheadBackdrop{margin-bottom:6px;margin-top:auto}
.fbPhotoTagger .typeaheadBackdrop.resultsPresent{border-bottom:none}
.fbPhotoTaggerFlipped .typeaheadBackdrop.resultsPresent{border-bottom:none}
.fbPhotoTagger .uiTypeaheadView{border-top:0;left:-5px;margin-top:2px;padding-top:0}
.fbPhotoTaggerFlipped .uiTypeaheadView{bottom:100%;top:auto;padding-bottom:0;padding-top:4px;border-bottom:0;border-top:1px;margin-bottom:2px;margin-top:auto}
.fbPhotoTagger .photoTagTypeahead, .fbPhotoTagger .photoTagTypeahead .wrap{border-color:#ccc}
.fbPhotoTagger .photoTagTokenizer{width:212px}
.fbPhotoTagger .tokenarea{display:none}
.bulkEditTagger{display:block}
.bulkEditTagger .faceBox{border-width:3px;height:52px;width:52px}
.fbPhotoBulkEditor .newTagBox{height:60px;width:60px;z-index:2}
.fbxPhoto .newTagBox .tag{top:105%}
.uiTagTypeaheadView .compact{border-top:0;margin-top:0}
.uiTagTypeaheadView .compact .hintText{cursor:default;height:14px;min-height:0;padding-left:6px}
.uiTagTypeaheadView .compact .userEdText{background-color:#edeff4;border:1px solid #d8dfea;cursor:default;height:30px;margin-bottom:4px;min-height:0;padding-left:6px}
.uiTagTypeaheadView .compact .userEdText .subtext{color:gray;white-space:normal}
._5bfm #headNav #navSearch.roundedBox{width:397px}
._5bfn #headNav #navSearch.roundedBox{width:398px}
#facebook ._5bfn #pageLogo{margin-top:1px}
._5bfm #navSearch.roundedBox .uiSearchInput{border:none}
._5bfm #headNav .roundedBox .uiTypeahead{background-color:#374f8a;border:1px solid #344a81;border-bottom:none;-webkit-border-radius:0;border-top:none}
._5bfm .roundedBox .smurfbarBottomBorder{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yB/r/jG3y0uEOSBn.png);background-repeat:no-repeat;background-size:auto;background-position:0 -10px;height:5px;margin-left:-2px;width:399px}
._5bfm .roundedBox .smurfbarTopBorder{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yB/r/jG3y0uEOSBn.png);background-repeat:no-repeat;background-size:auto;background-position:0 -16px;height:4px;margin-left:-2px;margin-top:-2px;width:399px}
._5bfn #headNav .roundedBox .uiTypeahead{background-color:#fff;border:none}
._5bfn .roundedBox .smurfbarBottomBorder{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yB/r/jG3y0uEOSBn.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;height:4px;width:400px}
._5bfn .roundedBox .smurfbarTopBorder{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yB/r/jG3y0uEOSBn.png);background-repeat:no-repeat;background-size:auto;background-position:0 -5px;margin-top:-2px;width:400px}
._5bfm #navSearch.roundedBox .uiSearchInput{margin-left:2px}
._5bfm #navSearch.roundedBox .uiSearchInput, ._5bfm #navSearch.roundedBox .uiSearchInput input, ._5bfm #navSearch.roundedBox .uiSearchInput button{background-color:transparent;width:364px}
._5bfm #headNav #navSearch.roundedBox .uiTypeahead{height:19px;margin-left:-2px}
._5bfn #headNav #navSearch.roundedBox .uiTypeahead{height:20px}
._5bfm #navSearch.roundedBox .uiSearchInput .inputtext{color:#fff;font-size:15px;-webkit-font-smoothing:antialiased;margin-top:-1px;padding-top:0}
._5bfn #navSearch.roundedBox .uiSearchInput .inputtext{color:#141823;line-height:22px}
._5bfo #navSearch.roundedBox .uiSearchInput .DOMControl_placeholder{color:#b2c0e5}
._5bfo #navSearch.roundedBox .uiSearchInput input::-webkit-input-placeholder{color:#7487b8}
._5bfo #navSearch.roundedBox .uiSearchInput input:-moz-placeholder{color:#7487b8}
._5bfo #navSearch.roundedBox .uiSearchInput input:-ms-input-placeholder{color:#7487b8}
._5bfn #navSearch.roundedBox .uiSearchInput input::-webkit-input-placeholder{color:#adb2bb}
._5bfn #navSearch.roundedBox .uiSearchInput input:-moz-placeholder{color:#adb2bb}
._5bfn #navSearch.roundedBox .uiSearchInput input:-ms-input-placeholder{color:#adb2bb}
._5bfn #navSearch.roundedBox .uiSearchInput .DOMControl_placeholder{color:#6a7180}
._5bfm #navSearch.roundedBox .uiSearchInput button{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yB/r/jG3y0uEOSBn.png);background-repeat:no-repeat;background-size:auto;background-position:-46px -83px;height:15px;right:3px;top:2px;width:22px}
._5bfn #navSearch.roundedBox .uiSearchInput button{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yB/r/jG3y0uEOSBn.png);background-repeat:no-repeat;background-size:auto;background-position:-23px -83px;right:1px;top:3px}
.sp_3f3cqq{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yM/r/X73ePko4Wxx.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:9px}
.sx_e02662{width:11px;height:22px;background-position:0 0}
.sx_1b593c{width:11px;height:22px;background-position:0 -23px}
.sx_de51a3{width:22px;height:11px;background-position:0 -46px}
.sx_2bff44{background-position:-12px -14px}
.sx_759752{background-position:-12px -27px}
.sx_4bc691{background-position:-13px -84px}
.sx_8f829e{width:12px;background-position:0 -84px}
.sx_e079f7{width:12px;background-position:0 -97px}
.sx_3014f4{width:15px;background-position:0 -58px}
.sx_4f5685{width:15px;background-position:0 -71px}
.sx_ad6f4d{height:11px;background-position:-12px -2px}
.sp_3vjpuj{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/QLNZdqY-hoU.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:15px}
.sx_d0f547{width:16px;background-position:0 -24px}
.sx_eeda97{width:16px;background-position:0 -41px}
.sx_4e4623{width:11px;height:11px;background-position:0 -106px}
.sx_fc2dd7{width:12px;height:10px;background-position:-12px 0}
.selected .sx_fc2dd7{background-position:0 0}
.sx_2cd8f8{width:11px;height:12px;background-position:-11px -11px}
.selected .sx_2cd8f8{background-position:0 -11px}
.sx_195ae8{background-position:0 -58px}
.sx_8c5184{background-position:0 -75px}
.sx_269391{width:13px;height:13px;background-position:0 -92px}
.sp_88yst8{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ys/r/eLCgTd0YU07.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:31px;width:14px}
.sx_7c1fa0{background-position:-0px -208px}
.sx_7e2f4d{background-position:-0px -240px}
.sx_6bdf2e{background-position:-0px -272px}
.sx_5a33c4{width:3px;background-position:-18px -156px}
.sx_7344ea{background-position:-0px -304px}
.sx_57c866{width:7px;background-position:-10px -156px}
.sx_8ff92d{background-position:-0px -336px}
.sx_d6da0b{width:4px;height:51px;background-position:-0px -156px}
.sx_b0f515{width:4px;height:51px;background-position:-5px -156px}
.sx_90aab9{width:23px;height:51px;background-position:-0px -0px}
.sx_e92754{width:23px;height:51px;background-position:-0px -52px}
.sx_bf6c70{width:23px;height:51px;background-position:-0px -104px}
.uiStreamSecondaryTime .img{bottom:-2px;position:relative;vertical-align:top}
._53ii ._53iv{padding:12px}
._53ii ._53ij{border:0;-webkit-border-radius:2px;-webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35)}
._53ii ._572u{border-color:#d3d6db;margin:0 12px;padding:8px 0}
._53ii ._53il{padding-top:18px}
._53ii ._53im{padding-right:18px}
._53ii ._53ik{padding-bottom:18px}
._53ii ._53in{padding-left:18px}
._53ii ._53il ._53io{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yM/r/X73ePko4Wxx.png);background-repeat:no-repeat;background-size:auto;background-position:0 -46px;height:11px;top:7px;width:22px}
._53ii ._53im ._53io{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yM/r/X73ePko4Wxx.png);background-repeat:no-repeat;background-size:auto;background-position:0 -23px;height:22px;right:7px;width:11px}
._53ii ._53ik ._53io{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yG/r/_0Z8-gzxiGV.png);background-repeat:no-repeat;background-size:auto;background-position:-23px -402px;bottom:5px;height:13px;width:22px}
._53ii ._53in ._53io{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yM/r/X73ePko4Wxx.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;height:22px;left:7px;width:11px}
.uiQualityLevel{width:40px;padding-top:2px}
.uiQualityLevel .qualityBar .empty{border:solid #8d0d00;border-width:1px 0}
.weakQuality .qualityBar .fill{border:solid #8d0d00;background-color:#dc5857;border-width:1px 0 1px 1px}
.mediumQuality .qualityBar .fill{border:solid #af8506;background-color:#f7be21;border-width:1px 0 1px 1px}
.strongQuality .qualityBar .fill{border:solid #336421;background-color:#77bb4f;border-width:1px 0 1px 1px}
.strongQuality .qualityBar .full{border:1px solid #336421}
.flashFallbackButton{text-align:center}
.uiStepList ol{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yP/r/e8iPvmYALrW.png);height:51px;list-style:none;margin:0;padding:0}
.uiStep{display:inline;list-style-type:none}
.uiStep .part{float:left;height:51px}
.uiStep .back{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ys/r/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:0 -156px}
.uiStep .middle{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yP/r/e8iPvmYALrW.png)}
.uiStep .point{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ys/r/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:-1px 0;width:21px}
.uiStep .title{margin-bottom:1px}
.uiStep .content{margin:11px 10px 0 10px}
.uiStepSelected .content{margin-left:5px}
.uiStepListSmallDescription .description{font-size:9px}
.uiStepFirst .back{width:3px}
.uiStepFirst .content{margin-left:15px}
.uiStepSelected .back{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ys/r/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:-5px -156px}
.uiStepSelected .middle{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yZ/r/MZW8R4cXlo9.png)}
.uiStepSelected .point{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ys/r/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:-1px -104px}
.uiStepNextSelected .point{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ys/r/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:-1px -52px}
.uiStepSelected .title, .uiStepSelected .description, .uiStepSelected a{color:#fff}
.uiStepSelected a:hover{text-decoration:none}
.uiStepListSingleLine ol{background:#edeff4;color:#3b5997;height:31px}
.uiStepListSingleLine .part{height:31px}
.uiStepListSingleLine .middle{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/lFahQXTaTNO.png) repeat-x}
.uiStepListSingleLine .back{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ys/r/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:-10px -156px}
.uiStepListSingleLine .uiStep .point{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ys/r/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:0 -336px;width:14px}
.uiStepListSingleLine .uiStepSelected .back{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ys/r/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:-18px -156px}
.uiStepListSingleLine .uiStepLast .point{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ys/r/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:0 -208px}
.uiStepListSingleLine li.uiStepLastSelected .point{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ys/r/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:0 -272px}
.uiStepListSingleLine .uiStepNextSelected .point{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ys/r/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:0 -240px}
.uiStepListSingleLine .uiStepSelected .middle{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yp/r/9UNNaVu8SFB.png) repeat-x}
.uiStepListSingleLine .uiStepSelected .point{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ys/r/eLCgTd0YU07.png);background-repeat:no-repeat;background-size:auto;background-position:0 -304px}
.uiStepListSingleLine .uiStep .content{margin:9px 8px 0}
.uiStepListSingleLineWhite ol{background:#fff}
.letterboxedImage{position:relative}
.verticallyCentered .scaledImage{position:absolute;top:50%}
.letterboxedImage .scaledImage{margin:0 auto}

#bootloader_98TBp { height: 42px; }