/*1369013170,178142547*/

._gxa input{display:none}
._gxb{position:relative}
._3r8v ._gxc, ._gxb ._gxc{position:absolute;right:5px;top:5px;visibility:hidden}
._3r8v:hover ._gxc, ._3r8x._52nd, ._gxb:hover ._5859, ._gxb:hover ._gxc, ._gxa._52nd{opacity:1;visibility:visible}
._3r8v ._gxc._42bt{right:4px;top:4px;visibility:visible}
._4q3{display:block;position:relative}
._4q4{display:block;line-height:0}
._5ok:after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}

#bootloader_vFtag { height: 42px; }