/*1372887133,173199923*/

._57pt.home #globalContainer, ._57pt.home #blueBarHolder #pageHead{width:980px}
._57pt.home #blueBar{min-width:980px}
._57pt.home #globalContainer #content{margin:0 90px}
._57pt.home #leftCol{display:none}
._57pt.home #contentCol{margin-left:0}
._57pt.home #pageFooter{margin-left:-1px}
._57pt.home #contentCurve{height:0}
._57pt .fbFeedTicker, ._57pt .fbFeedTicker .fbFeedTickerStory .tickerFeedMessage, ._57pt .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h5, ._57pt .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h6, ._57pt ._56h3, ._57pt .fbChatSidebar{font:12px/16px Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif}
._5c81._57pt .fbFeedTicker, ._5c81._57pt .fbFeedTicker .fbFeedTickerStory .tickerFeedMessage, ._5c81._57pt .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h5, ._5c81._57pt .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h6{font:11px/14px 'lucida grande',tahoma,verdana,arial,sans-serif}
html ._57pt .fbDockWrapper{right:0}
._57pt #pagelet_rhc_ticker{display:none}
html ._57pt._4g5r #globalContainer, html ._4_f0 #globalContainer, html ._4g5r #blueBar #pageHead, ._4g5r #blueBar #pagesVoiceBarContent{padding-right:0}
._4kdq ._57pt.fbx #globalContainer{padding:0 12px}
._4kdq ._504q.fbx #globalContainer{padding:0}
._4g5r #blueBar #pagesVoiceBarContent{left:0}
html ._57pt._4g5r._4_f0 #blueBarHolder #blueBar, html ._5ap2._57pt._4_f0 #blueBarHolder #blueBar, html ._57pt._4_f0 ._4_37{margin-left:0}
._4_f0 #pagelet_sidebar{display:none}
._57pt._4g5r .fbPageBannerInner, ._57pt._4g5r ._53df, html ._57pt._4g5r #blueBarHolder #blueBar{margin-left:205px}
._5ap2._57pt .fbPageBannerInner, ._5ap2._57pt ._53df, html ._5ap2._57pt #blueBarHolder #blueBar, ._4kdq ._57pt .fbPageBannerInner, ._4kdq ._57pt ._53df, html._4kdq ._57pt #blueBarHolder #blueBar{margin-left:56px}
._57pt._4g5r .fbPageBannerInner{left:0;width:initial}
html.sidebarMode ._4g5r._57pt.hasVoiceBar.hasSmurfbar #blueBarHolder, html.sidebarMode ._4g5r._57pt.hasVoiceBar.hasSmurfbar #blueBarHolder.slim, html.sidebarMode ._4g5r._57pt.hasVoiceBar.hasSmurfbar #blueBarHolder #blueBar{height:66px}
html body._5bci .fbChatSidebar{background:transparent;border-left:1px solid rgba(0, 0, 0, .1)}
html body._5bci._5c81 .fbChatSidebar{background:#f2f4f8;border-left:1px solid rgba(0, 0, 0, .4);-webkit-box-shadow:inset 2px 0 2px -2px #b2b9c9;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:11px;z-index:300}
.timelineLayout ._5bcj .fbChatSidebarBody{background-color:#e7ebf2}
._4lh ._5bcj .fbChatSidebarBody, ._4__a._6nw ._5bcj .fbChatSidebarBody{background-color:#e9eaed}
._5bck:before, ._5bcl:before{background:rgba(255, 255, 255, .35);bottom:0;content:'';left:0;position:absolute;top:0;width:1px}
._5bck:before{background:rgba(255, 255, 255, .05)}
html ._5ap0:after, html body._5bci .fbChatSidebar:after{content:none}
html ._5bci #blueBarHolder #blueBar{padding-right:0}
html.sidebarMode ._5bci #blueBarHolder #blueBar{margin-right:0;padding-right:205px}
div._5bck{color:#fff;display:none;-webkit-font-smoothing:antialiased;font-weight:bold;height:43px;line-height:43px;padding-left:8px;position:relative}
.sidebarMode ._5bck{display:block}
.tinyViewport ._5bck{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAqCAMAAABFoMFOAAAAWlBMVEVOaaJDYJxCX5xBXptIZJ9MZ6E/XJpFYZ1KZqA9W5lGYp5HY55MaKFJZZ9LZqBEYZ1NaaJNaKJNaKFAXZtAXZpLZ6E+XJo+W5lJZaA9Wpk8Wpk8Wpg8WZg7WZj2xcGWAAAANElEQVR42lWGSQoAIBDDHCjo0f8/UxBxQDQuFwlpqgBZBq6+P+unVY1GnDgwqbD2zGz5e1lBdwvGGPE6OgAAAABJRU5ErkJggg==);background-repeat:repeat-x;background-size:auto;background-position:0 0;background-color:#4c66a4}
.tinyViewport ._5bck:after{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAFElEQVQIHWOQM8q8zcDKKSzHAAcAHWQB1AViXrsAAAAASUVORK5CYII=);background-repeat:repeat-x;background-size:auto;background-position:0 0;bottom:-3px;content:'';height:4px;left:0;position:absolute;right:0}
._5bmm{bottom:0;min-height:80px;position:absolute;width:56px}
._5bmh{display:block;height:100%;position:relative}
._5bmi{height:1px;position:absolute;width:56px}
._5bmn{margin-left:17px}
._uq6 + div, ._3q_3 + div{margin-top:15px}
._uq6 + ._3q_3{margin-top:10px}
._4lh ._uq6{margin:0 0 15px}
._4lh ._uq6 + div, ._4lh ._3q_3 + div, ._4lh ._uq6 + ._3q_3{margin-top:0}
.sp_5ukx6o{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y2/r/swi8vJqXlYt.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:24px;width:24px}
.sx_396bca{background-position:0 0}
.sx_d66dd6{background-position:0 -25px}
.sx_e991c9{background-position:0 -50px}
.ogAggregation ul, .ogAggregation li, .ogProfileReport ul, .ogProfileReport li, .layoutSelector li, .layoutSelector ul{list-style-type:none}
.ogAppTab .timelineFullWidthReport{border:1px solid #c4cde0;border-bottom-width:2px;-webkit-border-radius:3px}
.ogAppTab .fbTimelineOneColumn .topBorder, .ogAppTab .fbTimelineOneColumn .bottomBorder{display:none}
.ogAppTab .timelineFullWidthReport{padding:0}
.ogAppTab .timelineFullWidthReport .timelineReportHeader{margin:3px}
.timelineFullWidthReport .timelineReportContent{margin-top:-3px}
.ogAppTab .timelineReportHeader .title{font-size:15px;line-height:inherit;max-width:600px;padding-right:10px;vertical-align:bottom}
.ogAppTab .primaryHeader .title{line-height:16px}
.ogAppTab .noContentUnit{padding:13px 15px;border-top:1px solid #e5e5e5}
.ogAppTab .fbTimelineCapsule .noContentUnit{width:394px}
.ogAppTab .timelineReportContainer .fbTimelineTwoColumn .timelineUnitContainer{margin-bottom:2px;width:390px}
.ogAppTab .timelineFullWidthReport .fbTimelineTwoColumn[data-side="l"] .timelineUnitContainer{margin-right:0}
.ogAppTab .timelineFullWidthReport .fbTimelineTwoColumn[data-side="r"] .timelineUnitContainer{margin-left:0}
.ogAppTab .timelineReportContainer .lastCapsule{margin:0}
.ogAppTab .noContentUnit.fullWidth{text-align:center}
.ogAppTab .noContentUnit .ogProfilePhoto{width:80px;height:80px}
.ogAppTab .noContentUnit.fullWidth .ogProfilePhoto{margin-right:auto;margin-left:auto}
.ogAppTab .noContentUnit .ogProfileTitle{color:#acacac}
.ogProfileBigPhoto .userContentWrapper{padding-left:15px;padding-right:15px}
.ogProfileBigPhoto .photoWrap{margin-bottom:3px}
.ogProfileEditMessageArea{height:14px;width:100%}
.ogProfileTitle{font-weight:bold}
.ogProfileList .listItem{border-bottom:thin solid #e2e2e2}
.ogProfileList .lastItem{border-bottom:0;padding-bottom:0}
.ogProfileList .caption{float:right}
.ogProfileList .imageContainer{height:50px;overflow:hidden;width:50px}
.ogProfileList .imageContainer .innerImage{display:inline;width:50px}
.ogProfileList .ogSeeMoreLink{display:inline-block;padding:0 0 0 60px}
.ogProfileHistogramList .listItem{border-bottom:0}
.ogProfileHistogramList .ogListImage{border-right:1px solid #fff}
.ogProfileHistogramList .ogListText{padding-left:7px}
.ogProfileGallery .caption{word-wrap:break-word}
.ogProfileGallery .imageContainer{overflow:hidden;text-align:center;vertical-align:middle}
.ogProfileList .imageContainer{height:50px;width:50px}
.ogProfileList .timelineAudienceSelector{margin-top:-3px}
.ogProfileGallery .imageContainer{height:87px;width:87px}
.ogProfileGallery .caption, .ogProfileGallery .innerImage{width:87px}
.ogProfileGallery .galleryLink{font-weight:bold}
.ogProfilePoster .imageContainer{height:90px;overflow:hidden;width:90px}
.ogProfilePoster .innerImage{width:90px}
.ogProfilePoster .displayBlock{color:gray;max-height:400px;overflow:hidden}
.ogProfilePoster .short{font-size:13px;font-weight:bold}
.ogProfilePoster .long{font-size:11px}
.ogProfilePoster .title_block{margin-bottom:3px}
.ogProfileTable table{width:100%;table-layout:fixed;word-wrap:break-word}
.ogProfileTable td{border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5}
.ogProfileTable .even{background:#f2f2f2}
.ogProfileTable .even, .ogProfileTable .odd{padding-top:2px;padding-bottom:2px}
.ogProfileTable .header{color:#3b5998;border-top:none;padding-bottom:2px}
.ogProfileTable a{font-weight:bold}
.ogTableItem{margin-bottom:3px;margin-top:3px}
.fbTimelineCapsule .ogAggregation{background:#fff;-webkit-border-radius:0 !important}
.ogActionPermalink{float:right;opacity:0}
.ogActionPermalink:hover{opacity:1}
.ogFeedbackIcon{float:left;height:16px;margin:-1px 7px 0 0;width:16px}
.ogAppTab .ogProfileNumber .bigNumber, .ogAppTab .ogProfileNumber .ogProfileNumberUnits{color:#6278ae}
.ogAppTab .fbTimelineOneColumn .ogProfileList, .ogAppTab .fbTimelineOneColumn .ogProfileNumber, .ogAppTab .fbTimelineOneColumn .ogProfilePoster, .ogAppTab .fbTimelineOneColumn .ogProfileGallery{margin-left:3px}
.ogAppTab .timelineReportContainer .timelineUnitContainer .aboveUnitContent{margin-bottom:10px}
.ogAppTab .fbTimelineOneColumn .fbTimelineCapsule .timelineUnitContainer .ogProfileHeader{padding:5px 15px}
.ogAppTab .fbTimelineOneColumn .spinePointer{display:none}
.ogAppTab #all_time .fbTimelineOneColumn{margin-bottom:0}
.ogSpikeUnitHeader .ogTimelineUnitActor{font-size:13px;margin-bottom:2px}
.ogUnitWrapper{margin-top:15px}
.ogProfileReport .ogUnitWraper{margin-top:0}
.ogUnitWrapperBottomMargin{margin-bottom:15px}
.ogProfileReport .ogUnitWrapper{margin:0 -3px}
.ogAppTab .ogUnitWrapper .ogSpikeUnit{margin-bottom:-15px}

#bootloader_4xVXd { height: 42px; }