/*1372382065,173212997*/

.fbPhotoSnowliftHardwareRendering{-webkit-transform:translateZ(0)}
.fbPhotoSnowlift .stageWrapper{background-color:#000;height:100%;max-height:2048px;min-height:480px;position:relative;text-align:center;-webkit-user-select:none}
.fbPhotoSnowlift .stageActions, .fbPhotoSnowlift .snowliftPager, .fbPhotoSnowlift .stageError{line-height:1.28}
.fbPhotoSnowlift .rhc{background-color:#fff;height:100%;overflow:hidden;position:relative;word-wrap:break-word}
.fbPhotoSnowlift .stageActions, .fbPhotoSnowlift .stage .stageWrapper img{-webkit-user-select:none}
.fbPhotoSnowlift .stage{position:relative}
.fbPhotoSnowlift .stageActions{bottom:0;cursor:pointer;height:0;left:0;position:absolute;top:auto;width:100%}
.dataLoading .stageActions{display:none}
.taggingMode .stageActions{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y4/r/-PAXP-deijE.gif) no-repeat;cursor:crosshair;height:100%}
.taggingMode .showVideo .stageActions{height:0}
.fbPhotoSnowlift .snowliftOverlayBar{-webkit-background-clip:padding-box;background-color:rgba(0, 0, 0, .8);bottom:0;color:#b3b3b3;font-size:13px;-webkit-font-smoothing:antialiased;left:0;padding:0;position:absolute;width:100%}
.fbPhotoSnowlift.profilePicCroppingMode .snowliftOverlayBar{background-color:rgba(0, 0, 0, .6)}
.fbPhotoSnowlift .snowliftOverlayBar.rightButtons{text-align:left}
.fbPhotoSnowlift .snowliftOverlay{opacity:0;-webkit-transform:translateZ(0);-webkit-transition:opacity .3s}
.fbPhotoSnowlift .fbPhotosPhotoButtons{cursor:default;position:relative;-webkit-user-select:none}
.fbPhotoSnowlift .fbPhotosPhotoButtons .saveProfilePicMessage, .fbPhotoSnowlift .fbPhotosPhotoButtons .tagMessage, .fbPhotoSnowlift .fbPhotosPhotoButtons .cropMessage{color:#bbb;display:none;padding:5px 10px 6px;vertical-align:middle}
.fbPhotoSnowlift .rightButtons .fbPhotosPhotoButtons .saveProfilePicMessage, .fbPhotoSnowlift .rightButtons .fbPhotosPhotoButtons .tagMessage, .fbPhotoSnowlift .rightButtons .fbPhotosPhotoButtons .cropMessage{padding:3px 10px}
.fbPhotoSnowlift .fbPhotosPhotoButtons, .fbPhotoSnowlift.profilePicSavingMode .fbPhotosPhotoButtons .saveProfilePicMessage, .fbPhotoSnowlift.taggingMode .fbPhotosPhotoButtons .tagMessage, .fbPhotoSnowlift.profilePicCroppingMode .fbPhotosPhotoButtons .cropMessage{display:inline-block}
.fbPhotoSnowlift .fbPhotosPhotoButtons .tagMessage .doneTaggingLink{margin-left:10px}
.fbPhotoSnowlift .fbPhotosPhotoButtons .separatorBorder{border-left:rgba(255, 255, 255, .2) 1px solid;display:inline-block;height:15px;margin-left:5px;vertical-align:middle}
.fbPhotoSnowlift .snowliftOverlayBar a{color:#fff;font-weight:bold}
.fbPhotoSnowlift.pagingActivated .snowliftOverlay, .fbPhotoSnowlift.profilePicSavingMode .snowliftOverlay, .fbPhotoSnowlift.taggingMode .snowliftOverlay, .fbPhotoSnowlift.profilePicCroppingMode .snowliftOverlay{opacity:1}
.fbPhotoSnowlift.profilePicCroppingMode .snowliftOverlay{z-index:2}
.fbPhotoSnowlift .mediaTitleInfo{margin:8px 10px 0;text-align:right;white-space:nowrap}
.fbPhotoSnowlift .rightButtons .mediaTitleInfo{margin-top:3px;overflow:hidden;text-align:left}
.fbPhotoSnowlift .rightButtons #fbPhotoSnowliftMediaTitle{display:inline;height:2.56em}
.fbPhotoSnowlift .rightButtons .mediaTitleBoxFlex #fbPhotoSnowliftMediaTitle{-webkit-box-flex:1}
.fbPhotoSnowlift .rightButtons .mediaTitleBoxFlex #fbPhotoSnowliftPositionAndCount{-webkit-box-flex:0}
.fbPhotoSnowlift .rightButtons .mediaTitleBoxFlex .mediaTitleInfoSpacer{-webkit-box-flex:1000}
.fbPhotoSnowlift .rightButtons .mediaTitleBoxFlex, .fbPhotoSnowlift .rightButtons .mediaTitleBoxFlex #fbPhotoSnowliftMediaTitle, .fbPhotoSnowlift .rightButtons .mediaTitleBoxFlex #fbPhotoSnowliftPositionAndCount, .fbPhotoSnowlift .rightButtons .mediaTitleBoxFlex .mediaTitleInfoSpacer{display:-webkit-box}
.fbPhotoSnowlift.taggingMode .rightButtons .mediaTitleBoxFlex, .fbPhotoSnowlift.taggingMode .rightButtons .fbPhotosPhotoActions, .fbPhotoSnowlift.taggingMode .fbPhotosPhotoButtons .separatorBorder, .fbPhotoSnowlift.taggingMode .mediaTitleInfo, .fbPhotoSnowlift.profilePicSavingMode .rightButtons .mediaTitleBoxFlex, .fbPhotoSnowlift.profilePicSavingMode .rightButtons .fbPhotosPhotoActions, .fbPhotoSnowlift.profilePicSavingMode .fbPhotosPhotoButtons .separatorBorder, .fbPhotoSnowlift.profilePicSavingMode .mediaTitleInfo, .fbPhotoSnowlift.profilePicCroppingMode .rightButtons .mediaTitleBoxFlex, .fbPhotoSnowlift.profilePicCroppingMode .rightButtons .fbPhotosPhotoActions, .fbPhotoSnowlift.profilePicCroppingMode .fbPhotosPhotoButtons .separatorBorder, .fbPhotoSnowlift.profilePicCroppingMode .mediaTitleInfo{display:none}
.fbPhotoSnowlift .rightButtons .overlayBarButtons{margin:8px 10px}
.rightButtons #fbPhotoSnowliftMediaTitle .fbPhotoMediaTitle, .rightButtons #fbPhotoSnowliftPositionAndCount{line-height:33px}
.webkit .fbPhotoSnowlift .rightButtons .mediaTitleBoxFlex .fbPhotoMediaTitle{display:block;width:100%}
#fbPhotoSnowliftMediaTitle .fbPhotoMediaTitle.hasAlbumLink{display:block;line-height:1.28}
.fbPhotoSnowlift .mediaTitleInfo #fbPhotoSnowliftMediaTitle, .fbPhotoSnowlift .rightButtons .mediaTitleBoxFlex, .fbPhotoSnowlift .rightButtons .mediaTitleBoxFlex .fbPhotoMediaTitle{overflow:hidden;text-overflow:ellipsis}
.fbPhotoSnowlift.taggingMode .overlayBarButtons, .fbPhotoSnowlift.taggingMode .fbPhotosPhotoButtons, .fbPhotoSnowlift.profilePicSavingMode .overlayBarButtons, .fbPhotoSnowlift.profilePicSavingMode .fbPhotosPhotoButtons, .fbPhotoSnowlift.profilePicCroppingMode .overlayBarButtons, .fbPhotoSnowlift.profilePicCroppingMode .fbPhotosPhotoButtons{text-align:center;width:100%}
.fbPhotoSnowlift .fbPhotosPhotoButtons .buttonLink{display:inline-block;vertical-align:bottom}
.fbPhotoSnowlift .rightButtons .fbPhotosPhotoButtons .buttonLink{margin-left:6px;margin-right:0;padding:3px 5px}
.fbPhotoSnowlift .rightButtons .buttonLink{opacity:.7}
.fbPhotoSnowlift .rightButtons .buttonLink:hover{opacity:1}
.fbPhotoSnowlift .fbPhotosPhotoButtons .buttonLink span{float:left}
.fbPhotoSnowlift .fbPhotosPhotoButtons .fbPhotosPhotoLike.viewerLikesThis .uiIconText{padding-left:0 !important}
.fbPhotoSnowlift .fbPhotosPhotoButtons .fbPhotosPhotoLike.viewerLikesThis i, .fbxPhoto.fbPhotoSnowlift .fbPhotosPhotoButtons .fbPhotosPhotoLike.viewerAlreadyLikedThis{display:none}
.fbPhotoSnowlift .stage{cursor:pointer;display:block;font-size:0;height:100%;max-height:2048px;min-height:402px;position:relative;text-align:center;width:100%}
.fbPhotoSnowlift .stage .fbPhotosPhotoTagboxes{border:rgba(255, 255, 255, .1) 1px solid;-webkit-box-sizing:border-box;font-size:11px}
.fbPhotoSnowlift .videoStage, .imageLoading .stage, .imagePixelsLoading .stage{background:#000 url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y7/r/pgEFhPxsWZX.gif) no-repeat center center}
.fbPhotoSnowlift .showVideo .videoStage{display:block}
.fbPhotoSnowlift .showVideo .stage, .fbPhotoSnowlift .showOGVideo .stage{display:none}
.fbPhotoSnowlift .videoStage{bottom:40px;display:none;position:absolute;top:40px;width:100%}
.fbPhotoSnowlift .videoStage embed, .fbPhotoSnowlift .videoStage object{display:inline-block !important;max-height:100%;max-width:100%;vertical-align:middle}
.fbPhotoSnowlift .videoStageContainer{height:100%;width:100%}
.videoWarning{line-height:normal}
.fbPhotoSnowlift .stage img{display:inline-block;height:auto;image-rendering:optimizeQuality;max-height:100%;max-width:100%;vertical-align:middle;width:auto}
.fbPhotoSnowlift .stageError{left:50%;margin-left:-278px;margin-top:-82px;position:absolute;text-align:left;top:50%}
.fbPhotoSnowlift .uiButtonOverlay:active{-webkit-box-shadow:0 0 1px rgba(0, 0, 0, .05), 0 0 2px rgba(0, 0, 0, .1), inset 0 1px 0 rgba(0, 0, 0, .08)}
.fbPhotoSnowlift .snowliftPager{display:none;height:45px;margin-top:-22px;opacity:0;position:absolute;top:50%;-webkit-transform:translateZ(0);-webkit-transition:opacity .2s;width:27px;z-index:1}
.fbPhotoSnowlift.pagingReady .snowliftPager{display:block}
.pagingReady.pagingActivated.profilePicCroppingMode .snowliftPager{display:none}
.fbPhotoSnowlift.pagingActivated .snowliftPager{opacity:.4}
.fbPhotoSnowlift.pagingActivated .snowliftPager.hilightPager{opacity:1}
.fbPhotoSnowlift.pagingActivated .fbPhotosPhotoProductTagboxes .innerTagBox, .fbPhotoSnowlift.pagingActivated .fbPhotosPhotoProductTagboxes .borderTagBox{opacity:.5;visibility:visible}
.fbPhotoSnowlift .snowliftPager.prev{left:20px}
.fbPhotoSnowlift .snowliftPager.next{right:20px}
.fbPhotoSnowlift .snowliftPager i{display:block;height:45px;width:27px}
.fbPhotoSnowlift .snowliftPager.prev i{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:-557px -35px}
.fbPhotoSnowlift .snowliftPager.next i{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:-501px -35px}
.fbPhotoSnowlift .fbPhotosPhotoOwnerButtons .uiButton.taggingOn, .fbPhotoSnowlift.taggingMode .fbPhotosPhotoButtons .bottomButtonsBar, .fbPhotoSnowlift.taggingMode .fbPhotosPhotoOwnerButtons .uiButton.taggingOff, .fbPhotoSnowlift.profilePicSavingMode .fbPhotosPhotoButtons .bottomButtonsBar, .fbPhotoSnowlift.profilePicSavingMode .fbPhotosPhotoOwnerButtons .uiButton.taggingOff, .fbPhotoSnowlift.profilePicSavingMode .profilePicViewportGrabby, .fbPhotoSnowlift.profilePicCroppingMode .fbPhotosPhotoButtons .bottomButtonsBar, .fbPhotoSnowlift.profilePicCroppingMode .fbPhotosPhotoOwnerButtons .uiButton.taggingOff, ._5bw- .taggingOn{display:none}
.fbPhotoSnowlift.taggingMode .fbPhotosPhotoOwnerButtons .uiButton.taggingOn, ._5bw-.taggingMode .taggingOn{display:inline-block}
.fbPhotoSnowlift .fbPhotosPhotoOwnerButtons{line-height:20px}
.fbPhotoSnowlift .fbPhotosPhotoOwnerButtons .uiButtonText{font-size:10px}
.fbPhotoSnowliftVideoTitle{display:block;font-weight:bold;margin-top:15px}
.fbPhotoSnowlift a.uiButtonOverlay, .fbPhotoSnowlift a.uiButtonOverlay:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:0 -5px}
.fbPhotoSnowlift a.uiButtonOverlay:active, .fbPhotoSnowlift a.uiButtonOverlay:focus{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:0 -54px;-webkit-box-shadow:0 0 1px rgba(0, 0, 0, .05), 0 0 2px rgba(0, 0, 0, .1), inset 0 1px 0 rgba(0, 0, 0, .08)}
.fbPhotoSnowlift a.uiButtonOverlay.uiButtonDisabled{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:0 -5px}
#fbPhotoSnowliftAuthorPic{margin-right:10px}
.fbPhotoSnowlift .uiStreamSecondaryTime{margin-right:5px}
.fbPhotoSnowlift .fbPhotosImplicitLocLink, .fbPhotoSnowlift .fbPhotosAppLink{color:gray}
.fbPhotoSnowlift .fbPhotoSnowliftControls{padding:3px 7px 2px 15px;text-align:right}
._5bw- .fbPhotoSnowliftControls{padding:0;position:absolute;right:11px;top:10px;z-index:2}
.fbPhotoSnowlift .fbPhotosPhotoActions{border-top:0;vertical-align:top}
.fbPhotoSnowlift .rightButtons .fbPhotosPhotoActions{vertical-align:middle}
.bottomBarActions a.fbPhotoSnowliftDropdownButton, .bottomBarActions a.fbPhotoSnowliftDropdownButton:active, .bottomBarActions a.fbPhotoSnowliftDropdownButton:focus, .bottomBarActions a.fbPhotoSnowliftDropdownButton:hover{background:transparent none;border:1px transparent solid;-webkit-border-radius:2px;-webkit-box-shadow:none;height:16px;padding-right:5px}
.bottomBarActions a.fbPhotoSnowliftDropdownButton{opacity:.7}
.bottomBarActions a.fbPhotoSnowliftDropdownButton:hover, .bottomBarActions.openToggler a.fbPhotoSnowliftDropdownButton, .overlayBarButtons a.buttonLink:hover{background-color:rgba(255, 255, 255, .2);border-color:transparent;-webkit-border-radius:2px;opacity:1;text-decoration:none}
.fbPhotoSnowlift .rightButtons .fbPhotosPhotoActions .tagButton{line-height:22px;margin-right:5px;padding:3px 5px}
.bottomBarActions .uiButton .uiButtonText{color:#fff;font-size:13px}
.fbPhotoSnowlift .closeTheater{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:-546px -81px;display:inline-block;height:12px;margin-left:5px;margin-top:2px;width:11px}
#fbPhotoSnowliftOnProfile{padding-top:0}
.fbPhotoSnowliftBackdate{margin:10px 0}
.fbPhotoSnowliftAudience.fbPhotosAudienceContainerEditable, .fbPhotoSnowliftAudience.fbPhotosAudienceContainerNotEditable{display:inline-block;margin-right:10px}
.fbPhotoSnowliftAudience.fbPhotosAudienceContainerNotEditable{margin-top:5px}
.fbPhotoSnowlift .rhcBody{position:relative;z-index:1}
.fbPhotoSnowlift .rhcScroller{width:100% !important}
.fbPhotoSnowlift.dataLoading .rhcScroller, .fbPhotoSnowlift.dataLoading .fbPhotosSnowboxFeedbackInput{visibility:hidden}
.fbPhotoSnowlift .rhcScroller.contentBefore::before{border-top:1px solid rgba(0, 0, 0, .1)}
.fbPhotoSnowlift .rhcScroller .uiScrollableAreaContent{padding:0 20px 0}
.fbPhotoSnowlift .fbPhotosSnowliftUfi{width:auto}
.fbPhotoSnowlift .pinnedUfi .fbPhotosSnowliftUfi{margin-bottom:-1px}
.fbPhotoSnowlift .UFIArrow{margin-bottom:-1px}
.fbPhotoSnowlift .UFIAddComment{margin-top:0;padding-left:5px;padding-right:5px}
.fbPhotoSnowlift .pinnedUfi .UFIAddComment{padding-left:25px;padding-right:20px}
.fbPhotoSnowlift .pinnedUfi .UFIReplyList .UFIAddComment{padding-left:5px;padding-right:5px}
.fbPhotosSnowliftFeedback{margin-top:8px}
.fbPhotosSnowliftFeedbackForm{position:relative}
.fbPhotosSnowboxFeedbackInput{bottom:0;left:0;margin:0 20px;position:absolute;right:0;z-index:1}
.pinnedUfi .fbPhotosSnowboxFeedbackInput{margin-left:0;margin-right:0}
.fbPhotosSnowboxFeedbackInput .fbPhotosSnowliftUfi{padding-top:0}
.pinnedUfi .fbPhotosSnowboxFeedbackInput .fbPhotosSnowliftUfi{padding-top:1px}
.fbPhotosSnowboxFeedbackInput .fbPhotosSnowliftUfi .uiMentionsInput{max-height:100px;overflow-x:hidden;overflow-y:auto}
.fbPhotosSnowboxFeedbackInput .fbPhotosSnowliftUfi .uiMentionsInput textarea{-webkit-box-sizing:border-box}
.fbPhotoSnowlift.fbxPhoto .fbPhotoRemoveFromProfile{border-bottom:0;border-top:0;padding:0}
.fbPhotoSnowlift.fbxPhoto._5bw- .fbPhotoRemoveFromProfile{padding:4px 0 0 4px}
.fbPhotoSnowlift .ego_column{width:auto}
.fbPhotoSnowlift .ego_column > .wrapper > .inner{margin-top:-10px;padding:0 20px 10px}
.fbPhotoSnowlift .ego_column > .wrapper:first-child > .inner{margin-top:0;padding-top:15px}
.fbPhotoSnowlift .ego_section, .fbPhotoSnowlift .ego_unit{margin:0;margin-bottom:5px}
.fbPhotoSnowlift .ego_unit_container .ego_unit{border-top:1px solid #e9e9e9;padding-top:5px}
.fbPhotoSnowlift .ego_unit_container .wrapper:first-child .ego_unit{border-top:0;padding-top:0}
.fbPhotoSnowlift .ego_unit_container .wrapper .ego_unit_no_top_border{border-top:0;padding-top:0}
#fbPhotoSnowliftCaption, #fbPhotoSnowliftTagList, #fbPhotoSnowliftCaption .text_exposed_link{font-size:13px;line-height:18px}
.fbPhotoSnowlift.fbxPhoto .fbPhotoContributorName{font-size:13px;line-height:18px}
.fbPhotoSnowlift.fbxPhoto .fbPhotoContributorAction{font-weight:normal}
.fbPhotoSnowlift.fbxPhoto .fbPhotoContributorAction .passiveName{font-weight:bold}
.fbPhotoSnowlift.fbxPhoto .fbPhotoContributorWishlist{font-weight:normal}
.fbPhotoSnowlift.fbxPhoto .fbPhotoContributorProduct{font-weight:normal}
#fbPhotoUndoSpamReport div{background-color:#ffebe5;margin:1px 0;padding:5px}
.fbPhotosSnowliftAudienceSelector a.uiSelectorButton{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:right -400px;background:none;padding:2px 24px 1px 6px !important}
.fbPhotosSnowliftAudienceSelector a.uiSelectorButton:active, .fbPhotosSnowliftAudienceSelector a.uiSelectorButton:focus, .fbPhotosSnowliftAudienceSelector a.uiSelectorButton:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:right -203px;border:1px solid #999}
.fbPhotosSnowliftAudienceSelector .openToggler a.uiSelectorButton, .fbPhotosSnowliftAudienceSelector .openToggler a.uiSelectorButton:active, .fbPhotosSnowliftAudienceSelector .openToggler a.uiSelectorButton:focus, .fbPhotosSnowliftAudienceSelector .openToggler a.uiSelectorButton:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:right -252px;border:1px solid #999}
#fbPhotoSnowliftAudienceSelector{display:inline-block;margin-bottom:-4px;margin-left:0;margin-top:0;vertical-align:top}
._5bw- #fbPhotoSnowliftAudienceSelector a{margin-top:-2px}
.fbPhotoSnowlift .fbPhotoRemoveFromProfileLink .img{display:none}
.fbPhotoSnowliftVideoActions{font-size:11px}
.fbPhotoSnowlift.collapseRHC .rhc, .fbPhotoSnowlift .fbPhotosPhotoButtons .fbPhotoSnowliftCollapse.buttonLink, .fbPhotoSnowlift .closeTheater.fullscreenCommentClose, .fbPhotoSnowliftFullScreenDisable{display:none}
.fbPhotoSnowlift .fullScreenSwitch{display:none;padding:5px;position:absolute;right:10px;top:10px;z-index:1}
.fbPhotoSnowlift .fullScreenSwitch a{height:13px;opacity:0;-webkit-transform:translateZ(0);-webkit-transition:opacity .3s;width:13px}
.fbPhotoSnowlift .fullScreenSwitch.fullScreenNUX a, .fbPhotoSnowlift.pagingActivated .fullScreenSwitch a, .fbPhotoSnowlift.taggingMode .fullScreenSwitch a, .fbPhotoSnowlift.profilePicCroppingMode .fullScreenSwitch a{opacity:.5}
.fbPhotoSnowlift.pagingActivated .fullScreenSwitch a:hover{opacity:1}
#fbPhotoSnowliftFullScreenClose, .dataLoading .fullScreenSwitch.fbPhotoSnowliftFullScreen, .showVideo .fullScreenSwitch.fbPhotoSnowliftFullScreen{display:none}
.fbPhotoSnowlift .fbPhotosPhotoButtons .separatorBorder.fbPhotoSnowliftExpand, .fbPhotoMediaTitleFullScreen{display:none}
.fbPhotoSnowliftFullScreenSeparator, .fbPhotoSnowliftFullScreen{display:none}
.fbPhotoCurationOptions .uiPopoverButton .uiButtonText{color:gray}
.fbPhotoCurationOptions .uiPopoverButton:hover .uiButtonText{color:#333}
.fbPhotoCurationOptions .openToggler .uiPopoverButton .uiButtonText{color:#fff}
.fbPhotoCurationOptions .uiPopover{margin-left:-4px}
.fbPhotoCurationOptions .uiPopoverButton, .fbPhotoCurationOptions .uiPopoverButton:hover{padding-left:0;padding-right:20px}
.fbPhotoCurationOptions .uiPopoverButton .customimg{margin-right:0}
#fbPhotoSnowliftTaggedProducts .uiList li:first-child{border-top-width:1px;padding-top:10px}
#fbPhotoSnowliftTaggedProducts .uiList li:last-child{border-bottom-width:1px;padding-bottom:10px}
#fbPhotoSnowliftMoreProducts .gridContainer{border-top:solid #aaa 1px}
.fbPhotosSnowliftProductMetadata{bottom:0;padding:15px 0 20px;position:absolute}
.fbPhotoSnowlift .fbPhotosCornerWantButton{line-height:normal}
#fbPhotoSnowliftInlineEditor .inputtext{-webkit-box-sizing:border-box;width:100%}
.fbStreamDebugInfoToggle{outline:none}
.fbStreamDebugInfoToggle:hover{text-decoration:none}
.fbStreamDebugInfo{background-color:#000;color:#fff;display:none;position:absolute;width:750px;z-index:1}
.fbStreamDebugInfoToggle:hover .fbStreamDebugInfo{display:block}

#bootloader_maqPB { height: 42px; }