/*1366599513,178142517*/

body.fbPhotoSnowliftFullScreenMode{overflow:hidden}
.fullScreen .fullScreenAvailable #fbPhotoSnowliftFullScreenSwitch, .fullScreen .fbPhotoSnowlift .closeTheater, .fullScreen .fbPhotoSnowliftFullScreenEnable{display:none}
.fullScreen .fbPhotoSnowliftFullScreenDisable{display:inline}
.fullScreen .fbPhotoSnowlift .closeTheater.fullscreenCommentClose{display:inline-block}
.fullScreenAvailable #fbPhotoSnowliftFullScreenSwitch{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/QLNZdqY-hoU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -92px;display:block}
.collapseRHC #fbPhotoSnowliftFullScreenClose{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yB/r/AE2Xu4f5BtY.png);background-repeat:no-repeat;background-size:auto;background-position:-91px -43px;display:block}
.fullScreen .fbPhotoSnowlift, .fullScreen .fbPhotoSnowlift > div, .fullScreen .fbPhotoSnowlift > div > div{background-color:#000;margin:0;overflow-y:hidden}
.fullScreen .fbPhotoSnowlift .fbPhotosPhotoButtons .separatorBorder.fbPhotoSnowliftExpand, .fullScreen .fbPhotoSnowlift .fbPhotosPhotoButtons .fbPhotoSnowliftCollapse.buttonLink{display:inline-block;vertical-align:middle}
.fbPhotoSnowliftCollapse .likeCount{margin-right:10px}
.fbPhotoSnowliftCollapse .commentCount i{margin-top:2px}
.fullScreen .taggingMode .fbPhotosPhotoButtons .separatorBorder.fbPhotoSnowliftExpand{display:none}
.fullScreen .fbPhotoSnowliftPopup{margin:0}
.fullScreen .fbPhotoSnowlift .stage .fbPhotosPhotoTagboxes{border:none}
.rightButtons .fbPhotosPhotoButtons .fbPhotoSnowliftCollapse:hover{text-decoration:none}
.fullScreen .fbPhotoMediaTitleFullScreen{display:inline;line-height:33px}
.fullScreen .fbPhotoMediaTitleNoFullScreen{display:none}
.fullScreen .fbPhotoSnowliftProfilePic{border:1px solid #333;margin-right:5px;position:relative;top:-1px;vertical-align:middle}
.fullScreenAvailable .fbPhotoSnowliftFullScreenSeparator, .fullScreenAvailable .fbPhotoSnowliftFullScreen{display:block}
.fullScreenAvailable .fbPhotoSnowliftFullScreenSeparator.videoOnFullScreen, .fullScreenAvailable .fbPhotoSnowliftFullScreen.videoOnFullScreen{display:none}
.profilePicCroppingMode .fullScreenSwitch{display:none}
.fullScreen .showVideo .fullScreenSwitch.fbPhotoSnowliftFullScreen, .fullScreen .fbPhotoSnowliftFullScreenSeparator.videoOnFullScreen, .fullScreen .fbPhotoSnowliftFullScreen.videoOnFullScreen{display:block}

#bootloader_VDymv { height: 42px; }