/*1372639253,178130491*/

._4s6g{background:#f6f7fb url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yx/r/dF5rIf0UKwA.png) right center no-repeat;border-bottom:1px dashed #ced5e5;margin-top:-5px;min-height:115px;position:relative}
._6nw ._4s6g{border-bottom:1px solid #d3d6db;margin:0 12px}
._4s6h{margin-right:350px}
._4s6i{margin-top:-11px;padding-right:20px;position:absolute;right:0;text-align:right;top:50%;width:350px}
.fbConnectWidgetTopmost{border:1px solid #aaa;border-top-color:#315c99;overflow:hidden;padding:0;position:relative}
div.fbDarkWidget{background-color:transparent}
.fbDarkWidget .fbWidgetTitle{color:#fff}
.fbDarkWidget a,
.fbDarkWidget .profileName{color:#fff}
.fbDarkWidget a.uiLinkSubtle{color:gray}
.fbDarkWidget a.fbCommentOverlayLink{color:#3b5998}
div.ConnectActivityLogin{border-width:0 0 1px;zoom:1}
.fbDarkWidget div.ConnectActivityLogin{border-color:#303030;background-color:#000}
.fbProfilePic{height:35px;width:35px}
.fbLoginButton{float:left}
.ConnectActivityLoginMessage{color:#666;line-height:14px;vertical-align:top;zoom:1}
.fbDarkWidget .ConnectActivityLoginMessage{color:gray}
.fbConnectWidgetFooter{bottom:0;cursor:default;position:absolute;width:100%}
.transparent_widget .fbDarkWidget .fbConnectWidgetFooter{background-color:transparent}
.fbConnectWidgetFooter .fbFooterBorder{border-top:1px solid #ccc;margin:0 6px;padding:4px 3px}
.fbDarkWidget .fbConnectWidgetFooter .fbFooterBorder{border-top:1px solid #444}
.fbConnectWidgetContent, .fbImageContainer img{visibility:hidden}
.fbConnectWidgetContent, .fbGalleryRecommendationsImageContainer img{visibility:hidden}
div.fbHalfPage{overflow:hidden}
div.fbAdminOptions{float:right}
body.transparent_widget{background-color:transparent;overflow:hidden}
body.plugin.transparent_widget{overflow-y:hidden}
.connect_widget{background-color:transparent}
.connect_widget .connect_widget_facebook_favicon{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y7/r/ql9vukDCc4R.png) no-repeat -1px -47px transparent;display:block;height:14px;padding:0 0 0 0;width:14px;position:absolute;left:-1px}
body.transparent_widget .generic_dialog_popup,
.connect_widget .generic_dialog_popup{width:400px}
.fbFeedbackContent{-webkit-text-size-adjust:none}
.fbFeedbackContent.fbDarkWidget{border:none}
.fbFeedbackContent .async_saving ul, .fbFeedbackContent .async_saving .indicator, .fbFeedbackContent .async_saving .action_links{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat right}
.fbFeedbackContent.fbDarkWidget .composerHider{border-bottom:1px solid #666;border-top:1px solid #666}
.fbFeedbackContent .composerHider{border-bottom:1px solid #ccc;border-top:1px solid #ccc;margin:0;padding:9px 0 7px}
.fbFeedbackContent .composerHider .uiSelector{margin:-3px 1px}
.fbFeedbackContent .composerHider .uiSelector .uiSelectorButton, .fbFeedbackContent .composerHider .uiSelector .uiSelectorButton:active, .fbFeedbackContent .composerHider .uiSelector .uiSelectorButton:focus, .fbFeedbackContent .composerHider .uiSelector .uiSelectorButton:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:right -398px;background-color:transparent;border:none;-webkit-box-shadow:none;margin:0;outline:0;padding:2px 20px 2px 0}
.fbFeedbackContent .composerHider .uiSelector .uiSelectorButton .uiButtonText{color:#333}
.fbFeedbackContent.fbDarkWidget .composerHider .uiSelector .uiSelectorButton .uiButtonText{color:#fff}
.fbFeedbackContent .composerHider .uiSelector .itemLabel{font-weight:normal}
.fbFeedbackContent .composerHider .uiSelector .checked .itemLabel{font-weight:bold}
.fbFeedbackContent .composerHider a{font-weight:bold}
.fbFeedbackContent .fbThirdPartyIcon{position:relative;right:1px;top:4px}
.fbCommentContext .fbCommentContextPosts{overflow-x:hidden;overflow-y:auto;max-height:400px}
.fbCommentContext .fbCommentContextPosts .fbTopLevelComment{padding-top:0}
.fbCommentContext .composerGrid{width:100%}
.fbCommentContext .composerTight{width:0}
.fbCommentContext .composerReply .uiButton{margin-right:4px}
.fbFeedbackContent .composer{background-color:transparent;background-color:rgba(190, 190, 190, .2);border:solid #e9e9e9;border-width:1px 0;padding:7px 10px 7px 69px;position:relative}
.fbFeedbackContent.fbDarkWidget .composer{background-color:#333;border-color:#666}
.fbFeedbackContent .fbFeedbackPosts .composer{margin-left:-10px}
.fbFeedbackContent .fbFeedbackPostsContainer .fbFeedbackPosts{padding:0}
.fbFeedbackContent .noTopBorder{border-top:0 !important}
.fbDarkWidget .fbCommentContext .composer{background-color:#555;border:none}
.fbCommentContext .composer{background-color:#f2f2f2;border:1px solid #ccc;margin-top:4px;padding-bottom:4px;padding-top:4px;padding-left:70px;position:relative}
.fbFeedbackContent .composer .viewerProfilePic{background-color:#ddd;margin:2px 0 0 0;padding:0 !important;position:absolute;left:10px}
.fbFeedbackContent.fbDarkWidget .fbFeedbackTypeahead, .fbFeedbackContent.fbDarkWidget .fbFeedbackTypeahead .wrap{border-color:#434343}
.fbFeedbackContent.fbDarkWidget .fbFeedbackMentions .mentionsTextarea, .fbFeedbackContent .fbFeedbackMentions .mentionsTextarea{border-width:0;padding:0;margin:0;-webkit-box-shadow:none;background-color:transparent}
.fbFeedbackContent.fbDarkWidget .fbFeedbackMentions{background-color:#000}
.fbFeedbackContent .fbFeedbackMentions{background-color:#fff;margin:2px 0}
.fbFeedbackContent .fbFeedbackMentions .innerWrap{padding:3px}
.fbFeedbackContent .fbFeedbackMentions .highlighter{left:0;top:0}
.fbFeedbackContent.fbDarkWidget .fbFeedbackMentions .highlighter b{background-color:#444}
.fbCommentContext .textwrapper, .fbFeedbackContent .textwrapper{padding:0 8px 0 0}
.fbFeedbackContent .postToProfile{float:left;position:relative;min-width:135px}
.fbFeedbackContent .postToProfile input{position:relative;top:2px}
.fbFeedbackContent div.commentas{color:gray;float:right;margin:4px 6px}
.fbFeedbackContent .indicator{float:left;margin:10px 0 0 -45px;position:absolute}
.fbFeedbackContent select.commentas{float:right;margin:1px 6px}
.hideCommentas .commentas{display:none}
.fbCommentContext.fbDarkWidget .composer textarea, .fbFeedbackContent.fbDarkWidget .composer textarea{color:#fff;background-color:#000;border:1px solid #434343}
.fbCommentContext .composer textarea, .fbFeedbackContent .composer textarea{border-width:0;border:1px solid;border-color:#899bc5;padding:3px;width:100%}
.fbFeedbackContent .replywrapper{padding:0 8px 0 0}
.fbCommentContext .viewerProfilePic{float:left}
.fbCommentContext .replywrapper{width:100%}
.fbCommentContext .replywrappermargin{margin:0 9px}
.fbCommentContext .replywrappermargin .textarea{margin-left:-4px}
.fbFeedbackContent.fbDarkWidget .composerReply{border-top:1px solid #666}
.fbFeedbackContent .composerReply{border-top:1px solid #e9e9e9}
.fbFeedbackContent .composerReply{padding-top:8px}
.fbFeedbackContent .composerReply textarea{width:100%}
.fbFeedbackContent .postContent .action_links{margin-bottom:8px}
.fbFeedbackContent .postBlingBox{border:none;bottom:1px;cursor:text;padding:0;position:relative}
.fbFeedbackContent .postBlingBox:hover{background-color:transparent;border:none}
.fbFeedbackContent .fbUpDownVoteAfterLogin{display:inline}
.fbFeedbackContent .fbFeedbackPager{margin-left:0}
.fbFeedbackContent .fbFeedbackPager .fbFeedbackPagerLink{padding:8px}
.fbFeedbackContent .fbFeedbackReplyPager .fbFeedbackPagerLink{padding:5px 8px}
.fbFeedbackContent .fbFeedbackPager .fbFeedbackPagerLink:hover{text-decoration:none}
.fbFeedbackContent .postReplies .pagerLoader{padding-left:2px}
.fbFeedbackContent{min-height:160px}
.fbCommentContext .fbFeedbackContent{min-height:0}
.fbFeedbackContent .fbFeedbackPosts{padding:0 0 0 10px}
.fbFeedbackContent .star{height:11px;width:11px}
.fbFeedbackContent .followLinkInlineCheck, .fbFeedbackContent .followLinkInlineCheckDark{margin-right:4px}
.fbFeedbackContent .post{margin-top:4px}
.fbFeedbackContent .post input{margin-left:0}
.fbCommentContext .post .uiSelector, .fbCommentContext .cancel .uiSelector, .fbFeedbackContent .post .uiSelector, .fbCommentContext .post .uiButton, .fbCommentContext .cancel .uiButton, .fbFeedbackContent .post .uiButton{float:right}
.fbCommentContext .post .uiSelector .uiButton, .fbCommentContext .cancel .uiSelector .uiButton, .fbFeedbackContent .post .uiSelector .uiButton{float:none}
.fbFeedbackContent .post label.desc{font-weight:normal;position:absolute;top:4px}
.fbFeedbackContent .profileName{font-size:11px}
.fbFeedbackContent .fbFeedbackPost{border:solid #e2e2e2;border-width:1px 0 0;clear:both;padding-bottom:0 !important;padding-top:10px}
.fbFeedbackContent.fbDarkWidget .fbFeedbackPost{border-color:#555}
.fbFeedbackContent li.fbTopLevelComment:first-of-type{border-width:0}
.fbFeedbackContent li.fbTopLevelComment:last-of-type{margin-bottom:-5px}
.fbDarkWidget .fbFeedbackReplies .fbFeedbackPost{border-color:#444}
.fbFeedbackReplies .fbFeedbackPost{border-width:0 0 1px 0;border-color:#e9e9e9}
.fbFeedbackReply form, .fbFeedbackContent .postReply, .postReplies{margin-top:8px}
.postReplies .uiMorePagerLight .uiMorePagerPrimary:hover{background-color:transparent;background-color:rgba(225, 228, 237, .6)}
.postReplies .uiMorePagerInverted .uiMorePagerPrimary, .postReplies .uiMorePagerInverted .uiMorePagerLoader{background-color:transparent;border-width:1px 0 0 0;border-color:#444}
.fbFeedbackContent .uiMorePagerInverted .uiMorePagerPrimary:hover{background-color:#444;border-color:#555}
.fbDarkWidget .closeButton .uiCloseButton, .fbDarkWidget .closeButton .openToggler .uiCloseButton, .fbDarkWidget .closeButtonAfterLogin .uiCloseButton{border:1px solid #000;margin:0}
.fbFeedbackContent .postContainer:hover .closeButton, .fbFeedbackContent .postContainer:hover .closeButtonAfterLogin{visibility:visible}
.fbFeedbackContent .postContainer .closeButton, .fbFeedbackContent .postContainer .closeButtonAfterLogin{float:right;visibility:hidden}
.fbFeedbackPost{position:relative}
.fbFeedbackPost .postContent{margin-top:5px}
.fbDarkWidget .fbFeedbackPost .postText{color:#ccc}
.fbFeedbackPost .postText{color:#1a1a1a;line-height:14px;margin:0 28px 5px 0}
.fbFeedbackPost .postActor{background-color:#ededed;margin-bottom:8px;margin-right:11px}
.fbDarkWidget .postActor{background-color:#333}
.fbFeedbackReplyPager{height:16px;margin-bottom:8px}
.fbFeedbackContent .fbConnectWidgetFooter{position:static}
.fbFeedbackContent .fbConnectWidgetFooter .fbFooterBorder{margin:5px 0 0 0}
.fbTopLevelComment .fbFeedbackReplies .fbCommentReply{border-width:1px 0 0}
.fbFeedbackContent .fbCommentOverlay{border-style:solid;border-width:1px;position:absolute;top:0;left:0;bottom:0;right:0;opacity:.90;font-size:12px}
.fbFeedbackContent .fbReportedByUser{background-color:#fff;border-color:#eee}
.fbFeedbackContent .fbRecentlyBlacklisted{background-color:#444;border-color:#1a1a1a}
.fbFeedbackContent .fbRecentlyPublicized{background-color:#e4ffe2;border-color:#d2f1d0}
.fbFeedbackContent .fbRecentlyPrivatized{background-color:#fffbe8;border-color:#f7e0ff}
.fbFeedbackContent .fbCommentOverlayInsert{position:absolute;top:50%;margin-top:-0.5em;text-align:center;width:100%}
.fbFeedbackContent .fbCommentDownvotedButVisible .postText{color:gray}
.fbFeedbackContent .fbCommentOverlayDark{color:#000}
.fbFeedbackContent .fbCommentOverlayLight{color:#fff}
.fbFeedbackContent .fbCommentOverlayLight a:link, .fbFeedbackContent .fbCommentOverlayLight a:hover, .fbFeedbackContent .fbCommentOverlayLight a:visited, .fbFeedbackContent .fbCommentOverlayLight a:active{color:#999}
.fbCommentsEditSettings .uiInfoTable .label{width:145px;vertical-align:middle}
.fbCommentsEditSettings .uiInfoTable tr{border-top:1px solid #ccc}
.fbCommentsEditSettings .uiInfoTable tr:first-child{border:none}
.fbCommentsEditSettings .uiInfoTable th{padding:10px 5px 10px 0}
.fbCommentsEditSettings .uiInfoTable td{padding:10px 0 10px 5px}
.fbCommentsEditSettings .uiInfoTable tr:first-child th, .fbCommentsEditSettings .uiInfoTable tr:first-child td{padding-top:0}
.fbCommentsEditSettings .uiInfoTable tr:nth-last-child(2) th, .fbCommentsEditSettings .uiInfoTable tr:nth-last-child(2) td{padding-bottom:0}
.fbCommentsEditSettings .uiInfoTable tr:last-child, .fbCommentsEditSettings .uiInfoTable tr.custom_blacklist{border:none}
.fbCommentsEditSettings .uiInfoTable tr.custom_blacklist th, .fbCommentsEditSettings .uiInfoTable tr.custom_blacklist td{padding:0 5px 10px 5px}
.fbDarkWidget .warning a{color:gray}
.fbFeedbackContent .closeButton .editSelector .uiCloseButton{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yh/r/rkQF27utoCR.png)}
.fbFeedbackPost .postContainer .fbCommentEditor textarea{padding:3px;width:100%;border:none}
.fbFeedbackPost .postContainer .fbCommentEditor{padding:7px 10px 7px 10px;min-height:0}
.fbFeedbackPost .postContainer .fbCommentEditor .textBoxContainer{background-color:#fff}
.fbFeedbackPost .postContainer .fbCommentEditor .highlighter{font-size:11px;font-weight:normal}
.contact_importer_widget table.uiInfoTable.noLabel th.label{display:none}
.contact_importer_widget.ci_inputless .as_invite_optout{margin-left:0}
.ci_design_full .contact_importer_widget.ci_inputless .login_form{margin-left:45px}

#ci_module_list{background-color:#fff}
#ci_module_list li.ci_module:hover{background-color:#edeff4;cursor:pointer}
#ci_module_list li.ci_module:hover a.expand_link{text-decoration:underline}
#ci_module_list li.ci_module.expanded{background-color:#edeff4;cursor:default}
#ci_module_list li.expanded .expand_link{display:none}
#ci_modules_hidden .ci_module:first-child{border-top-width:1px}
#wizard_step #ci_module_list, #wizard_step #ci_module_list li.ci_module.expanded, #wizard_step #ci_module_list li.ci_module.expanded:hover{background-color:#ededed}
#wizard_step #ci_module_list li.ci_module:hover{background-color:#fff}
#ci_module_list .ci_module{clear:both;padding-left:10px;padding-right:10px;border-color:#d8dfea}
#ci_module_list .ci_module .ci_module_header{direction:ltr;height:35px;line-height:35px;vertical-align:middle}
#ci_module_list .ci_module .expand_link{display:inline-block;margin-top:11px}
#ci_module_list .other_tools .ci_module_content{margin-left:42px;margin-right:42px}
#ci_module_list .other_tools .ci_module_content a{line-height:22px}
.ci_module_content .instructions{margin-left:46px}
#ci_module_list .ci_module .contact_importer_widget .label{text-align:right;width:130px}
#ci_compact_list .ci_compact_icon_holder{background-repeat:no-repeat;background-position:center;height:40px;padding:5px 0 0 5px;width:40px}
#ci_compact_list .ci_compact_icon_holder:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/dyjIxuzzMJx.png);cursor:pointer}
#ci_compact_list .ci_compact_icon_holder.selected{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/CNhELnGRSSd.png)}
#ci_compact_list .ci_compact_icon{display:inline}
.ci_compact_module_header{border-top:solid 1px #d8dfea;margin-top:8px;padding:5px 0 2px 0}
#ci_compact_right{width:410px}
.ego_contact_importer .contact_importer_widget .ci_submit_container
.ci_submit_button{float:none}
.ego_contact_importer .contact_importer_widget .ci_submit_container
.ci_ego_link_button input{font-weight:bold}
.ego_contact_importer .ASInviteSubmit{margin-left:20px}
.ci_progress_bar_link:hover{text-decoration:none}
.contact_importer_widget .lhs_logo_class{float:left;margin:11px 11px 0 0}
.contact_importer_widget.ci_webmail .unsupported_email{width:275px}
.contact_importer_widget.ci_webmail .unsupported .unsupported_email{display:block}
.contact_importer_widget.ci_webmail .unsupported .disclaimer,
.contact_importer_widget.ci_webmail .unsupported_email,
.contact_importer_widget.ci_webmail .unsupported .ci_submit_container,
.contact_importer_widget.ci_webmail .api .disclaimer{display:none}
.contact_importer_widget.ci_webmail .waiting .ci_login{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) right no-repeat;background-position:98% 50%;background-color:#fff}
.contact_importer_widget.ci_webmail .as_invite_optout{margin-left:60px}
.ego_contact_importer .contact_importer_widget.ci_webmail .valid .ci_login,
.ego_contact_importer .contact_importer_widget.ci_webmail .api .ci_login{padding-right:23px;width:206px;background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/Ar6K0o_04bw.gif) right no-repeat;background-position:98% 50%;background-color:#fff}
.ego_contact_importer .contact_importer_widget.ci_webmail .unsupported .ci_login{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/NS2OPUfKoJa.gif) right no-repeat;background-position:98% 50%;background-color:#fff}
.ego_contact_importer .contact_importer_widget.ci_webmail .ci_password,
.ego_contact_importer .contact_importer_widget.ci_webmail .ci_login{width:226px;margin-bottom:5px}
.ego_friends_found_friends_fields .contact_importer_widget.ci_webmail .valid .ci_login,
.ego_friends_found_friends_fields .contact_importer_widget.ci_webmail .api .ci_login{width:180px}
.ego_friends_found_friends_fields .contact_importer_widget.ci_webmail .ci_password,
.ego_friends_found_friends_fields .contact_importer_widget.ci_webmail .ci_login{width:200px;margin-bottom:6px}
.friend_all_dialog .friend_all_step_1{display:block}
.friend_all_dialog .friend_all_step_2{display:none}
.friend_all_dialog .friend_button{padding:2px 15px}
.FlyoutSubscriptionMenu{min-width:180px}
.SubscriptionMenu .itemLabel{overflow:hidden}
div.SubscriptionMenu .SubscriptionMenuCategory .itemAnchor{font-weight:normal}
div.FriendListSubscribeSubmenu{padding-top:0;padding-bottom:0}
div.FriendListActionMenu, div.InterestListMenuDisconnect{padding-top:0}
div.InterestListMenuLists{padding-bottom:0}
.addToInterestListsClosed .FriendListSubscribeSubmenu{padding-top:4px}
.addToInterestListsOpen .InterestListCreateList{padding-bottom:4px}
.NonFriendSubscriptionMenu .hideFromNonFriend, .isUnsubscribed .SubscribeMenuSettingsItem, .subscriptionMenuOpen .FriendListActionMenu, .subscriptionMenuOpen .FlyoutFriendListMenu, .subscriptionMenuOpen .InterestListMenuLists, .subscriptionMenuOpen .InterestListMenuDisconnect, .subscriptionMenuOpen .FriendListSubscribeSubmenu, .subscriptionMenuOpen .AddToInterestListsMenuItem, .addToInterestListsClosed.subscriptionMenuOpen .FlyoutFriendListMenu, .addToInterestListsClosed.subscriptionMenuOpen .InterestListMenuLists, .addToInterestListsClosed.subscriptionMenuOpen .InterestListMenuDisconnect, .addToInterestListsClosed.subscriptionMenuOpen .FriendListSubscribeSubmenu, .addToInterestListsClosed.subscriptionMenuOpen .AddToInterestListsMenuItem, .addToInterestListsOpen .FriendListSubscribeSubmenu, .addToInterestListsOpen .AddToInterestListsMenuItem, .addToInterestListsOpen .InterestListMenuDisconnect, .addToInterestListsClosed .InterestListMenuLists, .addToInterestListsClosed .InterestListMenuGoBack, .cannotSubscribe .FriendListSubscribeSubmenu, .noSubscriptionLevels .SubscribeMenuSettingsItem, .noSubscribeCheckbox .SubscribeMenuSubscribeCheckbox, .pagesSubscribeButtonFlyout .SubscribeMenuSubscribeCheckbox, .FriendListSubscriptionsMenu{display:none}
.addToInterestListsOpen .InterestListMenuGoBack, .addToInterestListsOpen .InterestListMenuLists, .addToInterestListsClosed .FriendListSubscribeSubmenu, .addToInterestListsClosed .AddToInterestListsMenuItem, .addToInterestListsClosed .InterestListMenuDisconnect, .subscriptionMenuOpen .FriendListSubscriptionsMenu{display:block}
span.FollowLink .followLinkInlineCheck{display:inline;margin-right:4px}
.followLinkSubscribed{cursor:default}
.friendBrowserCheckboxFilters{width:200px;margin:0 auto;float:left}
.friendBrowserCheckboxFilterHeader{margin-bottom:3px}
.friendBrowserCheckboxFilterTypeahead{margin-top:3px}
.friendBrowserCheckboxFilterTypeahead .friendBrowserSearchInput{width:192px}
.friendBrowserCheckboxContent{width:493px;float:right;position:relative}
.friendBrowserCheckboxContentOnload{opacity:.3}
.friendBrowserSubTitle{margin-top:2px;margin-bottom:15px}
.friendBrowserHeader{margin-bottom:15px}
.friendBrowserPage{width:713px}
.friendBrowserPage label{color:#333;font-weight:normal}
.friendBrowserTypeahead .DOMControl_placeholder{color:#bbb}
.friendBrowsingCheckboxContentLoadingIndicator{position:absolute;z-index:1;top:90px;left:50%}
.friendBrowserGrid{width:100%}
.friendBrowserBlankState{position:relative;text-align:center;top:100px}
.friend_browser_page_name_box{min-height:65px;line-height:15px;text-align:left;width:100px}
.friend_browser_page_name_box.huger{min-height:0;padding-top:5px;margin-right:7px;width:112px}
.friend_browser_addfriend_icon{margin:4px 4px 0 0}
.friendBrowserRequesting .friendBrowserMutualFriendLink, .friendBrowserRequested .friendBrowserMutualFriendLink, .friendBrowserRequesting .friendBrowserSendingMessage, .friendBrowserRequested .friendBrowserUndoLink{display:none}
.friendBrowserRequesting .friendBrowserPicture, .friendBrowserRequested .friendBrowserPicture{opacity:.3}
.friendBrowserExtraSpacing{margin:3px 0}
.friendBrowserPhotoWrapper{height:75px;width:75px}
.friendBrowserPhotoCrop{background:#eee;height:75px;width:75px;overflow:hidden;position:absolute}
div.friendBrowserContentAlignMiddle{height:75px;vertical-align:middle !important}
.friendBrowserMarginTopTiny{margin-top:2px}
.friendBrowserMarginTopMini{margin-top:4px}
.friendBrowserAuxAlignMiddle{margin-top:26px}
.friendBrowserUnit .photoContainer{position:relative}
.friendBrowserUnit .closeButtonContainer{left:80px;position:absolute;top:3px;visibility:hidden}
.friendBrowserUnit .closeButtonContainer.huger{left:94px}
.friendBrowserPicture.huger{height:112px;width:112px}
.friendBrowserUnit .smallButton .closeButtonContainer{top:-3px}
.friendBrowserUnit .horizontalLayout .closeButtonContainer{left:172px}
.friendBrowserUnit:hover .discardable .closeButtonContainer, .friendBrowserUnit .discardable .closeButtonContainer.visibleClose{visibility:visible}
.gridUnitPlaceholder{width:110px}
.localeCustomLayout .friendBrowserUnit{padding:6px 0 2px 0}
._2tk{background-color:#e7ebf2}
._2tk #globalContainer{width:981px}
.sidebarMode ._2tk #globalContainer{padding-right:205px}
.sidebarMode ._58v4 ._2tk #globalContainer{padding-left:205px;padding-right:0}
._30d{background-color:#fff;border-color:#c4cde0;-webkit-border-radius:3px;border-style:solid;border-width:1px 1px 2px;padding-bottom:0}
._34e{font-size:14px;font-weight:bold}
._34f{font-size:11px;margin-top:3px}
._3-z{border-top:1px solid #e9e9e9;margin-bottom:10px;padding-top:10px}
._2tk ._30d ._5cz{background-color:#fff;border:none;padding:15px}
._30d ._646{border-top:1px solid #e9e9e9}
#FriendRequestMorePager ._5cz:hover{background-color:#fff}
._647{margin-left:180px;width:514px;padding-bottom:20px}
._648{margin-left:0;width:655px}
._649{margin-top:20px;width:244px}
._6-_{font-size:13px;font-weight:bold;margin-bottom:4px;margin-top:10px}
._6_0{padding-top:15px;padding-bottom:5px}
._6_1{padding-top:2px}
._2tk ._30d .title{display:none}
._2tk ._5c4{display:none;top:50%;left:50%;margin:-5px 0 0 -8px;position:relative}
._2tk .async_saving ._5c4{display:inline}
._2tk .async_saving ._5c5{visibility:hidden}
#contentCol ._re.megaphone_box{margin-left:0;padding-top:12px}
._rf{border-top:1px solid #e9eaf2;margin-top:10px;margin-bottom:15px}
._rg{margin-top:3px;margin-bottom:5px;display:inline-block}
._5844{padding-right:12px}
._5845{line-height:18px;margin-top:0;padding-bottom:0;padding-top:3px;vertical-align:top}
._5846{background-color:#e9eaed;height:1px;margin-bottom:20px;margin-top:12px;width:100%}
._fm .large{position:relative}
._fm .large .megaphone_box{margin-bottom:-20px;margin-left:0;min-height:115px;overflow:hidden;padding-bottom:12px;padding-left:18px;padding-top:16px;width:761px}
._fm .rightOneRow{position:absolute;right:8px;top:-18px}
._fm .rightTwoRows{position:absolute;right:8px;top:-2px}
._fm .left{position:relative;width:380px;z-index:1}
._fm .content{margin-top:13px}
._fm .contentBorder{border-bottom:1px solid #e8eaf2;padding-bottom:12px}
._fm .contact_importer_widget{margin-top:11px}
._fm .contact_importer_widget .ci_login, ._fm .contact_importer_widget .ci_password{width:230px}
._fm
.contact_importer_widget .ci_submit_container{margin-top:2px}
._fm .contact_importer_widget .disclaimer{margin-top:10px}
._fm .contact_importer_widget
.ci_button_disclaimer_row{margin-top:2px}
._fm .contact_importer_widget
.ci_button_disclaimer_row .disclaimer{margin-top:2px}
._fm .megaphone_story .megaphone_hide_link{position:absolute;top:1px;right:1px;z-index:1}
._5848 ._fm .content{margin-top:6px;width:480px}
._5848 ._fm .contentBorder{border-bottom:1px solid #e8eaed;padding-bottom:15px}
._5848 ._fm .contact_importer_widget .ci_login, ._5848 ._fm .contact_importer_widget .ci_password{width:260px}
._5848 ._fm .contact_importer_widget{margin-top:15px}
._5848 ._fm .large .megaphone_box{margin-bottom:0;padding:15px 0}
._5848 ._fm .contact_importer_widget .ci_button_disclaimer_row{margin-top:-1px}
._5848 ._fm .ci_button_disclaimer_row img{margin-top:4px}
._5848 ._fm .ci_button_disclaimer_row td:last-child{width:100%}
.timelineTourStarted #pagelet_above_header_timeline{height:100px;z-index:200}
.timelineTourStarted .fbTimelineStickyHeader, .timelineTourStarted #fbProfileCover .fbProfileCoverPhotoSelector, .fbTimelineToolbar{display:none}
.fbTimelineToolbar .tourDescription{line-height:160%;padding:0;width:100%}
.timelineTour .fbTimelineToolbar{display:block;margin-bottom:10px;width:851px}
.fbTimelineToolbar .fbTimelineFileForm{position:relative}
.fbTimelineTopSection #fbTimelineHeadline .nuxWebcamImage{height:167px;top:-21px;width:125px}
.timelineTour .uiMarketingToolbar .tourSteplist, .timelineTour .uiStepListSingleLine ol{background:#fff}
.timelineTour .toolbarContentContainer{background-color:#fff;border-bottom:1px dashed #b7c1d7;padding:15px 20px}
.timelineTour .fbTimelineTopSection{padding-top:0}
.timelineTourCoverPhoto #fbProfileCover .cover .coverImage{background:#ededf6;height:315px;overflow:hidden;position:relative}
.timelineTourCoverPhoto #fbProfileCover .coverWrap{cursor:move;cursor:-webkit-grab}
.timelineTourCoverPhoto .profilePicThumb{z-index:-1}
.timelineTourCoverPhoto #fbProfileCover .tourCoverPreview{position:absolute;min-width:100%;min-height:100%;opacity:0}
#coverSelected{background:#fff8d7;border:1px solid #e6c50d;margin:18px 0 4px 0;padding:15px}
.cursorDrag{cursor:move}
#coverPickDifferentPhoto{float:left}
.timelineTourStarted .contextualBlind{background-color:#e7ebf2}
.timelineTourStarted #fbProfileCover, .timelineTourStarted #fbProfileCover h2, .timelineTourStarted #fbProfileCover h2 a, .timelineTourStarted #fbProfileCover .cover, .timelineTourStarted #fbProfileCover .profilePic, .timelineTourStarted #fbProfileCover .profilePicThumb, .timelineTourStarted #fbProfileCover .coverImage, .timelineTourStarted #fbProfileCover .coverImage .coverPhotoImg, .timelineTourStarted .fbTimelineNavigation{-webkit-transition:none}
body.timelineTourStarted #blueBar{z-index:301}
.tourDot{vertical-align:middle}
.fbProfileLargePortraitImgScaleHeight{height:75px;position:relative}
.fbProfileLargePortraitImgScaleWidth{position:relative;width:75px}
.fbProfileLargePortraitImgSmall{background-position:center 10%}
.fbProfileLargePortraitImgMedium{background-position:center 15%}
.fbProfileLargePortraitImgLarge{background-position:center 20%}
.fbProfileLargePortraitImgHuge{background-position:center 30%}
._e9{overflow:hidden}
.fbRequestList ._ea.animated, .fbRequestList .hasFollowup.animated{-webkit-transition-duration:.15s;-webkit-transition-property:height, left, width;-webkit-transition-timing-function:ease}
.fbRequestList li div._ea{left:100%;position:absolute;top:0;visibility:hidden}
.fbRequestList li.followupActivated
div._ea.active{left:0;position:relative;visibility:visible}
.fbRequestList .hasFollowup{position:relative;left:0;visibility:visible}
.fbRequestList .followupActivated .hasFollowup{position:absolute;left:-100%;visibility:hidden}
.fbRequestList .async_saving{position:relative}
.fbRequestList .loadingIndicator{display:none;top:50%;left:50%;margin:-5px 0 0 -8px;position:absolute}
.fbRequestList .async_saving .loadingIndicator{display:block}
.fbRequestList .async_saving .addButtonWrapper, .fbRequestList .async_saving .uiButton{visibility:hidden}
div.fbRequestList .addButtonWrapper{display:inline-block;margin-right:5px;text-align:left}
.fbRequestList .addButtonWrapper .FriendListMenu li, #fbRequestsFlyout .addButtonWrapper .FriendListMenu li{overflow:hidden;padding:0;text-overflow:ellipsis;white-space:nowrap}
.fbRequestList .networkContextWrapper{margin:2px 0}
.fbRequestList div.requestStatusBlock{display:block;overflow:hidden;word-break:break-word}
.fbFriendRequestMsgText{color:#666}
.fbFriendRequestMsgSeeMore{color:#6d83b3}
.fbRequestList .localeCustomLayout .auxiliary{padding-bottom:3px;padding-top:4px;text-align:left}
.fbRequestList .localeCustomLayout .requestLabel{margin-top:-2px;padding-bottom:2px;padding-top:0}

.ruProfilePicXLarge{height:75px;width:75px}
.ruResponseSimple{padding-top:24px}
.UIIntentionalStreamSearch .highlight,
.UIIntentionalStreamSearch .inserted{color:#000;font-weight:bold;margin:0 0 0 0}
.UIResultSet_MoreLink{display:block;padding-top:4px}
.UIResultSet{padding:0 6px}
.UIResultSet_SuppressBasePadding{padding:0}

.fbDetailedSearchFilterArea{position:relative}
.fbDetailedSearchFilterArea .detailLoadingIndicator{position:absolute;top:0;right:0}
.fbDetailedSearchTypeahead{overflow:hidden}
.detailedsearch_feature_header{background-color:#e9e9e9;border:0;height:7px;margin-bottom:10px;padding:0;text-align:center}
.detailedsearch_feature_header span{background-color:#fff;padding:0 5px;position:relative;top:-4px;color:gray;font-weight:bold}
.detailedsearch_result{padding-bottom:5px;border-bottom:1px solid #e9e9e9}
.detailedsearch_last_result{border-bottom:0 none}
.detailedsearch_actions .detailedseach_action_item{white-space:nowrap}
.searchResultPersonByline .fbProfileBylineFragment{display:block;width:auto}
.searchResultPersonByline .fbProfileBylineIconContainer .fbProfileBylineIcon{margin:0}
.searchResultPersonByline .fbProfileBylineIconContainer{width:11px;margin-right:5px;display:inline-block}
.searchResultPersonByline{width:auto;display:block}
._3nb{height:17px}
._3nc{width:100%}
._3nd{width:50%}
.sp_comments{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yC/r/0M9Xe0icEV8.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:10px;width:16px}
.sx_comments_favicon{height:16px;background-position:0 -153px}
.sx_comments_cfavicon{width:14px;height:14px;background-position:0 -187px}
.sx_comments_yahoo{height:16px;background-position:-17px -153px}
.sx_comments_aol{height:16px;background-position:-34px -153px}
.sx_comments_msft{height:16px;background-position:0 -170px}
.sx_comments_pyahoo{width:50px;height:50px;background-position:0 0}
.sx_comments_paol{width:50px;height:50px;background-position:0 -51px}
.sx_comments_pmsft{width:50px;height:50px;background-position:0 -102px}
.sx_comments_star{width:11px;background-position:-28px -187px}
.sx_comments_darkstar{width:11px;background-position:0 -202px}
.sx_comments_arrowb{width:9px;height:5px;background-position:-33px -202px}
.sx_comments_arroww{width:9px;height:5px;background-position:-23px -202px}
.sx_comments_arrowl{width:5px;height:3px;background-position:-28px -198px}
.sx_comments_like{width:15px;height:13px;background-position:-33px -170px}
.sx_comments_darklike{width:15px;height:13px;background-position:-17px -170px}
.sx_comments_subscribe{width:12px;height:14px;background-position:-15px -187px}
.sx_comments_subscribedark{width:10px;background-position:-12px -202px}
.sx_comments_followLinkInlineCheck{width:9px;height:11px;background-position:0 -213px}
.sx_comments_followLinkInlineCheckDark{width:10px;background-position:-40px -187px}

#bootloader_vbfEE { height: 42px; }