/*1372822223,178175311*/

.insightsBarPL{margin:-2px 0 3px 10px}
.insightsBarPL .reachStats{display:inline-block;padding:4px 0}
.insightsBarPL .promotionUnavailableLink{text-decoration:none}
._6kd{position:relative}
._6kd ._6ke{color:#fff;font-size:18px;-webkit-font-smoothing:antialiased;font-weight:bold;left:20px;overflow:hidden;position:absolute;text-decoration:none;text-overflow:ellipsis;text-shadow:0 0 5px rgba(0, 0, 0, .8);top:20px;white-space:nowrap;width:350px}
._6kh{margin:0 -5px -2px 0}
._59ia ._6kh{margin:0 -16px -14px -13px}
._6ki{float:left;margin:0 2px 2px 0;position:relative}
._4_-p{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y-/r/hSP8dmsDiCw.png) repeat-x;left:0;margin-right:5px;min-height:110px;pointer-events:none;position:relative;right:0;top:0}
._59ia ._4_-p{margin-right:3px}
._4_-q{-webkit-font-smoothing:antialiased;margin:12px;max-height:238px;max-width:468px;position:absolute}
._4_-r, ._4_-s{font-weight:bold;text-shadow:0 1px 8px rgba(0, 0, 0, .3)}
._4_-s{color:#fff;font-size:18px;pointer-events:auto}
._4_-r{color:rgba(255, 255, 255, .7);font-size:12px}
._6ki:after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
._6kv{margin:6px 0 0}
._52c6{border:1px solid;border-color:#e9e9e9 #e2e2e2 #d1d1d1;bottom:3px;left:2px;position:absolute;right:2px;top:1px}
._59ia ._52c6{border:none}
._dcs{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yS/r/VdM2WRLZ6iI.png), url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yS/r/VdM2WRLZ6iI.png), url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yS/r/VdM2WRLZ6iI.png);background-position:0 0, -530px 100%, -1060px 0;background-repeat:no-repeat, no-repeat, repeat-y;margin:-1px -2px -3px;padding:2px 3px 4px;position:relative}
._57uf ._dcs{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yx/r/GFwPtRf2G1D.png), url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yx/r/GFwPtRf2G1D.png), url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yx/r/GFwPtRf2G1D.png);background-size:3180px 12px, 3180px 12px, 3180px 12px}
._57u0 ._dcs{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yk/r/g7F3FPtDspH.png), url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yk/r/g7F3FPtDspH.png), url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yk/r/g7F3FPtDspH.png);background-position:0 0, -446px 100%, -892px 0}
._57u0 ._57uf ._dcs{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yk/r/h1NdxWgGJtG.png), url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yk/r/h1NdxWgGJtG.png), url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yk/r/h1NdxWgGJtG.png);background-size:2676px 12px, 2676px 12px, 2676px 12px}
._59ia ._dcs, ._59ia._57uf ._dcs, ._57u0 ._59ia ._dcs, ._57u0 ._59ia._57uf ._dcs{background:none;border:none;border-top:1px solid #e9eaed;margin:8px 0 -4px 0;padding:13px 0 4px 1px}
._4_w4:hover{background-position:-1590px 0, -2120px 100%, -2650px 0}
._57u0 ._4_w4:hover{background-position:-1338px 0, -1784px 100%, -2230px 0}
._dcs .__c_:after{border-color:rgba(0, 0, 0, .098) rgba(0, 0, 0, .149) rgba(0, 0, 0, .231)}
._dcs:hover ._52c6{border-color:#e2e2e2 #dadada #ccc}
._cti{-webkit-border-radius:3px 3px 0 0;display:block;margin:-9px -13px;overflow:hidden;position:relative;z-index:2}
._51hr{-webkit-border-radius:3px;margin-bottom:-12px}
._4vcx ._50za{height:552px !important}
._4vcx ._57u0 ._50za{height:468px !important}
._4vcx ._50za img{top:0 !important}
._gu8 .img{display:block}
._cti ._505t{margin-right:-1px}
._cti ._505u{margin-bottom:0}
._cti ._50ow, ._562u{left:0;position:absolute;right:0;top:0}
._cti ._50ow{background:rgba(0, 0, 0, 0)}
._50ow, ._562u{bottom:0}
._gr6{display:block;float:left;margin:0 2px 2px 0}
._ctk._518x{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y-/r/hSP8dmsDiCw.png) repeat-x;min-height:110px}
._562u{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yG/r/4mKZcivIkHO.png) repeat-x;min-height:160px}
._ctk._518y{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yc/r/FK9-eUYLHj8.png) repeat-x;min-height:220px}
._56hs._19hq{top:-1px}
._56f-._19hq{top:33px}
._50gt{float:right;margin:-3px 0 0;position:relative;z-index:1}
._1_vo{-webkit-font-smoothing:antialiased;margin:8px 56px 70px 12px}
._562u a, ._562u ._6l1{position:relative;z-index:1}
._562u._57n5{z-index:1}
._562u._57n5 ._1_vo{margin-bottom:0}
._19hr{margin:-1px 0 5px}
._50gu{width:530px}
._57u0 ._50gu{width:452px}
._50gv{top:50px}
._cti ._562u ._19hr, ._cti ._562u ._19hr a{color:rgba(255, 255, 255, .8);font-size:13px}
._cti ._562u ._6nm{display:inline;margin-top:0}
._cti ._562u ._6nm:after{content:'';padding-right:8px}
._cti ._6nm .userContent > p:last-of-type, ._cti ._6nm > p:last-of-type, ._cti ._6nm .text_exposed_show p:last-of-type{display:inline}
._562u ._6nl, ._562u ._6nl a, ._562u ._6nm, ._cti ._562u ._6nm a, ._cti ._562u ._cv7, ._cti ._562u ._6mc, ._cti ._562u ._6mc a{text-shadow:0 1px 8px rgba(0, 0, 0, .3)}
._6kq ._562u ._6nl, ._6kq ._cti ._562u ._6nl a, ._6kq ._562u ._6nm, ._cti ._562u ._1_vo ._6nm a, ._cti ._562u ._1_vo ._6nm ._50jn a{color:#fff}
._cti ._562u ._6mc ._cv7, ._cti ._562u ._6mc, ._cti ._562u ._6mc a, ._cti ._562u ._6nm a._58cn ._58cl, ._57u0 ._cti ._562u ._6mc ._cv7, ._57u0 ._cti ._562u ._6mc, ._57u0 ._cti ._562u ._6mc a{color:rgba(255, 255, 255, .8)}
._cti ._562u ._6nm .text_exposed_link a{color:rgba(255, 255, 255, .8);font-weight:bold}
._cti ._x_y{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y-/r/fGfhqM4Ksaq.png);background-repeat:no-repeat;background-size:auto;background-position:-469px -10px}
._cti ._562u ._6mc{display:inline;line-height:20px;white-space:nowrap}
._cti ._6mc{-webkit-font-smoothing:subpixel-antialiased}
._562u ._6l1{line-height:14px;opacity:.8}
._562u ._cv8{display:none}
._cti .text_exposed div.text_exposed_show{display:block;margin-bottom:8px}
._cti ._1_vo .text_exposed_link{padding-left:0}
._cti .text_exposed_link:before{content:' '}
._cti ._562u ._52eh{color:#fff;font-size:13px}
._4-eo{-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, .41);display:block}
._59ia ._59ib{-webkit-box-shadow:none;margin:0 0 -12px -13px}
._9_q ._4-eo{width:initial !important}
._4vcx ._50z9, ._4vcx ._50z9 ._517g{height:526px !important}
._4vcx ._50z9 img{top:0 !important}
._9_q{background:#000;-webkit-box-shadow:none}
._9_q ._4-ep{margin:0 auto}
._6m2{background-color:#fff;position:relative;z-index:0}
._59ao{bottom:10px;position:absolute;right:10px;z-index:3}
._6m3{font-size:12px;height:132px;margin:10px 12px 0;overflow:hidden;position:relative}
._59ap ._6m3{height:auto;margin:10px 12px 6px;padding-bottom:26px}
._59ia ._6m3{height:152px;margin:0 0 0 12px}
._6m2.exploded .lfloat{float:none}
._6m2.exploded ._6m3{float:none;height:auto;margin-bottom:12px}
._59ia ._6m2.exploded ._6m3{margin:10px 0 0}
._6m4 ._6m3{height:auto;margin-bottom:9px}
._54ws ._6m3{margin-right:36px}
._6ks{margin:-1px;position:relative;z-index:1}
._6ks .music_button_img_wrap{z-index:1}
._6m5{background-position:50% 50%;background-repeat:no-repeat;display:block;height:154px;width:154px}
._5aur._6m5{height:274px;width:526px}
._6m2:hover ._6m5{color:rgba(0, 0, 0, .15)}
._6m6{font-family:Georgia, 'lucida grande',tahoma,verdana,arial,sans-serif;font-size:18px;font-weight:500;line-height:22px;margin-bottom:4px;max-height:110px;overflow:hidden;word-wrap:break-word}
._6m6, ._6m6 a{text-decoration:none;-webkit-transition:color .1s ease-in-out}
._6m6 a{color:#232b37}
._6m2:hover ._6m6, ._6m2:hover ._6m6 a{color:#2e57aa}
._6m4._6m8 ._6m6{margin-bottom:0}
._6m8 ._6m6{max-height:88px}
._6m7{font-family:Georgia, 'lucida grande',tahoma,verdana,arial,sans-serif;line-height:16px;max-height:80px;overflow:hidden}
._59ti ._6m7{max-height:48px}
._6m9{margin-top:22px}
._59tj{bottom:0;left:0;position:absolute;right:0;z-index:2}
.exploded ._59tj{margin-top:9px;position:static}
._6m4 ._59tj{margin-top:10px;position:relative}
._6m4._6m8 ._59tj{margin-top:5px}
._6ma ._6mb, ._6ma ._59tj ._6mb a{color:#adb2bb}
._6ma ._6mb{font-size:11px;line-height:11px;text-transform:uppercase}
._540c{bottom:15px;max-height:16px;max-width:24px;position:absolute;right:14px}
._522u{bottom:15px;position:absolute;right:15px}
.exploded ._6ks{background:#000;border-right:0;float:none;height:auto;line-height:initial;margin:0 -1px}
._59ia .exploded ._6ks{margin-right:0}
.exploded ._6ks iframe{display:block;margin:0 auto}
._6kt{display:block;position:relative;z-index:1}
._6ku{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yv/r/HS2VUzXaKGm.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;height:50px;left:50%;margin:-25px 0 0 -25px;position:absolute;top:50%;width:50px}
._6kt:hover ._6ku{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yv/r/HS2VUzXaKGm.png);background-repeat:no-repeat;background-size:auto;background-position:0 -50px}
._6kt.async_saving .img{opacity:.4}
._6kt.async_saving ._6ku{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;height:32px;margin:-16px 0 0 -16px;position:absolute;width:32px}
._he6{color:#777;font-size:14px;font-weight:bold;letter-spacing:1px;margin:22px 0 12px 63px;text-shadow:0 1px white;text-transform:uppercase}
._6rl ._6rm{margin:6px 0 10px}
._4vcw ._6rl ._6rm{margin-bottom:6px}
._6rl ._6ro{margin:9px 0 8px}
._6rl ._6rp{margin:14px 0}
._6rl ._6rq{margin:0 0 12px}
._4vcw ._6rl ._6rp, ._4vcw ._6rl ._6rq{margin-bottom:8px}
._6rl ._52c2{border-left:2px solid #d3d7dc;padding-left:10px}
._6rl ._52c2, ._6rl ._52c2 a._58cn, ._6rl ._52c2 ._58cn ._58cl, ._6rl ._52c2 ._6nm, ._6rl ._52c2 ._6nl, ._6rl ._52c2 ._6nl a, ._6rl ._6ro ._4_j7 a, ._6rl ._52c2 ._6nm ._50jn a, ._6rl ._52c2 ._6nm a.profileLink{color:#898f9c}
._6rr ._6mc{margin-top:6px}
._6kq._6xn{padding-top:8px}
._6xn ._6td, ._6xn ._6td._6nl a{color:#898f9c;font-size:12px}
._6xn ._6td._52a5, ._6xn ._6td._6nl._52a5 a{color:#141823;font-size:14px}
._57u0 ._6xn ._6td._52a5, ._57u0 ._6xn ._6td._6nl._52a5 a{color:#333}
._6xn ._6td{margin:2px 0 8px}
._6xn ._52a5{margin:0}
._6xn ._52a5 a{font-weight:bold}
._53jf ._19hq{left:-74px;top:-8px}
._4vt4{margin:-1px 0 6px 5px}
._6lx{position:relative}
._55og{margin-left:4px;position:relative;top:1px}
._55og.presenceIndicator .online{position:relative;top:1px}
._51mq{padding-right:3px;vertical-align:-3px}
.profileInfoSection{margin-bottom:30px}
.profileInfoSection .emptyInfoSection{text-align:center;font-size:13px}
.profileInfoSection .inlineLabel{color:#999}
.profileInfoSection .privacyTooltip{padding-top:4px}
.profileInfoTable .activateLink{padding-left:8px}
.uiGroupsAddTypeaheadView .member{background-color:#f7f7f7}
.uiGroupsAddTypeaheadView .member .text{color:#9c9c9c}
.uiGroupsAddTypeaheadView .member .subtext,
.uiGroupsAddTypeaheadView .member .category{color:#b5b5b5}
.uiGroupsAddTypeaheadView .member.selected{background-color:#e9e9e9}
div.uiGroupsAddTypeaheadView .member.selected{border-color:#d2d2d2}
.uiGroupsAddTypeaheadView .member.selected .text{color:#676767 !important}
.uiGroupsAddTypeaheadView .member.selected .subtext,
.uiGroupsAddTypeaheadView .member.selected .category{color:#929292 !important}
._4--o{background-color:#f6f7f8;padding:11px 14px 7px}
._4--p{color:#232b37;font-size:14px;-webkit-font-smoothing:antialiased;font-weight:bold}
._4--o ._4--q{color:#898f9c;font-size:12px;margin-top:3px}
html .groupsJoin ._59x2, html div._59x1{-webkit-box-shadow:0 0 0 0;outline:none}
.groupsCoverPhoto{margin:0 -20px 0 -20px}
.groupsCoverPhoto{margin-top:-2px}
#mainContainer .groupJumpLayout div#rightCol{padding-top:0}
#mainContainer .groupJumpLayout div#headerArea{padding-bottom:10px}
.hasLeftCol #mainContainer .hasRightCol.groupJumpLayout div#contentArea{padding-left:10px;padding-right:10px;padding-top:0}
#mainContainer div#contentCol.groupJumpLayout{padding-top:0}
.groupJumpLayout .groupComposerCleanWrap{margin-left:-10px;padding-left:15px;padding-top:5px}
.groupJumpLayout .fbTimelineSection{background:none;border:none;padding:0}
.groupJumpLayout .fbEditCover .profilePicNotch{display:none}
.groupNotificationsSelector .selected .uiButtonText{color:#fff}
.groupJumpLayout #fbProfileCover .coverWrap{height:250px}
.groupJumpLayout #fbProfileCover{margin:0}
.groupJumpLayout #fbProfileCover .fbProfileCoverPhotoSelector{bottom:auto;right:11px;top:10px;z-index:10}
.groupJumpLayout #fbProfileCover .coverNoImage .fbProfileCoverPhotoSelector{display:none;top:10px}
.groupJumpLayout #fbProfileCover .coverNoImage:hover .fbProfileCoverPhotoSelector{display:block}
.groupJumpLayout .fbProfileCoverPhotoSelector .uiMenuItem .itemAnchor{padding:1px 6px}
.groupJumpLayout .fbProfileCoverPhotoSelector .uiSelectorMenuWrapper{background-color:#000;left:auto;right:0}
.groupJumpLayout #fbProfileCover .coverEditor{margin-bottom:30px}
.groupJumpLayout #fbProfileCover .coverNoImage{border-bottom:none;height:auto}
.groupJumpLayout #fbProfileCover .coverBorder{border:none;display:none}
.groupJumpLayout #pagelet_group_actions, .groupJumpLayout .groupNotificationsSelector{display:inline-block}
.groupsParentNux{background-color:#f5f6f8;border-bottom:1px solid rgba(0, 0, 0, .2);margin:-2px -20px 0 -20px;padding:10px 15px 18px 15px;position:relative;z-index:10}
.groupsParentNuxText{line-height:15px;margin-top:-12px;width:600px}
.groupsJumpBarTop{background-color:#f2f2f2;border-bottom:1px solid #ccc;border-top:1px solid #fff;margin:0 -20px 0 -20px;padding:0}
.groupsJumpBarTop .groupsCleanLinks{margin-top:-1px;position:absolute}
.groupsJumpBarTop .groupsCleanLink{color:#565656;border-top:1px solid #fff;border-right:none;display:inline-block;font-weight:bold;margin-right:0;padding:7px 10px 8px}
.groupsJumpBarTop .groupsCleanLinkBorder{border-right:1px solid #dbdbdb}
.groupsJumpBarTop .groupsCleanLinkBorder:first-child{border-width:0 1px 0 0}
.groupsJumpBarTop .groupsCleanIconLink{padding:8px 10px 4px}
.groupsJumpBarTop .groupsCleanLinkName{color:#999;padding:0 10px 0 0}
.groupsJumpBarTop .groupsCleanLinksSelected .groupsJumpTitle, .groupsJumpBarTop .groupsCleanLinksSelected{background-color:#fff;color:#333}
.groupsJumpBarTop .groupsCleanLinksSelected.groupsCleanLinkName{color:#999}
.groupsJumpBarTop .groupsCleanLinksBorder{background-color:#fff;height:4px;margin-bottom:-4px;margin-right:0;position:relative}
.groupsJumpActionsPlaceholder{height:28px}
.groupsJumpActions{margin:3px 4px 4px 0}
.groupsJumpTitle{color:#565656;display:inline-block;font-size:13px;overflow:hidden;max-width:500px;text-overflow:ellipsis;white-space:nowrap;padding:6px 0 4px 10px}
.groupsJumpInfoArea{margin:0 -20px 0 -20px;padding:20px 10px 0 10px}
.groupsJumpInfoBox{width:511px}
ul.groupsJumpActions > li{border-color:#dbdbdb}
.groupsJumpActions .uiButton{border:1px solid #f2f2f2;border-bottom-color:#f2f2f2;background:none;-webkit-box-shadow:none}
.groupsJumpActions{border-left:1px solid #dbdbdb}
.groupsJumpSearchButton{display:inline-block;padding:6px 6px 0 10px}
.groupsJumpHeaderSearchWrap{position:relative;height:21px}
.groupsJumpHeaderSearch{position:absolute;right:0;z-index:10}
.groupsJumpHeaderSearch .uiSearchInput input{width:180px}
.groupsJumpPrivacyIconText .img{margin-top:2px}
.uiIconText.groupsJumpPrivacyIconText{margin-left:2px;padding-left:18px}
.groupsJumpPrivacyIcon{display:inline-block;margin-bottom:-2px}
.groupsJumpPrivacyIconHover{display:inline-block;margin-top:2px}
.groupsJumpPrivacyIconLink{display:inline-block;padding:9px 0 5px;vertical-align:top}
a.groupsPrivacyHeader:hover{text-decoration:none}
.groupsJumpActionsItem .uiButton{padding:2px 10px}
.groupsJumpActionArea{margin-left:-10px}
.groupsJumpAreaBox{width:511px}
.groupsJumpInfoDivider{border-bottom:1px solid #eee;margin-bottom:10px;padding-bottom:10px}
.groupsJumpInfoSpace{margin-bottom:10px}
.groupsCreateIcon .img{margin-top:1px;margin-left:3px}
.groupHugFrame{background-color:#fafafa}
.groupHugFace, .groupHugFiller{display:inline-block;vertical-align:bottom;zoom:1}
.groupHugFace:hover{text-decoration:none}
.groupHugFrame .mask{background-color:#fff;height:100%;left:0;opacity:.5;position:absolute;top:0;white-space:nowrap;width:100%}
.groupHugFaceHover:hover .groupHugFaceTip{display:block}
.groupHugFaceTip{background-image:-webkit-gradient(linear, center top, center bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .7)));background-image:-webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));bottom:0;color:#fff;cursor:pointer;display:none;font-weight:bold;padding:10px 5px 3px;position:absolute;word-wrap:break-word}
.groupHugFace .liveFacesFacepileStyle{display:block}
.groupNotificationsSelector .uiButton .img, .groupNotificationsSelector .img{margin-top:2px;margin-left:2px}
.groupsCleanLinks{margin-top:4px}
.groupComposerCleanWrap{border-top:1px solid #e5e5e5;margin-left:-18px;padding-top:9px;padding-left:18px;padding-bottom:4px}
.groupJumpLayout .groupComposerCleanWrap{border-top:none}
.groupJumpLayout .uiStreamHomepage .uiStreamStory:first-child{margin-top:-5px}
.groupsCleanLink .groupsTabIcon{margin-bottom:0;margin-right:4px}
.groupsCleanLink .groupsShiftedTabIcon{margin-bottom:-1px;margin-right:4px}
.groupsCleanLink{margin-right:8px}
.groupSlimSummaryRowContent{padding-top:1px}
.groupSlimSummaryRow .text_exposed_link{font-size:9px;padding-left:5px}
.groupSlimSummaryRow .text_exposed_link a{color:#6d82b8}
.groupsChildGroupPhoto{display:block;margin-right:8px}
.groupsChildGroupFriendHeader{background-color:#fafafa;border:1px solid #e9e9e9;margin-bottom:-1px;padding:5px 8px}
.groupsChildGroupFriendArrow{display:block;height:5px;margin-top:9px;width:10px;background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yf/r/8qdK81ZnFEh.png);background-repeat:no-repeat;background-size:auto;background-position:-153px -134px}
.groupsChildGroupFriendArrowUp{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yf/r/8qdK81ZnFEh.png);background-repeat:no-repeat;background-size:auto;background-position:-163px -134px}
.groupsChildGroupFriendName{color:#3b5998}
.groupJumpLayout.homeFixedLayout #rightCol .uiHeaderSection, .groupJumpLayout.homeFixedLayout #rightCol .uiSideHeader, .groupJumpLayout.homeFixedLayout .uiHeaderSection, .groupJumpLayout.homeFixedLayout .uiSideHeader{border-bottom:none;border-top:1px solid #e5e5e5;margin-bottom:8px;padding:3px 6px}
.groupJumpLayout.homeFixedLayout #rightCol .uiHeaderSection a, .groupJumpLayout.homeFixedLayout #rightCol .uiSideHeader a, .groupJumpLayout.homeFixedLayout .uiHeaderSection a, .groupJumpLayout.homeFixedLayout .uiSideHeader a{color:#6d84b4}
.groupJumpLayout .groupsGroupSideLink{display:inline-block;max-width:180px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.groupsMoreGroupsDivider{border-top:1px solid #e9e9e9}
.groupsCreateDivider{border-top:1px solid #e5e5e5;margin-bottom:5px}
.groupJumpLayout .groupsCreateDivider{border-top:none}
.groupJumpLayout .groupsCoverPhoto{margin-left:-21px;margin-right:-21px;position:relative}
.groupJumpLayout .groupsJumpCoverBorder{border-bottom:1px solid rgba(0, 0, 0, .2);border-left:1px solid rgba(0, 0, 0, .2);border-right:1px solid rgba(0, 0, 0, .2);bottom:0;left:0;position:absolute;pointer-events:none;right:0;top:0}
.groupsSideMargin{margin-bottom:10px}
.groupsSideTopNegMargin{margin-top:-5px}
.groupsEmailVerifyTitle{font-size:12px}
.groupsEmailVerifyInput{margin-right:-1px;padding:5px 4px;width:160px}
.groupsEmailVerifyInputShort{width:120px}
.groupsVerificationSelector .uiPopoverButtonWithChevron{padding-bottom:4px;padding-top:5px}
.groupsVerificationSelector .uiPopoverButtonWithChevron .uiButtonText{margin-top:-2px}
.groupsVerificationManual{display:inline-block;height:16px}
.groupJumpLayout .uiComposer{border-bottom:none}
.groupsEditDescriptionLink{display:inline-block;margin:0 0 5px 0}
.groupsEditDescriptionArea{margin:0 1px}
.groupsEditDescriptionText{height:50px;width:320px}
.groupJumpLayout #contentArea .uiHeaderSection{margin-left:-10px;padding-left:10px}
.groupsLocationBox, .groupsAddMemberSideBox{margin:10px 6px}
.groupAddMemberHeader{margin-bottom:-5px;margin-top:10px}
.groupClaimAdminHeader{margin-bottom:3px;margin-top:10px}
.groupsStreamMemeberBox{border-top:1px solid #e9e9e9;margin-left:-10px;padding-left:15px;padding-right:5px}
.groupsStreamMemberBoxNames a:first-child{font-weight:bold}
.groupsSuggestAdminLink{display:inline-block;margin-top:2px}
.groupsSuggestTypeahead{margin-left:-1px;margin-right:5px}
.groupsCellWrap{padding-right:5px;word-break:break-all}
.groupsJumpSpacer{border-bottom:1px solid #e9e9e9;margin-bottom:-1px;margin-top:30px}
.groupsDescriptionBox{width:225px}
.groupsFilesRevisionTextArea{padding:5px;width:390px}
.groupsFilesDialogFooter{background:#f2f2f2;border-top:1px solid #ccc;margin:10px -20px -16px;padding:8px 10px 8px 10px;position:relative}
.groupMemberActionBar{margin:0 -20px;padding:5px 10px}
.groupMemberBrowser{margin:0 -20px;padding:0 15px}
.groupMemberSuggestionBrowser{margin:0 -10px 0 -20px;padding:0 15px}
.groupsMemberSearchBox{margin-left:-1px}
.groupsFileBox{margin-top:41px}
.groupsFilename{display:block;margin-left:-21px;word-break:break-all;word-wrap:break-word}
.groupsAddMemberSpacer{margin-bottom:30px}
.groupsJumpSubgroupHeader{margin:0 -10px}
.groupNotificationSelectorIconOnly .uiButton{padding:2px 6px 2px 3px}
.groupsInvitedSubtitle{margin-top:-6px}
.groupsFileImage{height:32px;width:32px}
.groupNotificationSelectorRow{text-align:left}
.groupsFileHeader{width:100%}
.uiSearchInput.groupsMemberSearchLite input{padding-bottom:1px}
.groupsEditDescriptionHeader{font-weight:bold}
.groupRecommendedInfo{width:176px}
.groupRecommendedDesc{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:inherit}
.groupRecommendationsList .uiList:empty{margin-bottom:0}
div.groupLaunchBox{-webkit-border-radius:2px;padding:15px 20px 10px}
.groupsLaunchFooter{background-color:#f2f2f2;margin:5px -20px -10px;padding:0 15px 3px}
.groupsLaunchTitle{border-bottom:1px solid #e9e9e9;margin-bottom:5px;padding-bottom:10px}
.groupsLaunchRow{padding:5px 0}
.groupsLaunchRowCompleted{background-color:#f2f2f2;border-top:1px solid #ccc;margin:0 -15px;padding:5px 15px 8px}
.groupsLaunchRowCompleted{background-color:#f2f2f2;border-top:1px solid #ccc;margin:0;padding:5px 15px 8px}
.groupsLaunchRow .groupAddMemberTypeaheadBox{margin-right:-6px;margin-top:0;padding-right:0}
.groupsLaunchRow .uiGroupsAddTypeaheadView{margin-bottom:0}
.groupsLaunchRowMainCol{width:300px}
.groupsLaunchRowTypeahead{position:relative}
.groupsLaunchDescriptionEditor.DOMControl_placeholder, .groupsLaunchRowTypeahead .DOMControl_placeholder{color:#aaa}
.groupsLaunchRowTypeahead .loadingIndicator{position:absolute;right:10px;top:5px}
.groupsCommunityMarketingMain{-webkit-border-radius:5px;margin-left:-10px;width:510px}
.groupsLiteLegacy .groupsCommunityMarketingMain{margin-left:0}
.groupsCommunityMarketingSide{width:220px}
.groupsCommunityMarketingList{margin-left:-9px;margin-top:10px}
.groupsLiteLegacy .groupsCommunityMarketingList{margin-left:1px}
.groupsCommunityMarketingSpacer{display:block;margin-bottom:4px}
.groupsRecAddMemberTypeaheadView{width:230px}
.groupsLaunchTypehaead{width:112px}
.groupSuggestedBox .groupSuggestedRow{padding:4px 0}
.groupSuggestedBox .groupSuggestedImage{height:30px;width:30px}
.groupSuggestedGrid{width:100%}
.groupSuggestedGridName{padding-left:10px;width:100%}
.groupsLaunchModuleTypeaheadView .calltoaction .text{color:#3b5998;font-weight:bold}
.groupsLaunchCounter{margin-left:7px;width:115px}
.groupsLaunchCounter .img{margin-right:1px}
.groupsFriendAdded{display:inline-block;height:22px;width:22px}
.groupsLaunchDescriptionEditor{height:50px;width:280px}
.groupsMailingListSpacer{width:380px}
.groupsMailingListTextarea{height:45px;width:370px}
.groupsLaunchGrid{width:100%}
.groupsLaunchGridLabel{padding:10px 0 10px 10px}
.uiInputLabelCheckbox.groupsLaunchGridCheck{margin-top:10px}
.webkit.mac .uiInputLabelCheckbox.groupsLaunchGridCheck{margin-top:12px}
.groupsLaunchGridItem{margin-bottom:2px;width:222px}
.groupsLaunchGridItem:hover{background-color:#eceff5}
.groupsLaunchGridItem.checked{background-color:#d8dfea}
.groupsRecsEmbedHeader{border-top:1px solid #d2d2d2;margin:0 0 0 -10px;padding:5px 5px 5px 10px}
.groupsVerificationBoxWrapper{background-color:#f2f2f2;border-top:1px solid #ccc;-webkit-border-radius:0 5px}
.groupsNewMembersReminder #groupsNewMembersLink{padding:0}
.groupsNewMembersReminder #groupsNewMembersLink:hover{background-color:transparent}
.groupsNewMembersLink{margin-top:12px}
.groupSearchIndentItem{margin-left:35px}
.groupSearchPageDivider{background:#e9e9e9;margin:0}
.groupSearchResultsDivider{background:#e9e9e9;margin:5px 0 0 0}
.groupSearchResult:hover{background-color:#eff2f7}
.groupSearchResult .author{font-size:13px}
.groupSearchResult .timestamp{width:120px;text-align:right}
.groupSearchEmpty{border-bottom:solid #e9e9e9;border-width:1px 0;color:#ccc;font-size:22px;font-weight:bold;margin:0;padding:218px 0 280px;text-align:center}
.groupSearchResultGrid{width:100%}
.groupBrowserAdminItem{display:inline-block;margin-top:2px}
.groupSearchResult .blue{color:#3b5998}
.groupWideSearchBoxRow{margin:0 -20px}
.groupMemberBrowser .groupsBrowserBio{width:120px;word-wrap:break-word}
.groupsChildBrowserRow{margin-left:60px}
.fbGroupsStream .uiStreamHeaderText{margin-left:50px}
.fbGroupsBoulderStream{margin-top:-5px}
.groupsStreamIcon{margin-left:34px}
.groupsStreamIcon .img{height:16px;width:16px}
.groupJumpLayout .fbGroupsBoulderStream .mainWrapper{margin-right:20px}
.groupJumpLayout .fbGroupsBoulderStream .uiStreamStory{margin-left:-10px}
.groupJumpLayout .fbGroupsBoulderStream .uiStream .uiStreamHeader{margin:20px 0 5px 0}
.groupJumpLayout .fbGroupsBoulderStream .uiStreamHeader .uiStreamHeaderText{margin-left:65px;padding-right:10px}
.groupsStreamSmallFace{margin-left:26px}
.groupsStreamSmallFace .img{height:24px;width:24px}
ul.fbGroupsBoulderStream .uiStreamHeader{border-width:1px 0 0 0;margin:15px 0 -1px -18px;padding-bottom:0}
.groupsSky ul.fbGroupsBoulderStream .uiStreamHeader{margin:15px -15px -1px}
.groupsSky .uiStream .uiStreamHeader .uiStreamHeaderText{margin-left:65px}
.groupJumpLayout .fbGroupsBoulderStream .uiStreamHeader{margin-left:-10px}
.uiStream .uiStreamNoBorderStory{border-width:0}
.uiStreamStory.uiStreamNoBorderStory .storyContent{margin:-3px 0 3px}
.groupsMallSelector{margin-left:-10px}
.fbGroupsPinnedSection{margin-bottom:3px;margin-top:-13px}
.uiStream.fbGroupsBoulderStream .uiStreamHeader,
.uiStream .fbGroupsBoulderStream .uiStreamHeader{border:none}
.groupsPinnedLite{margin-top:-22px}
.groupAddMemberTypeaheadBox .plusIcon{position:absolute;z-index:2;top:7px;left:8px}
.groupAddMemberTypeaheadBox{margin-top:10px;padding-right:4px;padding-top:0;position:relative}
.groupAddMemberTypeaheadBox .innerWrap{margin-left:15px}
#mobile_mirror_banner{position:relative;z-index:1000}
._7m2{height:137px;left:0;position:absolute;top:0;width:100%}
._7m3{height:137px;overflow:hidden}
._7lj{height:155px;position:relative;top:-9px;width:370px}
._7m4{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yG/r/8RHv8nDQAHL.png) repeat-x left top;bottom:0;height:93px;position:absolute;width:100%}
._7m5{z-index:4}
._7lh{display:none}
html ._53ih ._7lh{display:block;height:155px;position:absolute;top:-9px;width:370px}
._7lh ._7lj{top:0}
._7ld ._7lh{-webkit-mask-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yP/r/z7cqmT3Y7MW.png);-webkit-mask-position:15px 0;-webkit-mask-repeat:no-repeat}
._7ld ._7lh ._7li{display:block;left:15px;position:absolute;top:0}
._53ih._7le ._7lh{border-left:1px solid rgba(0, 0, 0, .45);border-top:1px solid rgba(0, 0, 0, .45);height:11px;overflow:hidden;top:0;-webkit-transform-origin:0 0;width:11px;z-index:1}
._7le ._7lh ._7lj{-webkit-transform-origin:0 0}
._7lf._7le ._7lh ._7lj, ._7lf._7le ._7lh{-webkit-transform-origin:100% 0}
._9ld .fbTimelineSection{border:none;padding:0}
._9ld .groupsSkyHeader{border:1px solid #ccc;-webkit-border-radius:0 0 3px 3px;border-top:none}
._9ld .groupsSkyNav{width:100%}
._9ld .groupsSkyNavContainer{background-color:#fff;border-bottom:0;-webkit-border-radius:0 0 3px 3px;border-top:1px solid #eee;padding:3px 0;width:924px}
._9ld .groupsSkyFixedNav{border-bottom:0}
._9ld .groupsFullWidth{width:100%}
._9ld .groupsSkyFixedNav .groupsSkyNavContainer{border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;margin-left:-1px !important;z-index:10}
._9ld .groupsSkyFixedNav.groupsSkyHeader{padding-bottom:40px}
._9ld .groupsSkyNavTitle{display:block;max-width:240px;padding:6px 14px 6px}
._9ld .groupsSkyNameText{color:#232b37;display:block;font-size:15px;font-weight:bold;overflow:hidden;padding-left:24px;text-overflow:ellipsis;white-space:nowrap}
._9ld .groupsSkyNameText .img{margin-top:2px}
._9ld .groupsSkyNavTitleTab{display:block;position:relative}
._9ld .groupsSkyNavTab .groupsSkyNavLink{color:#444;display:block;padding:6px 15px}
._9ld .groupsSkyNavSelected, ._9ld .groupsSkyNavTab:hover{background-color:#f4f4f4}
._9ld .groupsSkyNavTab a:hover{text-decoration:none}
._9ld .groupsSkyNavTabActions{padding:5px 8px 5px 5px}
._9ld .groupsSkyNavTabBorder{border-right:1px solid #f4f4f4}
._9ld .groupsSkyNavTabBorderLeft{border-left:1px solid #f4f4f4}
._9ld .groupsSkyHeaderSearchWrap{height:21px;position:relative}
._9ld .groupsSkyHeaderSearch{background-color:#fff;margin:-8px;padding:8px 8px 0;position:absolute;right:0;z-index:10}
._9ld .groupsSkyHeaderSearch .uiSearchInput{height:20px}
._9ld .groupsSkyHeaderSearchWrap .inputtext{width:180px}
._9ld .groupsSkyHeaderSearch .uiSearchInput button{top:-1px}
._9ld .groupsSkyHeader #fbProfileCover .coverWrap{height:250px}
._9ld .groupsSkyHeader #fbProfileCover{margin:0}
._9ld .groupsSkyHeader #fbProfileCover .fbProfileCoverPhotoSelector{bottom:auto;right:11px;top:10px;z-index:10}
._9ld .groupsSkyHeader #fbProfileCover .coverNoImage .fbProfileCoverPhotoSelector{display:none;top:10px}
._9ld .groupsSkyHeader #fbProfileCover .coverNoImage:hover .fbProfileCoverPhotoSelector{display:block}
._9ld .groupsSkyHeader .fbProfileCoverPhotoSelector .uiMenuItem .itemAnchor{padding:1px 6px}
._9ld .groupsSkyHeader .fbProfileCoverPhotoSelector .uiSelectorMenuWrapper{background-color:#000;left:auto;right:0}
._9ld .groupsSkyHeader #fbProfileCover .coverEditor{margin-bottom:30px}
._9ld .groupsSkyHeader #fbProfileCover .coverNoImage{border-bottom:none;height:auto}
._9ld .groupsSkyHeader #fbProfileCover .coverBorder{border:none;display:none}
._9ld .groupsSkyHeader #fbProfileCover .profilePicNotch{display:none}
._9ld .groupsSkyActions .uiButton{background:none;border:0;-webkit-box-shadow:none}
._9ld .groupsSkyActions .uiSelector .openToggler .uiSelectorButton{background:#6d84b4;border:1px solid #3b5998;border-bottom-color:#6d84b4}
._9ld .groupsSkySearchButton{display:inline-block;padding:6px 6px 0 6px}
._c51{padding:12px 0}
._50zs{padding:0 0 4px}
._c51 .groupsEditDescriptionHeader{font-weight:normal}
._9ld ._72g{position:relative}
._c5c{margin-top:8px}
._c51 .groupsSideMargin, ._c51 .groupsAddMemberSideBox{margin:8px 0 0}
._c51 #pagelet_group_requests_summary .uiHeader{margin-top:15px}
#pagelet_group_suggested_members ._c51 .groupsMemberSuggestBox{margin-right:-5px}
._9ld ._c51 .groupAddMemberTypeaheadBox{padding-right:0}
._c51 .groupAddMemberTypeaheadBox .plusIcon{left:6px;top:9px}
._c51 .groupAddMemberTypeaheadBox .innerWrap{height:23px;margin-left:13px}
._c51 .groupAddMemberTypeaheadBox .textInput{color:#888;font-size:11px;margin-top:3px}
._9ld ._c51 .uiGroupsAddTypeaheadView, ._9ld ._c51 .wrap, ._9ld ._c51 textarea{border-color:#d9d9d9}
._c51 .groupsEditDescriptionArea{margin:0}
._c51 .groupsEditDescriptionText{width:263px}
._c51 a{font-weight:bold}
._c51 .groupsEditDescriptionLink{margin:5px 0 0}
._c51 .groupsEditDescriptionBox{margin-bottom:12px}
._c51 .groupsSkyDescription{overflow:hidden;padding-left:1px}
.groupSearchBarLitestandWrapper ._9le{border-color:#d3d6db;-webkit-border-radius:1px;-webkit-box-shadow:0 -1px -1px rgba(0, 0, 0, .4);margin-bottom:12px;padding-bottom:0}
.groupSearchBarLitestandWrapper ._9le .uiSearchInput, .groupSearchBarLitestandWrapper ._9le .uiSearchInput span{border:0;line-height:3;padding:0;width:611px}
.groupSearchBarLitestandWrapper ._9le .uiSearchInput input{color:#888;font-size:14px;margin:12px 0 12px 12px;padding:0;width:550px}
.groupSearchBarLitestandWrapper ._9le .uiSearchInput button{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yj/r/XSg5rrB_AyA.png);background-repeat:no-repeat;background-size:auto;background-position:0 -192px;height:16px;margin:12px 10px;width:16px}
._9ld .groupComposerCleanWrap{border-top:none;padding-top:0}
._9ld .groupsSkyContentHeader{border-bottom:1px solid #eee;margin-top:2px;padding-left:5px;padding-right:5px}
._9ld .groupsNoRequestsLabel{padding-left:15px}
._9le .groupsSkyContentWideHeader{border-bottom:1px solid #eee;padding:8px 2px}
._9le{background:#fff;border:1px solid #c0c0bd;border-bottom-color:#969695;-webkit-border-radius:3px;border-top-color:#d6d6d3;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, .15);margin-bottom:20px;padding-bottom:10px}
#pagelet_group_revision._9le, #pagelet_group_doc._9le{padding-bottom:3px}
._9ld #pagelet_group_requests, ._9le #pagelet_group_profile_members, ._9le .groupsSkyEvents, ._9le .groupsSkyPhotos{padding:15px}
._9le .groupMemberSuggestionBrowser, ._9le .groupMemberBrowser, ._9le .groupWideSearchBoxRow, ._9le .groupsRecsEmbedHeader, ._9le .groupsJumpSubgroupHeader{margin:0}
._9le .groupsRecsEmbedHeader{background:white;border-bottom:1px solid #eee;border-top:none;padding:10px}
._9le .groupLaunchBox{border:none;border-bottom:1px solid #ccc;-webkit-border-radius:0;margin-bottom:0;padding-bottom:30px}
._9le .groupsLaunchFooter{margin:0;padding:0}
._9le .groupMemberActionBar{border:none;margin:0}
._9lf{padding:0 15px}
#pagelet_group_revision ._9lf, #pagelet_group_doc ._9lf{padding:10px 12px}
._9ld a._cmo{color:#444;font-weight:bold}
._9le .fbGroupCalendar
.fbCalendarList .fbCalendarItemContent{width:472px}
._9le
.fbCalendar.fbGroupCalendar
.fbCalendarHeader{padding:11px 19px 0}
._528a{position:absolute;right:5px;top:5px}
._c51 a{color:#232b37}
._8_9.ego_column{width:auto}
._8_9 .ego_section{margin:0}
._8_9 .ego_section .uiSideHeader{padding-bottom:0}
._8_9 .ego_section .ego_unit{margin:0;padding:8px 0}
._8_9.egoOrganicColumn .ego_section .ego_unit:last-child{padding-bottom:12px}
._8_9 .ego_section .adsCategoryIcon{margin-top:-2px}
._8_9 .ego_unit .action{margin-top:0}
._8_9 .ego_unit .action ._24x{outline:none}
._4tot{margin-left:12px}
._8_9 .action .fbEmuContext{display:inline-block}
._8_9 .ego_unit .action ._24x, ._8_9 .action .fbEmuContext, ._8_9 .action .inlineContext{margin-top:8px}
._8_9 .action .inlineContext .fbEmuContext{margin-top:0}
._8_9 .emu_x{margin-right:-12px}
._8_9 .ego_unit .action .fbEmuContext a, ._8_9 .ego_unit .messageBody, ._8_9 .ego_unit .messageBody a, ._8_9 .ego_unit .uiLinkSubtle, ._8_9 .ego_unit .eventRSVP a, ._8_9 ._a1z, ._8_9 ._a1z a{color:#898f9c}
._8_9 .fbEmuStreamStory .messageBody .whitespaceLink:hover, ._8_9 .fbEmuStreamStory .whitespaceLink:hover .fbEmuStreamOGAction, ._8_9 .fbEmuStreamStory .whitespaceLink:hover .fbEmuLikeMessage{background-color:#fff}
._8_9 .uiStream .uiStreamMessage{margin-bottom:0}
._8_9 .fbEmuStreamStory .fadStoryAttachment, ._8_9 .fbEmuStreamStory .fadStoryFooter{margin-top:8px}
._8_9 .fbEmuXThanksBody a{font-weight:bold}
._8_9 .ego_unit .uiStreamPassive a, ._8_9 .ego_unit .egoProfileTemplate a, ._8_9 .ego_unit .eventTitle, ._8_9 .ego_unit .fbEmuMainBody a, ._8_9 .ego_unit .fbEmuStreamStory .uiBlingBox .text{color:#232b37}
._8_9 .ego_unit .action .fbEmuContext a{display:inline;font-weight:bold}
._8_9 .ego_unit .lfloat{margin-right:10px}
._8_9 .ego_unit .lfloat > .img{padding-top:0}
._8_9 .ego_unit .image_body_block, ._8_9 .ego_unit .fbEmuContext, ._8_9 .ego_unit_container{line-height:16px;padding:0}
._8_9 .ego_section .ego_unit:first-child, ._8_9.egoOrganicColumn .ego_section .ego_unit:first-child{padding-top:10px}
._8_9 .ego_unit .uiStream .uiStreamMessage{font-size:12px}
._8_9 .ego_unit .uiStarsRatable{margin-top:5px}
._8_9 .egoPlaceComboInput .uiTypeaheadSpan{padding:0}
._8_9 .uiTypeahead .uiCloseButton, ._8_9 .uiTypeahead .uiTypeaheadCloseButton{margin-right:0}
._8_9.egoOrganicColumn .ego_section .ego_unit{border-top:0;padding:6px 0}
._8_9 .uiStream .uiStreamPassive{color:#4e5665;font-size:12px}
._8_9 .uiStream .uiStreamPassive a{font-weight:bold;text-decoration:none}
._ac_{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/_CrRNvidYOx.png), url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/_CrRNvidYOx.png), url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/_CrRNvidYOx.png);background-position:0 0, -280px 100%, -560px 0;background-repeat:no-repeat, no-repeat, repeat-y;margin:-1px -2px -3px;padding:6px 7px 8px;position:relative}
._ac_:hover{background-position:-840px 0, -1120px 100%, -1400px 0;cursor:pointer}
._ac_ + .bassApp, ._ac_ + .bassLike{margin-top:8px}
._4-hq{border:1px solid;border-color:#e9e9e9 #e2e2e2 #d1d1d1;bottom:3px;left:2px;position:absolute;right:2px;top:1px}
._ac_:hover ._4-hq{border-color:#e2e2e2 #dadada #ccc}
._ad0 .img{height:48px;width:48px}
._ad1{color:#232b37;-webkit-transition:color .1s ease-in-out}
._ac_:hover ._ad1{color:#2f81c6;text-decoration:none}
._ag3 ._24x{border:none;width:100%}
.fbEmuStreamAttachment.fbEmuStreamPhotoStory._ag3{display:inline-block;margin:0}
.fbEmuStreamStory .fbEmuStreamAttachment._ag3:hover ._24x, ._ag3 ._24x:hover{border:none}
.fbEmuStreamStory .fbEmuStreamAttachment._ag3 .uiPhotoThumb .img{margin:0}
.fbEmuStreamAttachment.fbEmuStreamVideoStory._520s{display:inline-block;margin:0}
.fbProfileExperience .experienceImageBlock{width:367px}
.fbProfileExperience.editable{width:394px}
.fbProfileExperience.editable .subexperiences, .fbProfileExperience.editable .subexperience{width:250px}
.fbProfileExperience .subexperience.editable{position:relative}
.fbProfileExperience .subexperience .removeSubexperience{position:absolute;right:0;top:0}
.fbProfileExperience .hubPhoto{margin-right:7px}
.fbProfileExperience .removeExperience, .fbProfileExperience .removeSubexperience{display:none}
.fbProfileExperience:hover .removeExperience, .subexperience:hover .removeSubexperience{display:block}
.fbProfileExperience .experienceContent{line-height:14px;padding-top:1px;width:100%;word-break:break-word}
.fbProfileExperience .experienceTitle{font-weight:bold}
.fbProfileExperience.editable .experienceContent{width:265px}
.fbProfileExperience .experienceContentLarge{font-size:13px;font-weight:bold;line-height:30px;padding-top:22px;padding-left:8px}
.fbProfileExperience .experienceBody, .fbProfileExperience .subexperienceContent{margin-top:2px}
.fbProfileExperience .subexperiences{margin:6px 0 0 15px}
.fbProfileExperience .subexperience{color:#333;padding-bottom:1px}
.fbProfileExperience .subexperienceContent{width:273px}
.fbProfileExperience.editable .subexperienceContent{width:235px}
.showAllExperiences .revealerArrow{margin:0 0 2px 5px}
.showAllExperiences:hover a, .showAllExperiences .mediaRevealer:hover{text-decoration:none}
.profileInfoTable .highlight{background-color:#fffbe4}
.profileInfoTable .fbProfileExperience.highlight{left:-5px;padding:5px 0 5px 5px;position:relative;top:-5px}
.profileInfoTable .afterHighlight{margin-top:-10px}
.profileInfoTable .highlight .complimentsBlingBox{margin-right:-5px}
li.showAllExperiences{border-top:1px solid #e5eaf1;padding-top:7px;text-align:center}
.showAllExperiences:hover{border-top-color:#d8dfea;background-color:#eceff4;cursor:pointer}
.showAllExperiences a{display:inline-block;padding-bottom:8px}
.fbProfileInfoExpandedRowWrapper .fbProfileExperience{text-align:left}
.fbProfileInfoExpandedRowWrapper .revealerWrapper{margin-top:0}
.fbProfileInfoWorkRowWrapper .fbProfileExperience{text-align:left}
.fbProfileInfoEducationRowWrapper .fbProfileExperience{text-align:left}
.mediaRow .mediaPortrait{line-height:14px;padding:0;overflow:hidden;width:75px}
.mediaRow .mediaPortrait .photo{height:75px;margin-bottom:5px}
.mediaRow .mediaPortrait .mediaPageName{overflow:hidden;max-height:28px;word-wrap:break-word}
.mediaRowWrapper{text-align:center}
.mediaRowRevealer{line-height:12px}
.profileInfoTable th.label{color:#999;font-weight:bold;line-height:15px;text-align:left;vertical-align:top;width:90px;word-wrap:break-word}
.nile_profile .profileInfoTable th.label{font-size:11px;line-height:16px}
.profileInfoTable .greenLink{color:#060}
.profileInfoTable td.data{line-height:15px}
.profileInfoTable td.rightCol{padding:3px 0 0 35px;text-align:right;width:50px}
.profileInfoTable .sampleImageCaption{text-align:center;width:50px;word-wrap:break-word}
.profileInfoTable .uiInfoTable .label{color:#666;font-size:11px;font-weight:normal;padding-top:0}
.profileInfoTable .uiInfoTable .data{padding-top:0}
.profileInfoTable .throbber{display:none}
.profileInfoTable .async_saving .throbber{display:block}
._6df i.edit, ._6df img.edit{vertical-align:middle}
.fbTimelineSection .profileInfoSection{margin-bottom:0;overflow:hidden}
.aboutMeMainNormalWidth{width:430px}
.aboutMeMainWideWidth{width:515px}
.aboutMeRightNormalWidth{width:418px}
.aboutMeRightNarrowWidth{width:325px}
.timelineLayout .aboutMeMain .profileInfoTable th.label{padding:0;max-width:75px;min-width:40px;width:auto}
.timelineLayout .aboutMeMain .profileInfoTable th.noLabel{min-width:0;width:0}
#pagelet_hometown .profileInfoTable{margin-bottom:5px}
.aboutMePagelet .profileInfoTable, .aboutMePagelet .profileText{margin:10px 22px 20px}
.aboutMeRight .profileInfoTable{width:279px;word-wrap:break-word}
.aboutMeRightNormalWidth .profileInfoTable{width:376px}
.aboutMeRightNormalWidth .profileInfoTable td.data{max-width:310px;word-wrap:break-word}
.aboutMePagelet .profileInfoTable hr{background:#eee}
.aboutMePagelet .profileInfoTable .spacer td{padding:3px 0 1px}
.aboutMePagelet .profileInfoTable .fbProfileBylineIcon{float:left}
.aboutMeRightNarrowWidth .profileInfoTable .fbProfileBylineLabel{display:block;float:left;width:218px}
.aboutMePagelet .profileInfoMap{padding:3px 0 0 3px}
.aboutMePagelet .aboutMeCenterLine{border-top:0;border-bottom:0;border-left:0}
.aboutMePagelet .experienceActions .uiCloseButton{margin-top:-1px}
#pagelet_timeline_main_column #eduwork .uiInfoTable{margin:0 20px 15px 20px;width:auto}
.fbTimelineEditEduWork{padding-bottom:15px}
.fbTimelineEditEduWork .fbEditProfileExperienceSection{width:100%}
.fbTimelineEditEduWork .dataRow .label{display:none}
.fbTimelineEditEduWork .uiInfoTable .uiInfoTable .label{display:table-cell}
.fbTimelineEditEduWork .addExperience{margin-left:20px}
.fbTimelineEditEduWork .fbProfileEditExperiences{padding:0 20px 0}
.fbTimelineEditEduWork .fbProfileEditExperiences .experience .profileImg{width:48px;height:48px}
.fbTimelineEditEduWork .fbEditProfileSubexperiences{margin-bottom:0}
.fbTimelineEditEduWork .fbEditProfileExperienceSection .audienceSelector{left:auto}
.fbTimelineEditEduWork .fbProfileEditExperiences .experience .editTableWrapper{padding-right:15px}
.fbTimelineEditEduWork .fbProfileEditExperiences .editExperienceForm textarea, .fbTimelineEditEduWork .fbProfileEditExperiences .editSubexperienceForm textarea{width:300px}
.fbTimelineEditEduWork .fbEditProfileExperienceSection .subexperience{padding-left:27px}
.fbTimelineEditEduWork .fbEditProfileExperienceSection .uiSelector{padding-right:18px}
.fbTimelineSection .profileEditButton{opacity:0}
.aboutMePagelet .fbTimelineSection .profileEditButton, .fbTimelineSection:hover .profileEditButton{opacity:1}
.aboutMePagelet .contactInfoPhone{width:110px}
#pagelet_relationships .blankState{margin-left:20px}
html ._4q0{background:none;margin:-5px -12px 0;padding:0 10px 10px 10px}
._4q0 .fbTimelineSection{border:0;border-bottom:1px solid #e5e5e5;-webkit-border-radius:0;width:403px}
._4q0 ._4_g3:last-child .fbTimelineSection{border-bottom:0}
._4q0 ._4_g4 .fbTimelineSection{padding-right:8px}
._4q0 ._4_g5 .fbTimelineSection{padding-left:8px}
._4q0 > ._4_g4{border-right:1px solid #e5e5e5}
._4q0 > ._4_g5{border-left:1px solid #e5e5e5;left:-1px;position:relative}
html ._4q0 .profileInfoTable th.noLabel{min-width:0;width:0}
._4q0 .fbTimelineSection .fbTimelineAboutMeHeader{margin:15px 10px}
._4q0 .fbTimelineAboutMeHeader .uiHeaderTitle{color:#37404e;font:bold 16px 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;padding-left:0}
._4q0 hr{visibility:hidden}
._4q0 #pagelet_eduwork #eduwork .uiInfoTable.profileInfoTable, ._4q0 .uiInfoTable.profileInfoTable{margin:0 10px 5px;width:379px}
._4q0 #pagelet_relationships .blankState{margin-left:10px}
html ._4q0 .profileInfoTable th.label{color:#89919c;font-weight:normal}
._4q0 .fbEditProfileExperienceSection th.label{width:100px}
._4q0 .fbTimelineEditEduWork .fbProfileEditExperiences .editExperienceForm textarea{width:220px}
._4q0 .fbTimelineEditEduWork .fbProfileEditExperiences .editSubexperienceForm textarea{width:193px}
._4q0 .profileInfoTable td.data{line-height:17px}
._4q0 .fbTimelineAboutMeHeader .uiHeaderImage, ._4q0 #pagelet_hometown .spacer, ._4q0 #pagelet_eduwork .profileInfoTable th.label{display:none}
._4q0 th.label{padding-bottom:4px;padding-top:4px}
._4q0 #pagelet_eduwork .mediaRowWrapper .uiList{padding-left:0}
._4q0 #pagelet_eduwork .experienceTitle{font-size:13px}
._4q0 .aboutSubtitle{margin-top:2px}
._4q0 #pagelet_eduwork .experienceBody{margin-top:4px}
._4q0 ._baj .fbTimelineAboutMeHeader, ._4q0 ._bak .fbTimelineAboutMeHeader{margin:15px 10px 5px}
._4q0 .fbProfileExperience .hubPhoto{height:24px;width:24px}
._4q0 .fbProfileExperience .experienceImageBlock{width:350px}
._4q0 .experienceContent, ._4q0 .subexperienceContent{text-align:left;width:auto}
._4q0 .fbEditProfileExperienceSection .addExperience{width:300px}
._4q0 .uiMorePagerLoader, ._4q0 .uiMorePager .uiMorePagerPrimary{border:none;text-align:left}
._4q0 .uiMorePager .uiMorePagerPrimary:hover{background:#f6f7f8}
._4q0 .fbProfileInfoWorkRowWrapper .uiMorePager .uiMorePagerPrimary{padding-left:36px;width:338px}
._4q0 .uiCollapsedListHidden .uiMorePager .uiMorePagerPrimary, ._4q0 #pagelet_hometown .uiCollapsedListHidden .uiMorePager .uiMorePagerPrimary{margin:0 5px 0 10px}
._4q0 .uiCollapsedListHidden .uiMorePager .uiMorePagerPrimary{padding-left:118px}
._4q0 #pagelet_relationships .uiMorePager .uiMorePagerPrimary, ._4q0 #pagelet_hometown .uiCollapsedListHidden .uiMorePager .uiMorePagerPrimary{padding-left:86px}
._4q0 .familyPager .uiMorePagerPrimary{line-height:1}
._4q0 ._58wm .edit{margin-right:41px}
._4q0 ._58wm{width:403px}
._4q0 .fbTimelineEditEduWork ._58wn{padding:0 75px 0 25px}
.standardLayout .filterBox{padding:6px 7px 6px 5px}
.standardLayout .filterBox table{border-collapse:collapse;width:100%}
.standardLayout .filterBox td{padding:0}
.standardLayout .fullWidth, .standardLayout .uiTypeahead{width:100%}
.standardLayout .hasSelector .uiTypeahead .wrap{border-left:0}
.standardLayout .hubsLoading .throbber{display:block}
.standardLayout .hubsLoading .selected .uiCloseButton{display:none}
.listView .throbber, .showListviewLoading .lists{display:none}
.showListviewLoading .throbber{display:block;margin:0 auto;position:relative;top:40px}
.limitReached .checkableListItem{opacity:.3}
.limitReached .selectedCheckable{opacity:1}
.listView .nullstate{color:#999;font-size:18px;margin-top:85px;text-align:center}
.listView .queryThrobber{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif);background-repeat:no-repeat;background-size:auto;background-position:0 0;height:32px;margin:20px auto 0;width:32px}
.searching, .queryActive .nothingFound{display:none}
.queryActive .searching{color:#666;display:block}
.hiddenList{top:150%;left:-3000px;position:fixed !important}
.fbProfileBrowserListContainer .expandedList .fbProfileBrowserListItem:first-child{border-top:1px solid #e9e9e9}
.fbProfileBrowserSummaryBox{border-bottom:1px solid #ccc}
.hideSummary .fbProfileBrowserSummaryBox{display:none}
.sp_8ay5j2{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yr/r/crUQljcOebB.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:8px;width:11px}
.sx_f2d278{width:12px;height:12px;background-position:-13px 0}
.selected .sx_f2d278{background-position:0 0}
.sx_0eb790{background-position:-11px -13px}
.selected .sx_0eb790{background-position:0 -13px}

._51xa{-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, .05);display:inline-block;vertical-align:middle;white-space:nowrap}
._51xb{-webkit-box-shadow:0 0 6px rgba(0, 0, 0, .6)}
._4-u2{background:#fff;border:1px solid;border-color:#d6d7da #d5d8dd #c7c8ca;-webkit-border-radius:3px}
._4-u2 > :first-child, ._4-u2 > :first-child > :first-child, ._4-u2 > :first-child > :first-child > :first-child{-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px}
._4-u2 > :last-child, ._4-u2 > :last-child > :last-child, ._4-u2 > :last-child > :last-child > :last-child{-webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px}
._4-u2 > ._4-u3{border-top:1px solid #e5e5e5}
._4-u2 > ._4-u3:first-child{border-top:none}
.openToggler ._55pi, .openToggler ._55pi:hover, .openToggler ._55pi:focus, .openToggler ._55pi:active{background-color:#758ab7;border-color:#475d91 #3c5389 #3a5186;-webkit-box-shadow:none;color:#fff;text-shadow:0 -1px 0 rgba(0, 0, 0, .2)}
.openToggler ._55pi:active{border-color:#334776 #384e82 #3a5186}
.openToggler ._55pi._nk, .openToggler ._55pi._nl{-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0}
.openToggler ._55pi._nn, .openToggler ._55pi._no{-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0}
.openToggler ._55_o, .openToggler ._55_o:hover, .openToggler ._55_o:focus, .openToggler ._55_o:active{background-position:0 -471px}
.openToggler ._55_p, .openToggler ._55_p:hover, .openToggler ._55_p:focus, .openToggler ._55_p:active{background-position:0 -492px}
.openToggler ._55_q, .openToggler ._55_q:hover, .openToggler ._55_q:focus, .openToggler ._55_q:active{background-position:0 -517px}
.openToggler ._55_r, .openToggler ._55_r:hover, .openToggler ._55_r:focus, .openToggler ._55_r:active{background-position:0 -546px}
.openToggler ._55_s, .openToggler ._55_s:hover, .openToggler ._55_s:focus, .openToggler ._55_s:active{background-position:0 -583px}
.dynamicIconSelectorHideIcons .uiMenuItem .itemWithIcon .itemLabel{display:block}
.dynamicIconSelectorHideIcons .uiMenuItem .itemIcon{display:none}
.uiProfilePortrait{display:inline-block;overflow:hidden;padding:0 6px 6px 0;vertical-align:top;width:57px}
.uiProfilePortrait img{display:block;margin-bottom:3px}

#bootloader_62jrY { height: 42px; }