/*1372643156,178198587*/

._53f1{display:inline-block;position:relative}
._53f1::after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
html ._53f2{background-color:#fff;border:0;left:0;opacity:1;padding:0;position:absolute;top:0;-webkit-transition:opacity .4s ease}
._53f2 .uiMediaThumbImg{background-size:cover}
._53f1, ._53f2 .uiMediaThumbImg{height:206px;width:206px}
._53f0{background-color:#f3f4f8;border:2px dashed #d8dce5;-webkit-border-radius:5px;color:#8897bd;cursor:pointer;display:inline-block;font-family:"helvetica neue", helvetica, arial, sans-serif;font-size:16px;-webkit-font-smoothing:antialiased;font-weight:bold;height:204px;line-height:202px;width:204px}
.fbPhotoStarGridElement ._53f0{height:202px;margin:2px 3px 3px 2px;text-align:center;width:202px}
._53f0:hover, .selectOver ._53f0{background-color:#ebeef5;border:2px dashed #ccd0db}
.bulkTaggerTypeahead{width:210px}
.bulk_tagger_body .bulkTagIcon{margin-top:6px;margin-right:7px}
.bulk_tagger_body .bulkTagStatus{display:inline-block;padding-top:4px}
.bulkTagSaving{display:none}
.tagSaving .bulkTagSaving{display:inline-block;margin-top:2px}
.bulk_tagger_loading{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yk/r/LOOn0JtHNzb.gif) no-repeat center center;height:21px}
.photosCroppedThumbHighlighted{background-color:#edeff4;border-color:#3b5998}
.fbPhotoCurationControl{display:inline-block;margin-right:8px;margin-top:7px;position:absolute;right:0;top:0;z-index:3}
.fbPhotoCurationControl .uiButtonGroup{border:none}
.fbPhotoCurationControlWrapper{position:relative}
.uiMediaThumbNoOverlay .fbPhotoCurationControlWrapper:hover
.fbPhotoCurationControl{display:none}
.fbPhotoCurationControlWrapper .fbPhotoCurationControl .fbPhotoStarButton{border:1px solid #aaa;border:1px solid rgba(0, 0, 0, .35);padding:2px 8px;border-right:none}
.fbPhotoCurationControlWrapper .fbPhotoCurationControl .fbPhotoStarButton.selected{border-color:#3b5998;border-color:rgba(14, 34, 74, .7);background-color:#6d84b4}
.fbPhotoCurationControlWrapper .fbPhotoCurationControl .fbTimelineSelectorButton{border:1px solid #aaa;border:1px solid rgba(0, 0, 0, .35);border-left:1px solid transparent;padding:2px 9px 2px 8px}
.fbPhotoCurationControlWrapper .fbPhotoCurationControl .fbTimelineSelectorButton.selected{border-color:#3b5998;border-color:rgba(14, 34, 74, .7);border-left:1px solid #5a6e97;border-bottom:1px solid #777}
.fbPhotoCurationControl .uiButtonGroup{opacity:0;-webkit-transition:opacity .2s ease}
.fbPhotoCurationControlWrapper:hover .fbPhotoCurationControl .uiButtonGroup, .fbPhotoCurationControl .uiButtonGroupActive{opacity:1}
.fbxPhotoSetPageHeader .fbxPhotoSetPageHeaderByline{width:714px}
.fbxPhotoSetPageHeader .fbxPhotoSetPageHeaderBox{width:714px;float:left}
.fbxPhotoSetPageHeader .fbxPhotoSetViewSwitcher{width:8px}
.fbxPhotoSetPageHeader .fbxPhotoSetViewSwitcher .fbxPhotoSetViewSwitcherIcon{margin-top:2px}
#fbxPhotoSetViewSwitcherGrid{border-right:0}
#fbxPhotoSetViewSwitcherComment{margin-left:0}
.fbxPhotoSetViewSwitcherThrobber{background-position:left center;display:inline-block}
.fbxPhotoSetPageHeader .async_throbber_left .async_saving{padding-left:28px}
#fbCommentViewList{margin-top:-10px}
div.photoSetHeader{padding-bottom:0}
.fbPhotosReorderableGrid .drag{z-index:200}
.fbPhotosReorderableGrid .dragWrapper{position:relative}
.fbPhotosReorderableGrid .dragWrapper .uiMediaThumb{cursor:move}
.fbPhotosReorderableGrid .dragWrapper .dragHover{display:none}
.fbPhotosReorderableGrid .dragWrapper:hover .dragHover{display:block}
.fbPhotosReorderableGrid .dragHover{background-color:#ddd;position:absolute;left:10px;top:10px}
.fbPhotosReorderableGrid .mover{display:block;left:-8px;overflow:hidden;position:absolute;text-align:right;top:3px;z-index:2}
.fbPhotosReorderableGrid .mover .arrow{position:relative;top:-20px}
.fbPhotosReorderableGrid .mover .arrow:active, .fbPhotosReorderableGrid .mover .arrow:focus{top:0}
.fbPhotosGrid td{width:171px}
.fbPhotosGridTight td{padding-right:8px;width:150px}
.fbPhotosGrid .photoDetails{width:166px}
.fbPhotosGrid .photoDetails .photoText{word-wrap:break-word}
.fbPhotosGridTight .photoDetails{width:154px}
.fbPhotosGrid .lastChild{padding-right:0}
div.albumsHeader{padding-bottom:0}
.fbPhotosGrid .audienceSelector .uiSelectorMenu .itemIcon{display:none}
.fbPhotosGrid a.uiSelectorButton{background:none}
.fbPhotosGrid a.uiSelectorButton:active, .fbPhotosGrid a.uiSelectorButton:focus, .fbPhotosGrid a.uiSelectorButton:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:right -202px;border:1px solid #999}
.fbPhotosGrid .openToggler a.uiSelectorButton, .fbPhotosGrid .openToggler a.uiSelectorButton:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:right -251px;border:1px solid #3b5998;border-bottom-color:#6d84b4;-webkit-box-shadow:none}
.fbPhotosGridHeader{margin:0 0 8px}
.uiHeader + .fbPhotosGridHeader{margin-top:0}
.fbPhotoInlineCaptionEditor .editIcon{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y4/r/ffUJLIqlYCk.gif) no-repeat -18px 0;display:inline-block;height:18px;margin-bottom:0;vertical-align:sub;width:18px}
.fbPhotoInlineCaptionEditor .editIcon:hover{background-position:0 0}
.fbPhotoInlineCaptionEditor .captionWrapper{margin-right:18px}
.fbPhotoInlineCaptionEditorEditMode .captionWrapper{margin-right:0}
.fbPhotoInlineCaptionEditor .editForm, .fbPhotoInlineCaptionEditorEditMode .fbPhotoCaption, .fbPhotoInlineCaptionEditorEditMode .noCaption, .fbPhotoInlineCaptionEditorEditMode .editIcon{display:none}
.fbPhotoInlineCaptionEditorEditMode .editForm{display:block;margin:0;padding:0;text-align:right}
.fbPhotoInlineCaptionEditor textarea{width:429px;font-size:11px;line-height:13px;margin:0 0 2px 0;padding:0}
.fbPhotoInlineCaptionEditor .uiMentionsInput .highlighter{font-size:11px;overflow:hidden;padding:4px 4px 0 4px;left:2px;top:2px;width:392px}
.fbPhotoInlineCaptionEditor .mentionsTypeahead{margin-bottom:5px}
.fbPhotoInlineCaptionEditor .mentionsTypeahead .wrap{padding:5px}
.fbPhotoInlineCaptionEditor .uiTypeahead .innerWrap{overflow:visible}
.fbPhotoInlineCaptionEditor .uiMentionsInput .highlighter div{line-height:13px;white-space:pre-wrap;text-align:left}
.fbPhotosNullstate{margin:60px auto}
.fbPhotosNullstate .imageCell{padding-left:60px}
.fbPhotosNullstate .textCell{height:32px;padding-right:60px}
.fbPhotosRedesignNav2 .fbPhotosRedesignNavItem{width:417px}
.fbPhotosRedesignNav3 .fbPhotosRedesignNavItem{width:276px}
.fbPhotosRedesignNav3 .fbPhotosRedesignNavItem:last-child{width:277px}
.fbPhotosRedesignNav4 .fbPhotosRedesignNavItem{width:206px}
.fbPhotosRedesignNavItem{background-color:#f2f4f8;display:inline-block;margin-left:2px;margin-right:3px}
.fbPhotosRedesignNavItem:first-child{margin-left:0}
.fbPhotosRedesignNavItem:last-child{margin-right:0}
.fbTimelineSection.fbPhotosRedesignNavPagelet{margin-top:12px;padding:5px 0 5px 5px}
.fbPhotosRedesignNavContent{display:block;padding:10px 14px}
.fbPhotosRedesignNavIcon{margin-top:5px}
.fbPhotosRedesignNavSubtitle{color:gray;font-size:11px;margin-top:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.fbPhotosRedesignNavSelected.fbPhotosRedesignNavItem{background-color:#6d84b4}
.fbPhotosRedesignNavSelected.fbPhotosRedesignNavItem:hover{background-color:#5871a7}
.fbPhotosRedesignNavItem:hover{background-color:#e8ebf3}
.fbPhotosRedesignNavSelected .fbPhotosRedesignNavSubtitle{color:#fff}
.fbPhotosRedesignNavContent:hover{text-decoration:none}
.fbPhotosRedesignNavCount{display:none}
.fbStarGrid{position:relative;-webkit-transition-property:width, height;-webkit-transition-duration:500ms}
.fbStarGridBlank{background:#fff;-webkit-border-radius:3px;border:1px solid #c4cde0;padding:30px}
#photo_set_pagelet .fbStarGridBlank{border:none}
.fbStarGridBlankContent{color:#bbb;font-family:'helvetica neue', helvetica, arial, sans-serif;-webkit-font-smoothing:antialiased;font-weight:bold;font-size:20px;padding:70px 0;text-align:center}
.fbStarGridAsTimelineUnit .fbStarGrid{background:#fff;border:1px solid #c4cde0;border-bottom-width:2px;-webkit-border-radius:3px;margin-left:auto;margin-right:auto;padding:3px 2px 2px 3px;z-index:1}
.fbTimelineStarGridSeparator, .fbTimelinePhotosScroller{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yD/r/N8eF8pLkCCD.png) repeat-y center top;font-size:0;padding-top:10px;position:relative;text-align:center;z-index:2}
.fbTimelinePhotosScroller{margin-bottom:30px;padding-top:0}
.fbTimelinePhotosScroller .uiSimpleScrollingLoadingIndicator{display:block}
.fbTimelineStarGridSeparator h4, .fbTimelinePhotosScroller .async_saving{background:#a9b5d3;-webkit-border-radius:3px;color:#fff;display:inline-block;font-weight:normal;font-size:14px;padding:6px 11px;word-wrap:normal}
.fbTimelineStarGridSeparator h4{margin-bottom:40px;margin-top:20px}
.fbTimelinePhotosScroller .async_saving{margin-bottom:0;margin-top:30px}
#album_photos_pagelet .fbTimelinePhotosScroller{background:none;margin:0}
#album_photos_pagelet .fbTimelinePhotosScroller .async_saving{background:none;margin-bottom:10px;margin-top:10px}
.fbTimelineStarGridSeparator .spinePointer{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yY/r/QWIRJuvz96W.png);background-repeat:no-repeat;background-size:auto;background-position:-661px -9px;bottom:-1px;height:21px;left:418px;position:absolute;width:15px}
div.fbStarGrid .uiVideoLink, div.fbStarGrid .uiMediaThumb{border:none;margin:2px 3px 3px 2px;padding:0}
.fbStarGrid .uiMediaThumb:before{background:#f4f6f9 url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yf/r/NABTt1QzBLW.png) no-repeat center center;bottom:0;content:'';left:0;position:absolute;right:0;top:0;z-index:1}
.fbStarGrid .uiMediaThumb i{background-color:transparent;position:relative;z-index:2}
.fbStarGrid .fbStarGridMediaHideMessage{position:absolute;margin:2px 0 0 2px;background-color:#e7ebf2;z-index:100;border:1px solid #c4cde0}
.fbStarGrid .fbStarGridMediaHiddenMsgNonStarred{width:204px;height:204px}
.fbStarGrid .fbStarGridMediaHiddenMsgStarred{width:415px;height:415px}
.fbStarGrid .fbStarGridMessageClose{width:100%}
.fbStarGrid .fbStarGridMessageClose .uiCloseButton{float:right}
.fbStarGrid .fbStarGridHideMessageBody{display:table;height:100%;margin-top:-1px;position:absolute;text-align:center;width:100%}
.fbStarGrid .fbStarGridHideMessageContent{display:table-cell;vertical-align:middle;padding:16px}
.fbStarGrid .fbPhotoStarGridStarred .uiVideoLink i, .fbStarGrid .fbPhotoStarGridStarred .uiMediaThumb i{height:417px;width:417px}
.fbStarGrid .fbPhotoStarGridNonStarred .uiVideoLink i, .fbStarGrid .fbPhotoStarGridNonStarred .uiMediaThumb i{height:206px;width:206px}
.fbPhotoStarGridElement{display:inline-block;-webkit-transition-property:margin-left, margin-right, margin-top;-webkit-transition-duration:500ms}
.fbPhotoStarGridElement .uiMediaThumb i, .fbPhotoStarGridElement .uiVideoLink i{background-size:cover;background-position:50% 25%;-webkit-transition-property:width, height;-webkit-transition-duration:500ms}
.fbPhotoStarGridElement.fbPhotoStarGridDrag{-webkit-transition-property:none}
.fbPhotoStarGridDrag .tagWrapper{-webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .3)}
.fbPhotoStarGridAbove{z-index:3}
.fbPhotoStarGridElement.fbPhotoStarGridDrag a{cursor:move}
.fbPhotoStarGridElement .uiMediaThumb, .fbPhotoStarGridElement .uiVideoLink{background-color:transparent}
.fbPhotoStarGridElement .uiVideoLink i{background-color:#000}
a.uiMediaThumbTagging{cursor:default}
a.uiMediaThumbTagging i, a.uiMediaThumbTagging .taggerOverlay{cursor:crosshair}
a.uiMediaThumbTagging .taggerOverlayDisabled{cursor:default}
a.uiMediaThumbTagging:hover, a.uiMediaThumbTagging:active, a.uiMediaThumbTagging:focus{border-color:#ccc;text-decoration:none}
.tagWrapper{position:relative;overflow:hidden}
a.uiMediaThumbTagging .taggerOverlay .lockBar{background-color:#222;color:#fff;left:10px;padding-left:21px;position:absolute;top:86px;opacity:.9}
a.uiMediaThumbTagging .taggerOverlay .lockIcon{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y7/r/LIMS6JdvvOD.png);background-repeat:no-repeat;display:inline-block;height:15px;left:6px;position:absolute;top:5px;width:15px}
a.uiMediaThumbTagging .taggerOverlay .blackwash{background:#000;height:100%;left:0;opacity:.7;position:absolute;top:0;width:100%;z-index:2}
a.uiMediaThumbTagging .taggerOverlay .highlightBox{border:2px solid #fff;opacity:.3;position:absolute;z-index:2}
.timelineLayout .fbTimelinePhotosAndVideosOfMe .fbPhotosGrid{margin-left:11px}
.timelineLayout .fbTimelinePhotosAndVideosOfMe .fbPhotosGrid td{padding:0;width:auto}
.timelineLayout .fbTimelinePhotoAlbums a.uiMediaThumbAlb{margin-right:9px}
.timelineLayout .uiMediaThumbAlbHuge, .timelineLayout .uiMediaThumbHuge .uiMediaThumbWrap i{height:111px;width:167px}
.timelineLayout .fbPhotosGrid .photoDetails{width:185px}
.timelineLayout .fbPhotosGrid .photoDetails .fbAudienceHover{margin-right:6px}
.timelineLayout .uiMediaThumbHuge{padding:3px}
.timelineLayout .uiMediaThumbHuge i{height:120px;width:180px}
.fbTimelineVideos .uiVideoLink{padding:0;vertical-align:bottom}
.fbTimelineVideos .uiVideoLinkHuge i{background-size:cover;height:133px;width:191px}
.fbTimelinePhotoAlbums .fbPhotosGrid td{padding-right:5px}
.fbTimelinePhotosAndVideosOfMe .uiVideoLink{border:0;margin:0 3px 3px 0;padding:0;vertical-align:bottom}
.fbTimelinePhotosAndVideosOfMe .uiVideoLinkHuge i{background-size:cover;height:120px;width:182px}
.uiMediaThumbStacked.uiMediaThumbAlb{border:none;position:relative}
.uiMediaThumbStacked .uiMediaThumbPrevPhoto{border:none;-webkit-border-radius:2px;-webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, .07), 0 1px 3px rgba(0, 0, 0, .25);height:165px;left:0;top:0;-webkit-transform:rotate(3deg);width:217px;z-index:0}
._5518{margin:-10px -12px 2px}
._5518 .fbPhotosRedesign.fbTimelinePhotoAlbums{border:none;padding-top:0}
._5518 .fbTimelineStarGridSeparator{background:none}
._4d-{margin-right:-11px}
._4d- .fbPhotosGrid{border-collapse:separate}
._4d- .fbPhotosGrid td{max-width:196px;padding:0 0 14px;width:196px}
._4d- .uiMediaThumb, ._4d- .albumThumbLink, ._4d- .albumTextLink{display:block;margin:0;padding:0}
._4d- ._53f0{background:none;border:2px dashed #e9eaed;color:#333;height:233px;line-height:232px;text-align:center;width:192px}
html ._4d-.fbPhotosRedesign .fbPhotosGrid .photoDetails{margin:0;padding:0;width:196px}
._4d- ._53f1, ._4d- ._53f2 .uiMediaThumbImg{display:block;height:196px;width:196px}
._4d-.fbPhotosRedesign .photoText{border:1px solid #e9eaed;border-top:none;font-size:11px;height:28px;padding:6px 8px 5px;position:relative;text-align:left}
._4d-.fbPhotosRedesign .photoTextTitle{font-family:inherit}
._4d-.fbPhotosRedesign .photoTextSubtitle{line-height:inherit}
._4d-.fbPhotosRedesign .timelineAudienceSelector{bottom:3px;position:absolute;right:5px;top:auto;width:auto}
._4d- .timelineAudienceSelector .wrap{width:16px}
._4d- .timelineAudienceSelector .wrap:hover, ._4d- .timelineAudienceSelector .openToggler{width:auto}
._57b3{padding:0 12px}
._55dq{max-height:420px;overflow:hidden}
._69n.fbStarGridAppendedTo{max-height:none}
html ._69n{margin:-12px 0 4px -12px}
._417g{margin-top:-15px}
._417g .fbTimelineStarGridSeparator{background:none}
._417g .fbTimelineStarGridSeparator .spinePointer{display:none}
._417g .fbTimelineStarGridSeparator .monthHeader{margin:30px 0 20px}
div.fbTimelinePhotoAlbums{padding:30px 41px 15px 41px}
div.fbTimelineVideos{padding-bottom:15px}
div.fbTimelinePhotosAndVideosOfMe{padding:30px 41px 20px 41px}
.fbTimelinePhotosSeparator h4{color:gray;cursor:default;font-size:13px;margin:10px 0 15px;text-align:center}
.fbTimelinePhotosSeparator h4 span{background-color:#fff;padding:0 10px}
.fbTimelinePhotosAndVideosOfMe .async_saving{margin:20px 0 30px}
.fbTimelineNoVideosMsg{text-align:center;margin:60px 0}
.fbTimelinePhotosAndVideosOfMe .uiMediaThumb{border:0;padding:0 3px 3px 0}
.fbPhotosRedesign.fbTimelinePhotoAlbum{margin-top:0;padding:3px 2px 2px 3px}
.fbPhotosRedesign.fbTimelinePhotoAlbums{margin-top:0;padding:30px 30px 15px 30px}
.fbPhotosRedesign .fbPhotosGrid{width:100%}
.fbPhotosRedesign .fbPhotosGrid .photoDetails .photoText{overflow:visible}
.fbPhotosRedesign .fbPhotosReorderableGrid .dragWrapper .dragHover, .fbPhotosRedesign .fbPhotosReorderableGrid .dragWrapper:hover .dragHover{display:none}
.fbPhotosRedesign .albumThumbLink.uiMediaThumb{border:none}
.albumThumbLink, .albumTextLink{display:inline-block;margin-bottom:5px;margin-top:20px;outline:none}
.fbPhotosRedesign .albumTextLink .flashUploaderOverlayButton, .fbPhotosRedesignUploadLink{display:inline-block}
.fbPhotosRedesign .photoTextTitle{display:inline-block;font-family:'helvetica neue', helvetica, arial, sans-serif;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;-webkit-font-smoothing:antialiased}
.fbPhotosRedesign.fbTimelinePhotoAlbums .fbPhotosGrid td{padding:0;text-align:center;width:225px}
.timelineLayout .fbPhotosRedesign .fbPhotosGrid .photoDetails .fbAudienceHover{margin-left:6px;margin-right:0}
.photoDetails .uiSelector{vertical-align:-1px;width:16px}
.fbPhotosRedesign .photoText{font-size:14px;text-align:center}
.fbPhotosRedesign .photoTextSubtitle{line-height:19px}
.fbPhotosRedesign .attributionSubtitle{margin-top:3px}
.timelineLayout .fbPhotosRedesign .fbPhotosGrid .photoDetails{margin:0 auto;width:222px}
.timelineLayout .fbPhotosRedesign .uiMediaThumbAlbHuge, .timelineLayout .fbPhotosRedesign .uiMediaThumbHuge .uiMediaThumbWrap i, .timelineLayout .fbPhotosRedesign .uiMediaThumbHuge .uiMediaThumbWrap .fbPhotosCreateAlbum{height:155px;width:207px}
.fbPhotosCreateAlbum{border:2px dashed #d2d5ea;-webkit-border-radius:2px;color:#a4b5d4}
.fbPhotosCreateAlbumLabel{font-size:14px;font-weight:bold;margin-top:70px;text-align:center}
.fbPhotosCreateAlbumWrapper:hover .fbPhotosCreateAlbum{background-color:#edeff4;color:#627aad;cursor:pointer}
.timelineLayout .fbPhotosRedesign .uiMediaThumbWrap{-webkit-border-radius:2px;-webkit-box-shadow:0 0 3px rgba(0, 0, 0, .15)}
.fbPhotoAlbumHeader{padding-bottom:20px;padding-top:17px;position:relative;text-align:center}
.fbPhotoAlbumOptionsLeft{left:7px;position:absolute;top:7px}
.fbPhotoAlbumOptionsRight{position:absolute;right:8px;top:7px}
.uiSelectorNormal .uiSelectorButton.fbPhotoAlbumOptionsGear{padding-right:23px}
.fbPhotoAlbumOptionsGearMenu{text-align:left}
.fbPhotoAlbumTitle{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:18px;-webkit-font-smoothing:antialiased;margin:32px 214px 7px 213px}
.fbPhotoAlbumHeader .fbPhotoInlineCaptionEditor .captionWrapper{margin-right:0}
.fbPhotoAlbumHeader .fbPhotoCaption{font-size:13px;line-height:18px}
.fbPhotoAlbumActions .timelineAudienceSelector, .fbPhotoAlbumActionList{display:inline-block}
.fbPhotoAlbumActions .audienceSelector .uiSelectorMenu .itemIcon{display:none}
.fbPhotoAlbumActions a.uiSelectorButton{background:none}
.fbPhotoAlbumHeaderLong .fbPhotoInlineCaptionEditorEditMode.fbPhotoAlbumHeaderText, .fbPhotoAlbumHeaderText{-webkit-column-count:1;margin-left:auto;margin-right:auto;width:417px}
.fbPhotoAlbumHeaderLong .fbPhotoCaptionInput{height:200px}
.fbPhotoAlbumHeaderLong.fbPhotoAlbumHeader{padding-top:40px}
.fbPhotoAlbumHeaderLong .fbPhotoAlbumHeaderText{-webkit-column-count:2;-webkit-column-gap:40px;margin:20px 40px;text-align:left;width:auto}
.fbPhotoAlbumHeaderText{padding-top:20px}
.fbPhotoAlbumBulkTagger .uiBoxGray{margin:2px 3px 3px 2px}
#album_feedback_pagelet .fbTimelineUFI{margin:2px 3px 3px 2px;margin-bottom:3px !important;position:static}
#album_photos_pagelet .fbTimelinePhotosScroller{background:none}
.fbPhotosRedesignBorderOverlay .uiMediaThumb .uiMediaThumbImg:after, .fbPhotosRedesignBorderOverlay .uiVideoLink .uiVideoLinkImg:after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
#album_pagelet .fbTimelinePhotoAlbums{margin-top:0}
.fbPhotosRedesignAlbumList{margin-top:20px}
.fbPhotosRedesignAlbumList .fbPhotosRedesignAlbumListItem{color:#94a0c1;display:block;margin-bottom:10px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.fbPhotosRedesignAlbumList .fbPhotosRedesignAlbumListItem.fbPhotosRedesignAlbumListItemActive{color:#627aad;font-weight:bold}
.fbPhotosRedesignStreamSidebar, .fbPhotosRedesignSidebar{padding-top:8px;position:fixed}
.fbPhotosRedesignAlbumsListAllLink{border-top:1px solid #dce0eb;padding-top:10px}
.fbTimelineSection.fbTimelinePhotoAlbums .uiMorePager{margin:15px -41px -15px -41px}
.fbTimelineTabSection.fbPhotosRedesign .uiMorePager{margin:15px -30px -15px -30px}
.fbTimelineTabSection .fbTimelinePhotosScroller .uiMorePager{margin:2px 3px 5px 2px}
.fbTimelinePhotoAlbums .uiMorePager .uiMorePagerPrimary, .fbTimelineSectionStarGrid .uiMorePager .uiMorePagerPrimary, .fbTimelinePhotoAlbums .uiMorePager .uiMorePagerLoader{background-color:#e9eef4;border-top:1px solid #e2e6e9;color:#6279ad;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:11px;height:36px;line-height:35px;padding:0}
.fbTimelineSectionStarGrid .uiMorePager .uiMorePagerPrimary{border-color:#d8dfea}
.fbTimelineSectionStarGrid .async_saving .uiMorePagerLoader{background:transparent;border:none;padding:0}
.fbTimelinePhotoAlbums .uiMorePager .uiMorePagerPrimary:hover, .fbTimelineSectionStarGrid .uiMorePager .uiMorePagerPrimary:hover, .fbTimelinePhotoAlbums .uiMorePager .uiMorePagerLoader{background-color:#e1e5f0;text-decoration:none}
.fbPhotosRedesignVideoIcon{margin-right:5px;vertical-align:middle}
.fbPhotosRedesignAds{position:fixed;top:40px}
.fbPhotosRedesignAlbumPermalinkUpload{margin-right:-14px}
.mediumFbProfileBlankIcon{width:50px;height:50px}
.largeFbProfileBlankIcon{width:74px;height:74px}
.fbProfileBlankStateIcon{background-color:#eceff5;border:1px solid #c5cde1}
.fbProfileBlankStateIcon:hover{border:1px solid #9daccb}
.fbProfileBlankStateIcon:active{background-color:#d8deeb;border:1px solid #9daccb}
.fbProfileBlankStateIcon .iconSpan{border-top:1px solid #f2f4f8;border-bottom:1px solid #f6f7f9;text-align:center}
.fbProfileBlankStateIcon .iconSpan:active{border-top:1px solid #cdd5e6;border-bottom:1px solid #f7f9fb}
.fbProfileBlankStateIcon .iconImage{position:relative}
.mediumFbProfileBlankIcon .iconImage{top:9px}
.largeFbProfileBlankIcon .iconImage{top:21px}
.fbProfileEditLink{text-align:left;background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yj/r/iv2qwEBfFT6.png) no-repeat left 2px;padding-left:14px}
._4-rr{display:inline-block}
._4-rr ._4-rs + ._4-rs{margin-left:-1px}
._4-rt{position:relative;z-index:1}
._4-ru{position:relative;z-index:2}
._4-rs._42fr{position:static}
._4-rr ._4-rs{-webkit-border-radius:0}
._4-rv ._4-rs:first-child{-webkit-border-bottom-left-radius:3px;-webkit-border-top-left-radius:3px}
._4-rv ._4-rs:last-child{-webkit-border-bottom-right-radius:3px;-webkit-border-top-right-radius:3px}
._42me{-webkit-border-radius:3px;-webkit-box-sizing:content-box;color:#333;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:11px;font-weight:bold;line-height:20px;padding:0 6px;text-align:center;vertical-align:middle}
.ie10 ._42me{line-height:19px}
._42me, ._42me:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:0 -5px;-webkit-background-clip:padding-box;background-color:#fff;background-color:rgba(255, 255, 255, .8);border:1px solid #a5a5a5;border-color:rgba(0, 0, 0, .35);-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .1)}
._42me:before{content:'';display:inline-block;height:20px;vertical-align:middle}
._42me:focus{background-color:#fff;background-color:rgba(255, 255, 255, .8);border-color:#c8c8c8;border-color:rgba(180, 180, 180, .8)}
._42me:active, ._42me._42fs, ._42me._42fs:hover, ._42me._42fs:focus, ._42me._42fs:active{background:rgba(0, 0, 0, .08);border-color:#a5a5a5;border-color:rgba(0, 0, 0, .35);-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .2)}
._42me .img{bottom:1px;position:relative;vertical-align:middle}
.webkit.safari ._42me .img{bottom:2px}
form.async_saving ._42me, a.async_saving._42me, ._42me._42fr, ._42me._42fr:active, ._42me._42fr:focus, ._42me._42fr:hover{background:#fff;background:rgba(255, 255, 255, .8);border-color:#c8c8c8;border-color:rgba(180, 180, 180, .8);-webkit-box-shadow:none;color:#b8b8b8}
form.async_saving ._42me .img, a.async_saving._42me .img, ._42me._42fr .img{opacity:.5}
._42mf{font-size:13px;line-height:23px}
.uiVideoLink{background-color:#000;display:inline-block;padding:4px 0;position:relative}
.uiVideoLink:hover{text-decoration:none}
.uiVideoLink i{background-position:center 25%;background-repeat:no-repeat;display:block}
.uiVideoLinkMedium i{height:79px;width:124px}
.uiVideoLinkLarge i{height:118px;width:159px}
.uiVideoLinkHuge i{height:122px;width:171px}
.uiVideoLink .playicon{background-color:transparent;bottom:4px;display:block;height:26px;left:5px;position:absolute;width:35px}
.uiVideoLink .playtime, .uiVideoLink .titlesnippet{background-color:#000;background-color:rgba(0, 0, 0, .65);-webkit-border-radius:2px;bottom:4px;color:#fff;display:block;font-size:11px;padding:3px 6px;position:absolute}
.uiVideoLink .playtime{right:5px}
.uiVideoLink .titlesnippet{left:5px;overflow:hidden;right:50px;text-overflow:ellipsis;white-space:nowrap}
.uiVideoLink:active .playicon, .uiVideoLink:hover .playicon, .uiVideoLink:focus .playicon{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yG/r/Gj2ad6O09TZ.png);background-repeat:no-repeat}
.uiNumberGiant{font-family:arial, helvetica}

#bootloader_jsxYa { height: 42px; }