/*1372593499,173206861*/

._4bi{-webkit-transform:scale3d(1, 1, 1)}
._3yk{-webkit-animation-name:bounceAnimation;-webkit-animation-duration:.75s;-webkit-animation-iteration-count:1;-webkit-animation-fill-mode:forwards;-webkit-transition-timing-function:linear}
@-webkit-keyframes bounceAnimation{0%{-webkit-transform:scale3d(0.984, .984, 1)}
2.22%{-webkit-transform:scale3d(1.090, 1.090, 1)}
6.66%{-webkit-transform:scale3d(1.317, 1.317, 1)}
11.11%{-webkit-transform:scale3d(1.347, 1.347, 1)}
15.55%{-webkit-transform:scale3d(1.273, 1.273, 1)}
20%{-webkit-transform:scale3d(1.155, 1.155, 1)}
24.44%{-webkit-transform:scale3d(1.040, 1.040, 1)}
28.88%{-webkit-transform:scale3d(0.958, .958, 1)}
33.33%{-webkit-transform:scale3d(0.918, .918, 1)}
37.77%{-webkit-transform:scale3d(0.916, .916, 1)}
42.22%{-webkit-transform:scale3d(0.936, .936, 1)}
46.66%{-webkit-transform:scale3d(0.966, .966, 1)}
51.11%{-webkit-transform:scale3d(0.993, .993, 1)}
55.55%{-webkit-transform:scale3d(1.012, 1.012, 1)}
60%{-webkit-transform:scale3d(1.020, 1.020, 1)}
64.44%{-webkit-transform:scale3d(1.020, 1.020, 1)}
68.88%{-webkit-transform:scale3d(1.014, 1.014, 1)}
73.33%{-webkit-transform:scale3d(1.007, 1.007, 1)}
77.77%{-webkit-transform:scale3d(1.000, 1.000, 1)}
82.22%{-webkit-transform:scale3d(0.996, .996, 1)}
86.66%{-webkit-transform:scale3d(0.994, .994, 1)}
91.11%{-webkit-transform:scale3d(0.995, .995, 1)}
95.55%{-webkit-transform:scale3d(0.996, .996, 1)}
100%{-webkit-transform:scale3d(0.998, .998, 1)}
}
._93{border-top:1px dashed #ccc;text-align:left}
._7el ._93{border-top:none;margin-top:10px;padding:0}
._576{display:inline-block;padding-bottom:5px;position:relative}
._yr, ._67b{display:inline-block;margin-right:1px;position:relative;text-align:center;vertical-align:top}
._67b{margin-left:2px}
._yr:first-child{margin:0 1px 0 3px}
._yr .fbVaultGridImage::after, ._67b .fbVaultGridImage::after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
._7el ._yn{font-size:0}
._yn{overflow-x:auto;overflow-y:hidden;white-space:nowrap}
._67b{margin-right:5px}
._4_7{display:none}
._4_8 ._4_7{display:block}
._7el .loadingIndicator{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif);background-repeat:no-repeat;background-size:auto;background-position:0 0;display:inline-block;height:11px;margin-right:2px;position:relative;top:1px;width:16px}
._7el .faceSuggestion{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-87px -101px;display:inline-block;height:10px;margin-right:2px;position:relative;top:1px;width:10px}
._4_8 .uiProgressBar{margin:0 5px 5px 5px}
._57vj .fbVaultGridImage:before{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:0 -101px;bottom:0;content:'';height:34px;position:absolute;right:0;width:34px;z-index:1}
._yn ._57vi .fbVaultGridImage{cursor:pointer}
._57vi:hover .fbVaultGridImage:after{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;bottom:0;content:'';height:100px;position:absolute;right:0;width:100px}
._57vh .fbVaultGridImage:before{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif);background-repeat:no-repeat;background-size:auto;background-position:0 0;content:'';height:11px;left:42px;position:absolute;top:45px;width:16px;z-index:1}
._57vh .fbVaultGridImage .img{opacity:.1}
.fbVaultGridPhotoItemRemoveButton{z-index:1}
._57vh.fbVaultGridItem:hover .fbVaultGridPhotoItemRemoveButton{opacity:0}
._yn .fbVaultGridImage{border:2px solid #fff}
._58pk ._58pl:hover .fbVaultGridImage{outline:none}
._58pk ._58pl:hover .fbVaultGridImage:after{height:0;width:0}
._yn .fbScrollableAreaContent{padding-top:1px}
._yn .fbVaultSelectableGridTextItem{margin-bottom:2px;margin-top:2px}
._yn._58pk .fbVaultGridItem{opacity:.6}
._yn._58pk .fbVaultGridItem._58pl, ._yn._58pk .fbVaultGridItem:hover{opacity:1}
._yn .fbVaultGridItem{-webkit-transition:opacity .1s ease-out}
._4rw, ._4rw #contentCol{padding-top:0}
._4rw #bottomContent{display:none}
._4rw .hasRightCol #contentArea, ._4rw #contentArea{width:auto}
._4rw #rightCol{float:left;margin-left:9px;width:0}
._82{margin-top:38px}
._2rn{bottom:0;position:absolute;right:0;visibility:hidden}
._4rw ._82 .uiSideHeader, ._82 .rhcFooterBorder{border-color:#e0e0e0;border-top-width:0}
div._82 .ego_unit{border-color:#e9e9e9}
._82 #pagelet_rhc_footer{width:244px}
._ksg{background-color:#fff;border-color:#e0e0e0;border-style:solid;border-width:0 1px;position:relative}
._4c{left:50%;margin-left:-16px;padding-top:130px;position:absolute;text-align:center}
._g6 .uiMorePagerLoader, ._g6 .uiMorePagerPrimary{background-color:#fff;border:1px solid transparent}
._g6 .uiMorePagerPrimary{text-align:center}
._g6 .uiMorePagerPrimary:hover{background-color:#fcfcfc;border-color:#f3f3f3}
._7hx, .async_saving ._7hy{display:none}
.async_saving ._7hx{display:inline}
._g6.async_saving .uiMorePagerLoader{display:inline-block;padding:0 15px}
._g6.async_saving .uiMorePagerPrimary{display:block}
._4rw #contentCol ._510g ._510h{margin:0 10px 0 20px}
._2ak{background-color:#f2f2f2}
._2al{margin-bottom:-50px;height:20px;padding:14px 20px;border-top:1px solid #cdcecf;border-bottom:1px solid #e2e2e2}
._42{margin-top:2px}
._2ak .uiButton{padding-left:9px;padding-right:9px}
._2ak .delete ._45, ._2ak .delete ._43, ._2ak .delete ._6zs, ._2ak .delete ._6zt, ._2ak .forward ._46, ._2ak .forward ._44, ._2ak .forward ._6zs, ._2ak .forward ._6zt, ._2ak .report_spam ._46, ._2ak .report_spam ._44, ._2ak .report_spam ._45, ._2ak .report_spam ._43{display:none}
._1rs{background-color:#f2f2f2;border-top:1px solid #cdcecf;padding:0 19px 35px;position:relative}
._2pt{background-color:#fff;border:1px solid #ccc;border-bottom:none;margin:15px 0 0}
._1rt{cursor:text;overflow-x:hidden;overflow-y:auto;max-height:300px;padding:5px 22px 5px 5px;position:relative}
._1ru{position:absolute;left:0;right:0;bottom:0}
._1rv{border:none;font-size:13px;padding:0;width:100%}
._1rv:focus{outline:none}
._1rs .fbVaultEditableGrid{border-top:1px solid #eee;margin-top:0;padding-top:5px}
._1rw{background-color:#fff;border:1px solid #ccc;border-top:none;height:34px;overflow:hidden}
._1r-{float:right;padding-right:6px;position:relative}
._1rs ._24g{position:absolute;padding-left:0}
._1rs ._1rw ._24g ._6q-{margin-bottom:-3px}
._1r_{color:#a6a6a6;display:inline-block;line-height:34px;margin-right:5px;margin-top:-1px;text-align:right}
._1rs a._1r_:hover{color:#888;text-decoration:none}
._3da{display:inline-block;vertical-align:middle}
._1s0{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-36px -162px;display:inline-block;width:14px;height:17px;margin-left:5px;vertical-align:middle}
._1rh ._1s0{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-51px -162px}
._1rs ._1ri{display:inline-block;margin:6px 0 0 15px;padding-left:8px;padding-right:8px}
._1rh ._1ri{margin-left:5px}
._1s1{margin:12px 0 0 5px}
._1r-.transition, .transition ._1ri{-webkit-transition:all .15s}
._2pu{border-top:1px solid #eee;max-height:200px;overflow-x:hidden;overflow-y:auto}
._2pu .UIShareStage_PrivacyWarning{clear:both;float:left}
._2pu .UIShareStage_PrivacyWarning .UIShareStage_PrivacyWarning_text{padding-top:5px}
._2pw{color:#aaa;font-size:11px}
._26q{padding-top:6px}
._1s5{position:absolute;top:15px;z-index:1}
._1rs .emoticonsPanel{display:inline-block;position:relative}
._1rs .emoticonsPanel .panelFlyout{right:0;bottom:30px;z-index:100}
._1rs .emoticonsPanel ._590j{bottom:36px}
._1rs .emoticonsPanel .panelFlyoutArrow{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:-722px -10px;position:absolute;bottom:-9px;right:3px;height:9px;width:16px}
._1rs .emoticonsPanel ._590j .panelFlyoutArrow{right:12px}
._1rs .emoticonsPanel .emoteTogglerImg{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-36px -101px}
._1rs .emoticonsPanel .emoteTogglerImg:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-62px -101px}
._1rs .emoticonsPanel.openToggler .emoteTogglerImg{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-1px -136px}
._4rh{width:100%;text-align:center;z-index:1}
._4ri ._4rh{margin-top:130px}
._4rj ._4rh{margin-top:173px}
._4rk{color:#ccc;font-size:16px;margin-bottom:6px}
.highContrast ._4rk{color:gray}
._4rh a{font-size:11px}
._4rl{margin:0 4px}
._8_{padding:13px 20px 7px}
._90{color:#a6a6a6;padding-left:16px}
._90 .mercuryLogMessageIcon{margin-right:10px}
._91{float:right;color:#bfbfbf}
._8_ ._a9{padding-top:10px}
._8_ + ._8_{padding-top:1px}
.selectionEnabled ._8_{padding-left:40px}
._40p{position:relative}
._40p ._40r{background-color:#282828;color:#fff;cursor:pointer;font-size:11px;line-height:14px;padding:4px 8px;text-align:left;white-space:nowrap}
._40p ._40r a{color:#fff}
._40p ._40r a:hover{text-decoration:none}
._40p .tooltipText{max-width:334px}
._40p .tooltipWrap{white-space:normal;width:334px;word-wrap:break-word}
._40p i._40q{border:4px solid transparent;font-size:0;height:0;line-height:0;position:absolute;width:0}
.uiContextualLayerAboveCenter ._40p{margin-bottom:1px;padding-bottom:4px}
.uiContextualLayerAboveCenter ._40p i._40q{border-bottom:0;border-top-color:#282828;bottom:0}
.uiContextualLayerBelowCenter ._40p{margin-top:1px;padding-top:4px}
.uiContextualLayerBelowCenter ._40p i._40q{border-bottom-color:#282828;border-top:0;top:0}
.uiContextualLayerAboveCenter ._40p i._40q, .uiContextualLayerBelowCenter ._40p i._40q{left:50%;margin-left:-4px}
._2n8{max-width:255px;min-width:255px;padding:10px;width:255px}
._2od{overflow:hidden;padding-top:10px;white-space:nowrap;width:255px}
._2od:first-child{padding-top:0}
._2n9, ._2na{overflow:hidden;text-overflow:ellipsis}
._2n8 .presenceActive, ._2n8 .presenceMobile{display:inline-block;height:11px}
._2n8 .presenceActive{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-31px -141px;margin-left:5px;width:8px}
._2n8 .presenceMobile{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-50px -141px;margin-left:6px;width:7px}
._2nb{border-left:1px solid #e0e0e0;float:left;height:100%}
._2nb ._2nc{margin-bottom:-1px \0/}
._2nb, ._2nc .uiScrollableAreaBody, ._2nc{width:540px}
._2nb .DOMControl_placeholder{color:#aaa}
._2z9{border-bottom:1px solid #e0e0e0}
._308{display:inline-block;vertical-align:middle}
._308 li{border-color:#e0e0e0}
._2za{display:inline-block;vertical-align:middle}
._2zb{display:block;position:relative;top:4px;margin-right:10px}
._2zc{display:inline-block;vertical-align:middle}
._2ze{display:inline-block;vertical-align:middle;padding-left:8px;padding-right:8px}
._2zf{display:inline-block;vertical-align:middle;padding-left:8px;padding-right:8px}
._2nb{height:100%}
._3db{border-bottom:1px solid #e3e3e3}
._2nd{padding:19px 20px 0 0;position:relative}
._2nb ._2ne .unreadHighlight, ._2nb ._2ne .unreadFading{background:#eceff5;padding:7px 20px 6px;border-color:#d6d6d6;border-style:solid;border-width:1px 0}
._2nb ._2ne .unreadHighlight +
.unreadHighlight, ._2nb ._2ne .unreadFading +
.unreadFading{border-top-width:0;padding-top:8px}
._2nb ._2ne .selectedHighlight{background:#fffbc9;border:1px solid #eeeac3;margin:0 10px;padding-right:10px;padding-left:10px}
._2nb .selectionEnabled._2ne
.selectedHighlight{padding-left:30px}
._3j2{width:100%;left:0;top:250px;position:absolute;text-align:center;z-index:1}
._3j3{color:#ccc;font-size:18px;margin-bottom:6px}
._3j2 a{font-size:11px}
._3j4{margin:0 4px}
._2nb ._2n4{color:#ccc;font-size:18px;position:absolute;text-align:center;top:180px;width:100%}
._2nb ._2nf{background-color:#f2f2f2;height:200px}
#WebMessengerReportDialog label{padding-left:5px}
._2nj{position:relative}
._2nj.blankComposeState{background-color:#f2f2f2;position:static}
._5zf{border-top:3px double #e8e8e8;color:#bfbfbf;font-size:11px;padding:6px 0 36px;text-align:center}
._2nb ._2n3{border-top:1px solid #e8e8e8;color:#bfbfbf;font-size:11px;margin:17px 20px 2px;text-align:center}
.highContrast ._2nb ._2n3{border-top:1px solid #808080;color:gray}
._2nb ._2n3:first-child{margin-top:24px}
._2nb ._2n3 .timestamp{background-color:#fff;padding:0 5px;position:relative;top:-8px}
._2nb .shareRedesign{width:auto}
._2nb .uiStreamAttachments{margin:8px 0 0 0}
._2nb ._510o{padding:3px 20px 5px}
._2nb ._3hg, ._2nb ._3hh{padding:5px 20px 0}
._r6{height:24px;padding:18px 19px 18px 22px}
._57j0{white-space:nowrap}
._r7, ._r7 a{color:#333}
._r7{display:inline-block;font-size:16px;line-height:24px;overflow:hidden;text-overflow:ellipsis;vertical-align:middle;white-space:nowrap}
._50jz{margin-top:-5px}
._3jd{color:#aaa}
.highContrast ._3jd{color:gray}
._57j1{line-height:12px}
._55p8{color:#bf0000;font-size:9px;font-weight:bold;vertical-align:top}
._50k7{display:inline}
._2u_{display:inline-block}
.isMultichat ._2u_{margin-left:2px}
._r6 ._1vq, ._r6 ._2wa{display:inline-block;height:17px;left:-1000px;margin-left:3px;position:absolute;vertical-align:middle;width:17px}
.isMultichat:hover ._1vq, .isMultichat:hover ._2wa, .isMultichat:hover ._1vq:focus, .isMultichat ._2wa:focus{left:0;position:relative}
.isMultichat ._1vq:focus{left:17px;position:relative}
._4a_i{-webkit-border-bottom-left-radius:3px;border-color:#999;-webkit-border-top-left-radius:3px;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .1);margin-right:-1px;padding-left:7px;position:absolute;right:44px;width:170px}
._6nw ._4a_i{padding-bottom:3px}
._4a_j{padding:2px 8px}
._1vq.uiCloseButton{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-81px -136px}
._1vq.uiCloseButton:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:0 -162px}
._2wa.uiCloseButton{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-18px -162px}
._2wa.uiCloseButton:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-63px -136px}
._r7.allPeopleResults{font-weight:normal}
._1ue{position:relative;top:4px}
._r6 .presenceActive, ._r6 .presenceMobile{display:inline-block;height:11px}
._r6 .presenceActive{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-31px -141px;margin-left:6px;width:8px}
._r6 .presenceMobile{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-50px -141px;margin-left:7px;width:7px}
._1us{margin-left:6px}
._1vr{white-space:nowrap;vertical-align:middle}
._3mv{height:16px}
._290{margin-bottom:25px}
._291 .uiMorePagerLoader, ._291 .uiMorePagerPrimary{background-color:#fff;border:1px solid #e9e9e9;border-left:0;border-right:0}
._291 .uiMorePagerPrimary:hover{background-color:#f4f6f9}
._26t{padding-left:20px}
._26u ._25-{border-top:1px solid #e9e9e9;padding-left:20px;padding-right:20px}
._25_{font-size:13px;line-height:1.38;margin-right:85px}
._260{color:#3d3d3d}
._260:active{outline:none}
._260:hover{cursor:pointer}
._25-:hover{background-color:#f4f6f9}
._261{color:#3b5998;font-weight:bold}
._262{border-top:1px solid #e9e9e9;padding:14px 20px;vertical-align:middle}
._263, ._264{color:gray}
a._4-ii{padding-right:11px;text-decoration:none}
._4-ii:after{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yg/r/Qdv04UHuWZa.png);background-repeat:no-repeat;background-size:auto;background-position:0 -56px;content:'';height:7px;margin:4px 0 0 5px;position:absolute;width:4px}
._4-ij{background-color:#f7f7f7;border-bottom:1px solid #e3e3e3;padding:4px 18px;text-align:right}
._1sk9{position:relative}
._1ska{text-align:center}
._1skb{margin-right:5px}
._10n{padding-bottom:5px}
._10o{padding-right:15px;white-space:nowrap}
._10p{background-color:#f0f0f0;border:1px solid #e0e0e0;-webkit-border-radius:2px;display:inline-block;min-width:15px;padding:2px 5px;text-align:center}
._10q{color:#e0e0e0;margin:0 5px}
._3b{border-bottom:1px solid #e0e0e0;padding:10px 12px 10px 10px;white-space:nowrap}
._3b .uiSearchInput, ._3b .uiSearchInput input, ._3b .uiSearchInput span{width:100%}
._3b .DOMControl_placeholder{color:#aaa}
._3b ._3c{border:1px solid #d1d1d1}
._3b ._3c input{padding-right:21px;width:186px;background-color:transparent}
._3b ._48{display:none;margin-left:-40px;margin-top:-2px;vertical-align:middle}
._47 ._48{display:inline-block}
._6nw ._48{margin-top:1px}
ul._281{border-bottom:1px solid #e2e2e2;height:60px;padding:0 15px 0 5px;overflow:hidden}
._1n:hover{color:gray;text-decoration:none}
._1n{color:#aaa;display:block;font-size:13px;line-height:60px;padding:0 6px}
.highContrast ._1n{color:gray}
._3j5{background-color:#fff}
._281 ._282{display:inline-block;float:right}
._1tyl{margin-right:14px}
._1tyl, ._6xt{display:inline-block}
._282 ._1n{display:inline-block}
._50p_._282{-webkit-box-shadow:3px 2px 1px -1px rgba(0, 0, 0, .15);margin-top:17px}
.openToggler ._1n{margin-top:17px}
.openToggler ._1n, ._50p_ ._1n{border:solid #b0b0b0;border-width:1px 1px 0 1px;color:gray;line-height:inherit;margin-right:-1px;padding:4px 6px}
._6nw .openToggler ._1n{padding-top:3px}
._50p_ ._1n{margin-top:0}
.selectedFolder ._1n{color:#333;font-weight:bold;margin-right:-1px}
._50p_ .selectedFolder._282{margin-right:-1px}
._283{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-45px -127px;display:block;height:5px;margin-left:6px;position:absolute;right:21px;top:29px;width:9px}
._1n:hover ._283, ._50p_ ._283, .selectedFolder ._283{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-35px -127px}
._50q0{font-weight:normal}
div._1j ._54ng{border:1px solid #b0b0b0;-webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, .15);font-size:13px}
div._1j ._54hx{border-color:#b0b0b0}
._6s5 + ._1r{padding-left:0}
._1n ._1r{display:inline-block;overflow:hidden}
._1r{padding-left:5px}
._4yj{padding:8px 10px 8px;border-bottom:1px solid #dfdfdf}
._4yk{position:relative;bottom:1px}
.highlighted ._1r{color:#fff}
._11z{padding:10px 10px 10px;border-bottom:1px solid #dfdfdf}
._4wo{border-bottom:1px solid #e3e3e3;padding:7px 0 8px}
._4wo ._4wp{padding:2px 0 0 5px;width:100%}
._4wp .uiInlineTokenizer{border:none}
._4wp .uiInlineTokenizer .textInput{font-size:13px;padding-bottom:5px;padding-top:5px}
._4wq{background-color:#fff}
._4wq .tokenarea{margin-top:-1px}
._4wq ._4wr{color:#333;font-size:13px;height:22px;padding:3px 0 2px 23px;white-space:nowrap}
._4ws.uiInlineTokenizerView{width:auto}
._4ws .authors{color:#3d3d3d}
._4ws li{padding-right:20px;padding-left:20px}
._4ws .selected:hover, ._4ws .selected{background-color:#7582b4;cursor:pointer}
._4ws .authors{text-decoration:none}
._4ws .actionControls{display:none}
._4ws .selected div, ._4ws .selected span, ._4ws .selected .timestamp{color:#fff}
._4wt{margin:35px 0 0 10px}
._4wp .uiToken{padding:3px 4px 3px 6px}
._4wp .uiInlineTokenizer .tokenarea{padding-bottom:0}
._4wu{text-align:center;background-color:#fff;border-color:#e8e8e8;border-style:solid;border-width:0 0 1px;padding:20px 0}
._4wu ._4wv{font-weight:bold}
._4ww{color:gray}
._2ys{bottom:0;position:absolute;visibility:hidden}
.wmMasterView{float:left;position:relative}
.wmMasterView:after{display:block;background-color:#ebebeb;border-style:solid;border-width:12px 0 13px;border-color:#fff;content:' ';left:100%;position:absolute;width:1px;height:35px;top:0}
._4z0 .uiScrollableAreaBody, ._4z0, .wmMasterView{width:308px}
._2tm{padding:0 14px 0 10px}
._3j8{cursor:pointer}
._3j8 a{color:#fff}
._3j8 a:hover{text-decoration:none}
._2tn{-webkit-box-sizing:border-box;color:#ccc;font-size:16px;line-height:1.6;padding:0 20px;position:absolute;text-align:center;top:250px;width:100%}
._2to{margin:0 14px 0 10px}
._3j6{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ye/r/fCA8jFmx1to.png);background-repeat:repeat-y}
._3j7{background-position:0 43px}
.wmMasterView ._33x:hover, .wmMasterView ._33x{margin-top:-1px;position:relative}
._33y{display:block;margin:0 auto;padding:25px 0}
._243:hover, ._243{border-color:#e0e0e0;border-style:solid;border-width:1px 0 0}
._kv._243:hover, ._kv._243{border-bottom-width:1px}
._244{font-weight:bold;line-height:16px;text-align:center}
._245{background:transparent url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yV/r/IJYgcESal33.png) 0 -413px;display:inline-block;height:7px;margin-left:4px;width:4px}
._kv ._245{background:transparent url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yV/r/IJYgcESal33.png) 0 -420px}
._4rw ._k-{border-width:1px 0}
._k-{position:relative;margin-top:-1px;border-color:#e8e8e8;border-style:solid}
.wmMasterView ._k-:first-child{border-width:0 0 1px;margin-top:0}
.wmMasterView ._k-:last-child{border-bottom-width:0}
._k_{display:block}
._l0{color:gray;display:block;float:right;margin-left:2px;vertical-align:middle}
._l1{color:#333;font-size:13px;font-weight:bold}
._k- .MercuryThreadlistIcon{margin-bottom:3px;margin-right:4px}
._l2, ._l3{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._k-:hover ._l3, ._l3{margin-right:31px}
._kx ._l3{margin-right:0}
._l4{line-height:16px;padding-top:8px}
.wmMasterView ._k-:hover, .wmMasterView ._k-._kv, .wmMasterView ._k-._kx{margin-left:-10px;margin-right:-14px;padding:0 14px 0 10px}
._kx{background-color:#eceff5;border-color:#e0e2ee}
._k-:hover + ._k-, ._kv + ._k-, ._kx + ._k-, li._kv:hover + ._kx, ._kv + ._kx{border-top-width:0;margin-top:0}
.wmMasterView ._kv:first-child, ._k-:hover + ._kv, ._k-:hover + ._kx, ._kx + ._kv{border-top-width:1px;margin-top:-1px}
._kx + ._kx{border-color:#e2e5ef}
._k-:hover{background-color:#f4f6f9;border-color:#e3e8f0;cursor:pointer}
._kx:hover{background-color:#e7ebf2;border-color:#d1d8e7}
._kv:hover, ._kv{background-color:#6d84b4;border-color:#4e5d7b}
._kv ._l4, ._kv ._244, ._kv div._246, ._kv ._l6, ._kv ._l1, li._kv ._l3, ._kv ._l0{color:#fff}
._246{max-width:253px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._kv .MercuryVoiceIcon i{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-66px -162px}
._kv .MercuryRepliedIndicator.repliedLast.seenByAll{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-87px -112px}
._kv .MercuryRepliedIndicator.repliedLast{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-85px -180px}
._kv .MercuryAttachmentIndicator{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-85px -190px}
._l5{background-color:#e5e5e5;-webkit-border-radius:3px;color:#777;margin-left:5px;padding:1px 5px;text-transform:uppercase}
._k_:hover{text-decoration:none}
._l6{color:#8096c1;display:none;margin-right:2px;text-align:right}
._l7{display:none;position:absolute;top:32px;right:-3px}
._k-:hover ._l7, ._kv ._l7, ._kx ._l7{right:12px}
._l8{display:inline-block;margin-top:-1px;padding:2px 4px 4px 3px}
._l9, ._4_3q, ._2s2, ._kz, ._ky{background-repeat:no-repeat;height:9px;width:9px}
._l9, ._4_3q{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:1px -179px}
._l9:hover, ._4_3q:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-50px -179px}
._2s2{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:1px -211px}
._2s2:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-33px -195px}
._ky{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/csCfJBX3kRh.png);background-repeat:no-repeat;background-size:auto;background-position:-84px -374px}
._ky:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/csCfJBX3kRh.png);background-repeat:no-repeat;background-size:auto;background-position:-67px -374px}
._kz{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/csCfJBX3kRh.png);background-repeat:no-repeat;background-size:auto;background-position:1px -391px}
._kz:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-67px -195px}
._kv ._l9, ._kv ._4_3q{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-16px -179px}
._kv ._l9:hover, ._kv ._4_3q:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-33px -179px}
._kv ._2s2{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-16px -211px}
._kv ._2s2:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-50px -195px}
._kv ._ky{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-67px -179px}
._kv ._ky:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-82px -161px}
._kv ._kz{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:-16px -195px}
._kv ._kz:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-repeat:no-repeat;background-size:auto;background-position:1px -195px}
._kx ._l6, ._k-:hover ._l7{display:block}
.composerTypeaheadResults ._k-:hover ._l7{display:none}
._k-:hover ._l6{display:none}
.MessagingMessage .content{overflow:visible;position:relative;width:100%}
.MessagingMessage .content p, .MessagingMessage .content pre{display:inline-block !important;max-width:350px}
.MessagingMessage a.brokenHeart, .MessagingMessage a.fbtraceLink{float:right;height:14px;visibility:hidden}
.MessagingMessage a.brokenHeart img, .MessagingMessage a.brokenHeart .img, .MessagingMessage a.fbtraceLink .img, .MessagingMessage a.fbtraceLink img{opacity:.5}
.MessagingMessage .content:hover a.brokenHeart, .MessagingMessage .content:hover a.fbtraceLink{visibility:visible}
._54_2{margin:100px}
._5981{position:relative}
._5982{height:100%;left:0;position:absolute;top:0;width:100%}
._54qn{background:#5b74a8;border:solid #29447e 1px;-webkit-border-radius:3px;padding:3px}
._55g4 .inputtext{width:112px}
.fbPhotoEditor ._554f{height:32px;padding:3px 2px 0 2px;width:32px}
._55g3 .inputtext{width:22px}
._55g5{height:20px}
._55g1{cursor:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y0/r/W38TjRZ34Yg.png), auto}
._55gm:hover{border:dashed #5b74a8 3px}
._55gm{background-position:0 0;background-repeat:no-repeat;border:dashed transparent 3px;-webkit-box-sizing:border-box;cursor:move;height:80px;left:0;overflow:hidden;position:absolute;top:0;width:80px}
._55jn{background-size:100% 100%;resize:both}
._55gm.loading{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yl/r/FIthbPWc-QQ.gif) 50% 50% no-repeat}
._55gm img{display:none;height:100%;width:100%}
._55gm:hover ._55gn{display:block}
._55gn{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yF/r/p2ZNBOqU71l.png) no-repeat 50% 50%, rgba(0, 0, 0, .5);-webkit-border-radius:100%;cursor:pointer;display:none;height:18px;position:absolute;right:0;top:0;width:18px}
._55jo{visibility:hidden}
._55te, ._55tf{cursor:pointer;position:relative}
._55tf.photo:after{content:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yX/r/ybC7yvh5h4h.png);left:10px;position:absolute;top:10px}
._55tf.photo.added:after{content:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yL/r/zB-dS0zklek.png);left:6px;top:7px}
._5981.fbWantsDragDrop{-webkit-box-shadow:0 0 120px -20px #0f5}
.rot90{-webkit-transform:rotate(90deg)}
.rot180{-webkit-transform:rotate(180deg)}
.rot270{-webkit-transform:rotate(270deg)}
._3ew{position:relative;top:11px}
._3ev{display:none;position:absolute;right:5px;top:5px}
._2oe:hover ._3ev{display:block}
._2of{height:100%;width:100%;z-index:100}
._2oh:hover{border-color:#ccc}
._2oh{border:2px dashed #ddd;-webkit-border-radius:2px}
._2oe, ._579{background-color:#f4f6f9;display:inline-block;margin-right:5px;position:relative;vertical-align:top}
._2oe:first-child, ._579:first-child, ._2oh:first-child{margin-left:5px}
._579 .uiProgressBar{bottom:5px;left:5px;position:absolute;right:5px}
._639{display:none;position:absolute;right:5px;top:5px}
._579:hover ._639{display:block}
.fbScrollableArea{height:100%;overflow:hidden;position:relative;width:100%}
.fbScrollableAreaWrap, .native .fbScrollableAreaWrap:active{width:100%;overflow-y:hidden;overflow-x:auto;position:relative;height:150%}
.native .fbScrollableAreaWrap, .native .fbScrollableAreaBody, .no_js .fbScrollableAreaWrap, .no_js .fbScrollableAreaBody{height:auto !important}
.fbScrollableAreaBody{position:relative;display:inline-block}
.fbScrollableAreaTrack{display:inline-block;position:absolute;left:2px;right:2px;bottom:2px;height:7px;z-index:5}
.native .fbScrollableAreaTrack, .no_js .fbScrollableAreaTrack{display:none}
.fade .fbScrollableAreaTrack{opacity:0}
.fbScrollableAreaGripper{-webkit-background-clip:content-box;background-color:rgba(0, 0, 0, .4);border:1px solid rgba(85, 85, 85, .6);-webkit-border-radius:7px;position:absolute;-webkit-transition:25ms;height:5px}
.fbScrollableArea.contentBefore:before, .fbScrollableArea.contentAfter:after{content:'';display:block;width:2px;position:absolute;height:100%;z-index:99}
.fbScrollableArea.contentBefore:before{left:0}
.fbScrollableArea.contentAfter:after{background-color:rgba(0, 0, 0, .07);right:0}
.fbScrollableAreaContent{white-space:nowrap}
.sp_3kl2xj{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yB/r/AE2Xu4f5BtY.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:15px;width:15px}
.sx_89a5de{background-position:-91px -43px}
.sx_0d97f8{width:126px;height:42px;background-position:0 0}
.sx_9e711a{width:90px;height:30px;background-position:0 -43px}
.sp_eqapvj{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/3Vpz6MJaGmx.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:9px;width:9px}
.sx_c375cc{width:10px;height:10px;background-position:-87px -101px}
.sx_01a334{width:34px;height:34px;background-position:0 -101px}
.sx_c47708{width:100px;height:100px;background-position:0 0}
.sx_b4010b{width:16px;height:16px;background-position:-66px -162px}
.sx_9feec9{width:14px;height:17px;background-position:-51px -162px}
.sx_27dbe2{width:14px;height:17px;background-position:-36px -162px}
.sx_554216{width:17px;height:17px;background-position:0 -162px}
.sx_a7af7e{width:17px;height:17px;background-position:-81px -136px}
.sx_04a65c{width:17px;height:17px;background-position:-63px -136px}
.sx_d417b6{width:17px;height:17px;background-position:-18px -162px}
.sx_5574b1{width:14px;height:14px;background-position:-6px -142px}
.sx_f86404{width:14px;height:14px;background-position:-67px -107px}
.sx_10e756{width:14px;height:14px;background-position:-41px -107px}
.sx_dcff2d{height:5px;background-position:-45px -127px}
.sx_f72ee7{height:5px;background-position:-35px -127px}
.sx_1aafc9{width:10px;background-position:-85px -190px}
.sx_062751{width:10px;background-position:-85px -180px}
.sx_957e8a{width:10px;background-position:-87px -112px}
.sx_5035a6{width:7px;height:11px;background-position:-50px -141px}
.sx_3906e6{width:8px;height:11px;background-position:-31px -141px}
.sx_c64e21{background-position:-54px -182px}
.sx_afcf09{background-position:-37px -182px}
.sx_d39e6c{background-position:-20px -182px}
.sx_30ee86{background-position:-3px -182px}
.sx_046a68{background-position:-86px -164px}
.sx_5bf147{background-position:-71px -182px}
.sx_2fd3e2{background-position:-71px -198px}
.sx_966c71{background-position:-3px -198px}
.sx_5c73ea{background-position:-20px -198px}
.sx_a1adf8{background-position:-37px -198px}
.sx_974498{background-position:-54px -198px}
.sx_d9b3e7{background-position:-20px -214px}
.sx_06793e{background-position:-3px -214px}
.uiProgressBar{background:#fff;border:1px solid;border-color:#a4a4a4 #bbb #d5d5d5}
.uiProgressBar .fill{background:#6d84b4;border:solid #3b5998;-webkit-border-radius:0;border-width:1px 0 1px 1px;color:#fff;height:20px;margin:-1px;overflow:hidden;position:relative}
.uiProgressBarSmall .fill{height:8px}
.uiProgressBar.rounded .fill, .uiProgressBar.rounded{-webkit-border-radius:15px}
.uiProgressBar .full{border-right:solid 1px #3b5998}
.uiProgressBar .empty{border-width:1px 0}
.uiProgressBar .label{white-space:nowrap;line-height:20px;display:inline-block;padding-left:5px}
.uiProgressBar .labelBack{position:absolute}
._6qy{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._4h, ._4g{line-height:1.28em}
._4g{left:-9999999px !important;position:absolute !important}
._60{margin-top:0}
._60.imageLoading ._5_, ._60.imagePixelsLoading ._5_{background:#000 url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y7/r/pgEFhPxsWZX.gif) no-repeat center center}
._60.imageLoading ._b4, ._60.imagePixelsLoading ._b4{opacity:0}
._60.dataLoading ._3n1{opacity:0}
._5_{background-color:#000;cursor:pointer;display:inline-block;position:relative;text-align:center;-webkit-transition:margin-left .15s ease-in-out;-webkit-user-select:none}
._12-k{border:rgba(255, 255, 255, .1) 1px solid;-webkit-box-sizing:border-box;height:100%;left:0;pointer-events:none;position:absolute;top:0;width:100%;z-index:3}
._el{height:100%}
._589s{position:absolute}
._1_y{display:inline-block;margin:0 auto;max-height:100%;max-width:100%;position:relative;vertical-align:middle}
._64{display:block;height:45px;margin-top:-22px;opacity:0;position:absolute;top:50%;-webkit-transition:opacity .2s;width:27px;z-index:1}
.profilePicEditingMode ._8re ._64, .profilePicEditingMode ._8re ._64:hover, .profilePicEditingMode ._8re ._5xu, .profilePicCroppingMode ._8re ._64, .profilePicCroppingMode ._8re ._64:hover, .profilePicCroppingMode ._8re ._5xu{opacity:0}
._8re ._64, ._8re ._5xu{opacity:.4}
._8re ._8rd, ._8re ._64:hover, ._8re ._5xu:hover{opacity:1}
._62{-webkit-border-radius:0 8px 8px 0;left:20px;background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:-557px -35px}
._61{-webkit-border-radius:8px 0 0 8px;right:20px;background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:-501px -35px}
._3n8{color:#d1d1d1;position:relative;right:62px;bottom:9px}
._3n7{position:absolute;right:33px;top:-33px;z-index:5}
._3n9{position:absolute;top:0;right:0}
._b4{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yB/r/AE2Xu4f5BtY.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;cursor:default;display:block;height:42px;position:absolute;right:12px;top:12px;-webkit-transition:opacity .2s;width:42px;z-index:5}
._b4:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yB/r/AE2Xu4f5BtY.png);background-repeat:no-repeat;background-size:auto;background-position:-42px 0}
._b5._b4{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yB/r/AE2Xu4f5BtY.png);background-repeat:no-repeat;background-size:auto;background-position:-84px 0}
._b4:active{-webkit-transform:scale3d(0.9, .9, 1);-webkit-transition:-webkit-transform .1s linear}
._3n1{opacity:0}
.async_saving._3n1, ._8re ._3n1{opacity:1}
._3n1 a:hover, ._68_ a:hover{text-decoration:none}
._3n3{margin-top:3px}
._5xu{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yB/r/AE2Xu4f5BtY.png);background-repeat:no-repeat;background-size:auto;background-position:-91px -43px;display:inline-block;height:14px;left:20px;opacity:0;position:absolute;top:20px;-webkit-transition:opacity .2s;vertical-align:top;width:14px;z-index:4}
._el .bg, ._el .wrapper{z-index:2}
.profilePicSavingMode ._3n1, .profilePicCroppingMode ._3n1, .profilePicSavingMode ._64, .profilePicCroppingMode ._64{opacity:0}
._4kgd{display:inline-block;height:100%;vertical-align:middle}
._5aoe, ._5ab6, ._68_, ._690{z-index:4}
._5_ ._5aoi, ._5_ ._5ab6, ._5_ ._5aoe{height:74px}
._5aoh:hover, ._5aoh{background:#bb6}
._5_ ._5aoj{-webkit-border-radius:5px;display:inline-block;height:60px;margin:0 7px;overflow:hidden;padding:0;vertical-align:middle;width:60px}
._5_ ._5aoj:hover{-webkit-border-radius:5px}
._5aoj img{max-height:60px;max-width:60px}
._5aoe ._5aoj{border:solid transparent 2px;-webkit-box-sizing:border-box}
._5aoe ._5aoh:hover, ._5aoe ._5aoh{border:solid #BBBB66 2px}
._5aoc img, ._5aob img{max-height:none;max-width:none}
._5aoo ._68_, ._5aoo ._3n1{height:74px;padding:0}
._5aoo ._3n1 ._56he, ._5aoo ._3n1 ._3n2{margin:0}
._5aoo ._3n1 ._5aoj{margin-right:7px}

#bootloader_9a22N { height: 42px; }