/*1372642680,178191661*/

._68l{margin:0 15px}
._68l.first{padding-top:10px}
._68m{color:#888;font-size:11px;height:17px;width:100px}
._68m.withMargin{margin:4px 0}
._68n{font-size:14px;font-weight:bold;width:80px}
#globalContainer #fanAcquisitionPanelBudgetBodyConfirmButton{float:right;font-size:13px;height:23px;margin:15px 10px}
#globalContainer #fanAcquisitionPanelBudgetBodyConfirmButton span{display:inline-block;max-width:192px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:inherit}
._5b0z{display:inline-block;max-width:155px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:inherit}
._57vu{padding:5px}
._c6l{border-bottom:0}
._csd{float:right}
._cse{height:135px}
._csf{margin:20px 0 30px 0}
._4zsk{color:#878787;font-weight:bold;padding-bottom:9px}
._558p{max-width:80px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._4-xc{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yW/r/UaiDUgTVOv3.png) no-repeat -18px 0;cursor:pointer;display:inline-block;height:18px;margin:-3px 0 -5px 0;outline:none;text-indent:-9999px;width:18px}
._4-xc:hover{background-position:0 0;opacity:1}
#globalContainer #fanAcquisitionPanelPreviewBodyConfirmButton{font-size:12px;height:26px;width:202px}
#globalContainer #fanAcquisitionPanelPreviewBodyConfirmButton span{display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:inherit}
#fbFanAcquisitionBudgetWidget .budgetSelectorButton{background-color:#fff;border:1px solid #bdc7d8;color:#333;text-decoration:none;width:348px}
#fbFanAcquisitionBudgetWidget .budgetSelectorButton.shortButton{width:204px}
#fbFanAcquisitionBudgetWidget .budgetSelectorLabel{line-height:18px;padding:5px 2px 5px 8px}
#fanAcquisitionDialog #fbFanAcquisitionBudgetWidget .budgetSelectorLabel{width:310px}
#fbFanAcquisitionBudgetWidget .budgetSelectorChevronWrapper{border:1px solid transparent;display:block;height:29px;margin:-1px}
#fbFanAcquisitionBudgetWidget .budgetSelectorChevron{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:right -398px;display:block;height:20px;margin-top:5px;padding-right:23px}
#fbFanAcquisitionBudgetWidget .budgetSelectorButton:hover, #fbFanAcquisitionBudgetWidget .budgetSelectorButton:active{border:1px solid #999;border-bottom-color:#888}
#fbFanAcquisitionBudgetWidget .budgetSelectorButton:hover .budgetSelectorChevronWrapper{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:-352px -152px;border-color:#999;border-bottom-color:#888}
#fbFanAcquisitionBudgetWidget .selected .budgetSelectorButton{background-color:#6d84b4;border:1px solid #3b5998;border-bottom-color:#6d84b4;color:#fff}
#fbFanAcquisitionBudgetWidget .selected .budgetSelectorButton .budgetSelectorChevronWrapper{background-image:none;border-color:transparent}
#fbFanAcquisitionBudgetWidget .selected .budgetSelectorButton .budgetSelectorChevron{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:right -250px}
#fbFanAcquisitionBudgetWidget .selected .budgetSelectorLabel{text-shadow:0 1px 0 rgba(0, 0, 0, .15)}
#fbFanAcquisitionBudgetWidget .budgetValueLabel{float:left;font:bold 18px Helvetica, Arial, sans-serif;margin-top:-1px;width:90px}
#fbFanAcquisitionBudgetWidget .budgetValueReach{float:right;font-weight:normal}
#fbFanAcquisitionBudgetWidget .selected .budgetValueReach{color:#fff}
#fbFanAcquisitionBudgetWidget .perday{float:left;font-weight:normal}
#globalContainer #fbFanAcquisitionBudgetWidget .selected .perday{color:#fff}
#fbFanAcquisitionBudgetSelector a._54nc{padding:7px 16px 7px 10px}
#fbFanAcquisitionBudgetSelector ._54nh{padding-left:25px}
#fbFanAcquisitionBudgetSelector ._54nd a._54nc{background-image:none}
#fbFanAcquisitionBudgetSelector ._54nd ._54nh{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yu/r/CgLauo0jQt7.png);background-repeat:no-repeat;background-size:auto;background-position:left 1px}
#fbFanAcquisitionBudgetSelector ._54nd._54ne ._54nh{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yu/r/CgLauo0jQt7.png);background-repeat:no-repeat;background-size:auto;background-position:left -14px}
#fbFanAcquisitionBudgetSelector._58aw{min-width:350px}
#fbFanAcquisitionBudgetSelector._58d-{min-width:206px}
#fbFanAcquisitionBudgetSelector .budgetValueLabel{float:left;font-family:Helvetica, Arial, sans-serif;margin-top:-1px;width:90px}
#fbFanAcquisitionBudgetSelector .budgetValueReach{float:right;font-weight:normal}
#fbFanAcquisitionBudgetSelector ._54ne .budgetValueReach, #globalContainer #fbFanAcquisitionBudgetSelector ._54ne .budgetValueReach{color:#fff}
#fbFanAcquisitionBudgetSelector ._54ne .budgetValueLabel, #fbFanAcquisitionBudgetSelector ._54ne .budgetValueReach{text-shadow:0 1px 0 rgba(0, 0, 0, .15)}
#fbFanAcquisitionBudgetSelector{max-width:450px}
#fbFanAcquisitionBudgetWidget .budgetValueReach{max-width:200px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
#fbFanAcquisitionBudgetSelector .budgetValueReach{max-width:300px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
#fbFanAcquisitionBudgetSelector ._54nh{max-width:500px}
.fbBoostedPost{outline:none}
.uiPopover.selected .uiPopoverButton.fbBoostedPostPopoverButton{border-bottom-color:#3b5998}
.fbBoostedPostPopoverButton.uiPopoverTriggerElem{display:inline-block}
.fbBoostedPostPopoverButton .uiButtonText{color:#3b5998;font-weight:normal}
.fbBoostedPostPopoverButton:hover .uiButtonText{color:#333}
.openToggler .fbBoostedPostPopoverButton:hover .uiButtonText{color:#fff}
.promotedPostFlyoutContainer{background-color:#fff;border:1px solid #777;border-bottom:2px solid #293e6a;width:340px;position:relative;top:-1px}
.promotedPostFlyoutContainer.discountedFlyout{width:450px}
.uiContextualLayerAboveLeft .promotedPostFlyoutContainer, .uiContextualLayerAboveRight .promotedPostFlyoutContainer{border-bottom:1px solid #293e6a;top:1px}
.promotedPostFlyoutFooter{padding:6px 7px 6px 8px}
.promotedPostFlyoutContainer .moreOptionsLink{display:block}
.promotedPostFlyoutContainer .uiFeedTargeter{border-top:1px dashed #ccc}
.promotedPostFlyoutContainer .uiFeedTargeterAddFilter{margin:-1px 0 -1px 8px;padding-bottom:3px}
.promotedPostFlyoutContainer .uiFeedTargeterAddFilterDisabled{display:inline-block;margin-left:8px}
.promotedPostFlyoutContainer .uiFeedTargeterRow{border-bottom:1px solid #e7e7e7}
.promotedPostFlyoutContainer .uiFeedTargeterRow .uiFeedTargeterTargetName, .promotedPostFlyoutContainer .uiFeedTargeterRow .uiFeedTargeterDeleteLink{color:gray}
.promotedPostFlyoutContainer .uiFeedTargeterRow .uiFeedTargeterTargetName{padding-left:10px}
.promotedPostFlyoutContainer .uiFeedTargeterRow .uiFeedTargeterText{margin-bottom:-3px}
.editBudget .budgetEditDescriptionString{float:left;margin-right:6px}
.editBudget .budgetValue{display:none}
.editBudgetButton{margin-top:-4px}
.promotedPostUpsellHeader{padding:15px}
.editCallToAction{font-size:14px}
a.promotedPostButton.uiPopoverButtonWithChevron, a.promotedPostButton.uiPopoverButtonWithChevron:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/fJUZ7R9Q_d_.png);background-repeat:no-repeat;background-size:auto;background-position:right -398px;border-color:#c4cde0}
.promotedPostButton .uiButtonText{color:#3b5998;font-weight:normal}
._5620{margin-top:-2px}
.insightsBar{margin:15px -12px -12px 0}
.insightsBar .reachStats{display:inline-block;padding:4px 0}
.insightsBar .promotionUnavailableLink{text-decoration:none;visibility:hidden}
.insightsBar:hover .promotionUnavailableLink{visibility:visible}
.uiComposer{border-bottom:1px solid #ccc}
.uiComposerTopBorder{border-top:1px solid #ccc}
.uiComposerOpen, .no_js .uiComposer{border-bottom:none}
.uiComposer .attachmentLoader{line-height:normal;position:absolute;right:2px;top:9px}
.uiComposer .attachmentSentenceBar{line-height:22px;padding:3px 0 6px;position:relative;z-index:2;zoom:1}
.uiComposer .attachmentCloseBtn{position:absolute;right:2px;top:7px}
.uiComposer .attachmentFrame{border:1px solid #b4bbcd;border-bottom-color:#ccc}
.uiComposerHideMessageBox .attachmentFrame, .uiComposerHideInput .attachmentFrame{border-bottom-color:#b4bbcd}
.uiComposerHideContent .attachmentFrame{display:none}
.uiComposerHideStatusBox .inputContainer{display:none}
.uiComposerOpen .focus_target{padding-bottom:10px}
.uiComposerWhiteMessageBox .child_was_focused{border-bottom:1px solid #e9e9e9}
.uiComposerHideMessageBox .child_was_focused{border-bottom:none}
.uiComposer .showWhenOpen, .uiComposer .showOnceInteracted{display:none !important}
.uiComposerOpen .showWhenOpen, .no_js .uiComposer .showWhenOpen, .uiComposerInteracted .showOnceInteracted, .uiComposer .child_was_focused .showOnceInteracted{display:block !important}
.uiComposer .collapsedPostButtonContainer{text-align:right}
.uiComposer .collapsedPostButton{margin-right:1px;padding:2px 16px}
.uiComposer .child_was_focused .collapsedPostButton{display:none}
.uiComposer .tallComposer .mentionsTextarea{height:34px}
._97_{vertical-align:bottom}
._980{padding:5px 3px}
._982 .uiIconText{display:block;padding:6px 7px}
._982{font-size:13px;font-weight:bold}
html ._982 .img{margin-right:5px;position:relative}
._982:hover{background-color:#e7ebf2}
a._983{border-style:none;margin-top:3px;padding:0}
._982 ._53_n{color:#b2b2b2}
._982 ._53_o:hover{background-color:#fff}
._982 ._53_n a{margin-left:5px}
.fbGlossaryTip{position:relative}
.fbGlossaryTip:hover{text-decoration:none}
.fbGlossaryTip sup{padding-left:1px;font-weight:bold}
.fbGlossaryTipFixedWidth .tipTitle, .fbGlossaryTipFixedWidth .tipBody{line-height:15px;width:250px;white-space:normal !important}
.fbGlossaryTip .tip{bottom:100%;display:none;padding:0 0 7px;position:absolute;text-align:left;z-index:301}
.fbGlossaryTipQ .tip{left:-10px}
.fbGlossaryTip:hover .tip{display:block}
.fbGlossaryTip .noTitle{border-top:solid 1px #888}
.fbGlossaryTip .tipTitle{background-color:#5f78ab;border:solid 1px #28447e;border-bottom:none;color:#fff !important;font-weight:bold;display:block;left:0;padding:3px 8px 4px;white-space:nowrap}
.fbGlossaryTip .tipBody{background-color:#fff;border:solid 1px #999;border-top:none;border-bottom:solid 1px #888;color:#666 !important;font-weight:normal;display:block;left:0;padding:4px 8px 6px;white-space:nowrap;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .1)}
.fbGlossaryTip .tipArrow{position:absolute;bottom:3px;left:10px;width:7px;height:5px;background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yZ/r/NBSRlkQidlS.png);background-repeat:no-repeat}
.fbGlossaryTip .bottom{bottom:auto;top:100%;padding:4px 0 0}
.fbGlossaryTip .bottom .tipArrow{bottom:auto;top:0;background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yZ/r/5r_0VppF7_J.png)}
.fbGlossaryTip .right{left:auto;right:0}
.fbGlossaryTipQ .right{right:-11px}
.fbGlossaryTip .right .tipArrow{left:auto;right:10px}
.Locale_ja_JP #navSearch{width:325px}
.Locale_ja_JP #navSearch .uiSearchInput input{width:290px}
.hasSmurfbar.Locale_ja_JP #navSearch{width:397px}
.hasSmurfbar.Locale_ja_JP #navSearch .uiSearchInput input{width:364px}
.threadRow .snippet{max-width:430px;overflow:hidden;position:absolute;text-overflow:ellipsis;white-space:nowrap}
.threadRow .snippet .indicator, #fbMessagesItemList .snippet .indicator{vertical-align:middle}
div.adminPanelPagelet ._548i{width:539px}
div.adminPanelPagelet ._548i.uiDataTable
th:first-child{border-left:1px solid #999;width:30px}
div.adminPanelPagelet ._548i.uiDataTable th{border-top:none;white-space:normal}
div.adminPanelPagelet ._548i.uiDataTable
th.lastColumn{border-right:none}
div.adminPanelPagelet ._548i.uiDataTable .firstRow{border-left:none}
div.adminPanelPagelet ._548i.uiDataTable .lastRow{border-right:none}
div._51gc{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:200px}
th._51gd{width:200px}
div.adminPanelPagelet .uiDataTable ._59ip td{background-color:#fff8b7}
._51ge{text-align:center}
._51ge .fbGlossaryTip .tip{text-align:left}
._548i .fbGlossaryTip .bottom .tipArrow{top:4px}
._548i .fbGlossaryTip .bottom{padding-top:8px}
#admin_panel{background:#fff;border:1px solid #c4cde0;border-top:none;padding-top:7px;padding-bottom:5px;position:relative;width:809px;z-index:5}
#admin_panel .uiHeaderPage{padding-bottom:6px}
.admin_panel_loading{text-align:center}
.admin_panel_loading .img{margin-top:180px}
#admin_panel .uiHeaderSection{background:#f2f2f2;border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-top:1px solid #ccc;padding:5px 10px}
#admin_panel .uiHeaderTitle{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
#admin_panel .uiSideNavCountInline{background-color:#f03d25;border:1px solid #c0311e;color:#fff;font-size:9px;line-height:normal;padding:0 2px}
.adminPanelModule{display:inline-block;vertical-align:top}
#admin_panel_body{height:430px;margin-top:10px;overflow:hidden}
.adminPanelNotifColumn{width:539px}
.adminPanelLikesColumn{width:226px}
.adminPanelInsightsColumn{width:312px}
.adminPanelMessagesColumn, #admin_panel #AdminTip{width:269px}
.adminPanelBorderRight{border-right:1px solid #ccc}
.adminPanelContentTall{height:205px}
.adminPanelContent, #admin_panel .AdminTipContent{border-bottom:1px solid #ccc;height:162px}
.adminPanelBlankStateImage{margin:24px 15px 33px;height:84px;width:84px}
#admin_panel .AdminTipImageWrap{height:141px;padding-top:24px;width:115px;text-align:center}
.adminPanelBlankStateText, #admin_panel .AdminTipBody{padding:22px 10px 5px 0}
.adminPanelVisibilityButtonGroup{vertical-align:bottom}
.adminPanelVisibilityButtonGroup .counter{margin-top:3px;padding:0 1px}
.adminPanelActionListActiveButton{color:#000;pointer-events:none}
#admin-panel-insights-graph{padding:4px 4px 0}
#admin-panel-insights-graph .graph-canvas{width:304px;height:141px;margin:0}
#admin-panel-insights-graph .graph-legend{position:relative;height:20px}
#admin-panel-insights-graph:hover{cursor:pointer}
#admin_panel_messages .adminPanelContent{overflow:hidden}
.adminPanelList li{border-bottom:1px solid #e9e9e9;border-left:1px solid #ccc;cursor:pointer;padding:0}
.adminPanelList li.jewelItemNew{background:rgb(237, 239, 245, .98);background-color:#eeeff4;border-bottom:1px solid #d1d8e7;border-right:1px solid #ccc}
.adminPanelList li.jewelItemNew:hover{background-color:#e7ebf2;border-color:#d1d8e7}
#admin_panel_notifications .notif_x_div, #admin_panel_notifications .confirmingMsg{display:none}
.adminPanelList li a{color:#333;display:block;padding:4px 5px 4px 10px;text-decoration:none}
.adminPanelList li:hover, .adminPanelList li:active, .adminPanelList li:focus{background-color:#f4f6f9;border-color:#e3e8f0;outline:none;text-decoration:none}
.adminPanelList .notif_block .img{height:32px;margin-right:8px;width:32px}
.adminPanelList .author, .adminPanelList .preview, .adminPanelList .info div{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.adminPanelList .author, #admin_panel_notifications .blueName{color:#000;font-weight:bold}
#admin_panel_messages .subject{color:#333}
#admin_panel_messages .time, #admin_panel_notifications .timestamp{color:#9d9d9d;font-size:11px;padding-top:0}
#admin_panel_messages .snippet{width:210px}
#admin_panel_messages .snippet .indicator{vertical-align:middle}
#admin_panel_notifications .info .img{display:none}
.AdminTipContent{overflow:hidden}
.AdminTipBody{overflow:hidden}
.AdminTipImageWrap{display:inline-block;float:left}
.pagesTimelinePinpost .pagesPinpostImage{position:absolute;right:12px;top:-4px}
.pagesTimelinePinpost .fbTimelineCurationControl{top:23px}
._590f{margin-top:-5px}
._590g{margin-top:-1px}
._590h{position:relative;top:-1px}
._590i{margin-left:3px;position:relative;top:-3px}
.timelinePageMostRecentLabel{border-color:#e9e9e9;border-style:solid;border-width:0 0 1px 0;padding-bottom:8px}
.timelineUnitContainer div.profile-pagelet-section{margin-bottom:0}
ul.pageMostRecentPostList > li{border-color:#e9e9e9;margin:0 5px;padding-left:0;padding-right:0}
.timelineUnitContainer .pageMostRecentPostList{margin-bottom:0}
.pageMostRecentPostList .uiStreamStory .mainWrapper{margin:0;padding-top:0}
.fbTimelineUnit .pageMostRecentPostList .uiStreamStory .mainWrapper{padding-top:0}
.pageMostRecentPostList .uiStreamStory .actorPhoto{margin-top:0;margin-bottom:0;padding-top:0}
.pageMostRecentPostList .pageOneLine .messageBody{overflow:hidden;max-width:300px;text-overflow:ellipsis;white-space:nowrap;display:block}
.pageMostRecentPostList .storyContent .storyInnerContent{margin-left:45px}
.pageMostRecentPostList li:hover{background:#edeff4;-webkit-border-radius:2px;border-top-color:#edeff4;cursor:pointer;margin:0;padding-left:5px;padding-right:5px;position:relative;z-index:1}
.pageMostRecentPostList .uiStreamStory .uiStreamHide{margin-right:5px;margin-top:0}
ul.pageMostRecentPostList .uiStreamStory:hover .uiStreamHide .uiSelectorButton, ul.pageMostRecentPostList .uiStreamStory .uiStreamSubstory:hover .uiStreamHide .uiSelectorButton, ul.pageMostRecentPostList .uiStreamStory .uiStreamHide .openToggler .uiSelectorButton, ul.pageMostRecentPostList .uiStreamStory:hover .uiStreamSubstory .uiStreamHide .openToggler .uiSelectorButton{position:relative}
.pageMostRecentPostList .uiStreamMessage .actorDescription{padding:0}
.pageMostRecentPostList .uiStreamStory .recentStoryText{margin:2px 0}
.pageMostRecentPostList .uiStreamStory .tlPageStoryAttachment{margin-bottom:-2px}
.pageMostRecentPostList .uiBlingBox, .pageMostRecentPostList .uiBlingBox:hover{border-bottom:0}
.fbTimelineUnit .timelineUnitContainer .pageMostRecentPostList .uiStreamStory .storyInnerContent{margin-left:39px}
#AdminTip .uiScrollableAreaContent{border-right:1px solid #f2f2f2}
#AdminTip .adminTipFriendList li{border-bottom:1px solid #f2f2f2;padding:4px 5px 4px 10px;text-decoration:none}
#AdminTip .adminTipFriendList .name{margin:8px 0}
#AdminTip .adminTipFriendList .button{margin:2px 0}
#AdminTip .adminTipFriendList .hideButton{margin:6px 4px}
#AdminTip .adminTipFriendList li.yellow{background:#fff9d7}
#NonAdminInvite{height:150px;margin-bottom:32px;margin-top:8px;width:420px}
#NonAdminInvite .uiScrollableAreaContent{border-right:1px solid #f2f2f2}
#NonAdminInvite .adminTipFriendList li{border-bottom:1px solid #f2f2f2;padding:4px 5px 4px 10px;text-decoration:none}
#NonAdminInvite .adminTipFriendList li:hover{background-color:#e7ebf2}
#NonAdminInvite .adminTipFriendList .name{margin:8px 0}
#NonAdminInvite .adminTipFriendList .button{margin:2px 0}
#NonAdminInvite .adminTipFriendList .hideButton{margin:6px 4px}
#NonAdminInvite .adminTipFriendList li.yellow{background:#fff9d7}
#NonAdminInvite .uiScrollableArea{margin-top:15px}
.fbPrivacyWidget .UIPrivacyTargetedWidget .uiSelectorButton .customimg{margin:0 2px 0 -2px}
.fbPrivacyWidget .UIPrivacyTargetedWidget .uiSelectorButton.uiButtonNoText .customimg{margin-right:-5px}
.fbPrivacyWidget .uiSelectorButton .customimg{margin:2px -4px 2px -1px}
.fbProfileByline{width:493px;margin-top:4px;line-height:15px}
.fbProfileBylineFragment,
.fbProfileNonIconBylineFragment{margin-right:8px;color:#666}
.fbProfileBylineIcon{margin-bottom:1px;margin-top:1px;vertical-align:bottom}
.fbProfileLoggedOutByline{width:493px;margin-top:1px;line-height:14px}
.fbLongBlurb{margin-right:8px;color:#666;padding-bottom:3px}
.fbProfileBylineContextual .inferenceSource{text-align:center;margin-top:10px}
.fbProfileBylineContextual .typeahead{width:300px}
.fbTimelineBoxCount{background-color:#e7eaf2;color:#6d84b4;display:inline-block;font-size:24px;font-weight:bold;height:61px;line-height:61px;text-align:center;text-decoration:none;text-indent:-3px;vertical-align:middle;width:61px}
.fbTimelineBoxHighCountFriends{font-size:19px}
.fbTimelineBoxSuperHighCountFriends{font-size:16px}
.fbTimelineBoxSummarizedCountFriends{font-size:13px}
.fbTimelineOneColumn .fbTimelineBoxCountFriends,
.fbTimelineOneColumn .fbTimelineBoxHighCountFriends,
.fbTimelineOneColumn .fbTimelineBoxSuperHighCountFriends,
.fbTimelineOneColumn .fbTimelineBoxSummarizedCountFriends{width:79px;height:79px;line-height:79px}
.fbTimelineOneColumn .fbTimelineBoxCountFriends{font-size:28px}
.fbTimelineOneColumn .fbTimelineBoxHighCountFriends{font-size:24px}
.fbTimelineOneColumn .fbTimelineBoxSuperHighCountFriends{font-size:22px}
.fbTimelineOneColumn .fbTimelineBoxSummarizedCountFriends{font-size:20px}
.fbTimelineBoxCountPosts,
.fbTimelineBoxHighCountPosts,
.fbTimelineBoxSuperHighCountPosts,
.fbTimelineBoxSummarizedCountPosts{width:64px;height:64px;line-height:64px}
.fbTimelineBoxCountPosts{font-size:30px}
.fbTimelineBoxHighCountPosts{font-size:26px}
.fbTimelineBoxSuperHighCountPosts{font-size:20px}
.fbTimelineBoxSummarizedCountPosts{font-size:14px}
.fbTimelineBoxCountCheckinlarge,
.fbTimelineBoxHighCountCheckinlarge,
.fbTimelineBoxSuperHighCountCheckinlarge,
.fbTimelineBoxSummarizedCountCheckinlarge{width:70px;height:70px;line-height:70px}
.fbTimelineBoxCountCheckinlarge{font-size:30px}
.fbTimelineBoxHighCountCheckinlarge{font-size:28px}
.fbTimelineBoxSuperHighCountCheckinlarge{font-size:24px}
.fbTimelineBoxSummarizedCountCheckinlarge{font-size:22px}
.fbTimelineBoxCountCheckin,
.fbTimelineBoxHighCountCheckin,
.fbTimelineBoxSuperHighCountCheckin,
.fbTimelineBoxSummarizedCountCheckin{width:54px;height:54px;line-height:54px}
.fbTimelineBoxCountCheckin{font-size:26px}
.fbTimelineBoxHighCountCheckin{font-size:24px}
.fbTimelineBoxSuperHighCountCheckin{font-size:22px}
.fbTimelineBoxSummarizedCountCheckin{font-size:20px}
.fbTimelineBoxCountPostsdouble,
.fbTimelineBoxHighCountPostsdouble,
.fbTimelineBoxSuperHighCountPostsdouble,
.fbTimelineBoxSummarizedCountPostsdouble{width:85px;height:85px;line-height:85px}
.fbTimelineBoxCountPostsdouble{font-size:36px}
.fbTimelineBoxHighCountPostsdouble{font-size:34px}
.fbTimelineBoxSuperHighCountPostsdouble{font-size:28px}
.fbTimelineBoxSummarizedCountPostsdouble{font-size:22px}
.fbTimelineBoxCount:first-letter{font-size:.9em;vertical-align:2px}
.fbTimelineBoxCountPagefriendsummary,
.fbTimelineBoxHighCountPagefriendsummary,
.fbTimelineBoxSuperHighCountPagefriendsummary,
.fbTimelineBoxSummarizedCountPagefriendsummary{height:37px;line-height:36px;text-indent:0;width:37px}
.fbTimelineBoxCountPagefriendsummary{font-size:18px}
.fbTimelineBoxHighCountPagefriendsummary{font-size:16px}
.fbTimelineBoxSuperHighCountPagefriendsummary{font-size:14px}
.fbTimelineBoxSummarizedCountPagefriendsummary{font-size:12px}
.timelineReportContainer > .editControls{overflow:hidden;position:absolute;right:10px;top:10px;width:1px;z-index:3}
.timelineUnitContainer .editControls{overflow:hidden;position:absolute;right:10px;top:10px;width:1px;z-index:3}
.timelineReportContainer:hover > .editControls, .timelineUnitContainer:hover .editControls, .timelineUnitContainer .editControlsMenuOpen, .timelineUnitContainer .uiButtonGroupActive, .timelineUnitContainer .editControls.async_saving{overflow:visible;width:auto}
.editControls .curationWrapper{margin-left:1px}
.stupidHeart{display:none}
.timelineUnitContainer:hover .stupidHeart{display:block}
.timelineUnitContainer .editControls form{display:inline}
.timelineReportContainer .editControls{top:1px}
.timelineUnitContainer .globalMusicReport{top:5px}
.pageFriendSummaryContainer .headerDigit{float:left;font-size:30px;color:#3b5998;margin-right:6px}
.pageFriendSummaryContainer .headerText{line-height:1.2;padding-top:5px}
.pageFriendSummaryContainer .friendInviteHeaderText{line-height:1.2;overflow:hidden;padding-top:5px;text-overflow:ellipsis;white-space:nowrap;width:300px}
.pageFriendSummaryContainer .headerTextLink{line-height:1.2;padding-top:5px}
.fbTimelineCapsule div.pageFriendSummaryContainer{padding-top:10px}
.pageFriendSummaryContainer .header{border-bottom:1px solid #e5e5e5;padding-bottom:2px}
.pageFriendSummaryContainer .innerLink{display:block;margin:8px 0 -8px 0;padding:0 0;width:380px}
.fbPageFriendSummaryFacepile .bigPic{height:75px;width:75px}
.fbPageFriendSummaryFacepile .smallPic{height:37px;width:37px}
.fbPageFriendSummaryFacepile .pic{display:block;float:left}
.fbPageFriendSummaryFacepile .innerPic{padding-right:1px}
.fbPageFriendSummaryFacepile.onlyFacepile{padding-top:3px}
.fbPageFriendSummarySection.needsBorder{border-bottom:1px solid #e5e5e5;padding-bottom:3px}
.fbPageFriendSummarySection .friendMusicReport{margin-top:3px}
.fbPageFriendSummarySection .friendMusicReport .topSongs{border-top:1px solid #e5e5e5}
.fbPageFriendSummarySection .friendMusicReport .topSongs .topSongsContent{padding:0}
.timelinePageLikedPagesLabel{border-color:#e9e9e9;border-style:solid;border-width:0 0 1px 0;padding-bottom:8px}
.fbTimelineMoreButton:hover{text-decoration:none}
.fbTimelineMoreButton .detail{background:#f1f3f8}
.fbTimelineMoreButton .fbTimelineRibbon{background-color:#fff;border:1px solid #a6a6a6;margin-top:-9px;margin-left:-3px;position:absolute;top:50%}
.fbTimelineMoreButton .fbTimelineRibbon .text{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yu/r/2HyXe3NzW7v.png);background-repeat:no-repeat;background-position:100% 4px;color:#3b5998;padding-right:10px}
.fbTimelineMoreButtonOpen .fbTimelineRibbon{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yH/r/4XIgl9BFyKj.png);background-repeat:no-repeat;background-position:8px center}
.fbTimelineMoreButtonZero .fbTimelineRibbon .text{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y-/r/uSW1KWtrWGc.png);background-repeat:no-repeat;background-position:4px center;height:14px;width:8px}
.async_saving .fbTimelineRibbon .text, .fbTimelineMoreButtonOpen .fbTimelineRibbon .text{visibility:hidden}
.async_saving .fbTimelineRibbon{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat right}
#fbTimelineNavigationLoadContainer{bottom:-999px;height:1px;left:-999px;overflow:hidden;position:absolute;position:fixed;visibility:hidden;width:-1px}
.fbTimelineNavigationPagelet{min-height:121px}
.pagesTimelineLayout .fbTimelineNavigationPagelet{min-height:130px}
.fbEditCover .fbTimelineNavigationWrapper{display:none}
.fbTimelineNavigation{height:121px;overflow:hidden;position:relative}
.fbTimelineNavigation #fbTimelineNavTopRow{margin-top:12px}
.pagesTimelineLayout .fbTimelineNavigation #fbTimelineNavTopRow{margin-top:21px}
.fbTimelineNavigation li{float:left;display:block;position:relative}
.fbTimelineNavigation li.empty{overflow:visible}
.fbTimelineNavigation li .tab{display:block;height:110px;padding-left:6px;width:113px}
.fbTimelineNavSecondaryRow{display:block;float:right;margin-right:45px}
.fbTimelineNavigation #fbRecentAppTitle{border-bottom:2px solid #d9d9d9;color:#a6a6a6;display:block;height:7px;margin:0 45px 15px 335px;text-align:center;text-transform:uppercase;width:468px}
.fbTimelineNavigation #fbRecentAppTitleText{background:#fff}
.fbTimelineNavigationWrapper .title{display:block;height:17px;line-height:17px;overflow:hidden;padding-top:4px}
.fbTimelineNavigationWrapper .title span{display:inline-block;height:17px;-webkit-transition:all .29s ease-in-out;vertical-align:top}
.fbTimelineNavigationWrapper .title .icon{height:16px;margin:1px 5px 0 -20px;width:16px}
.fbTimelineNavigationWrapper .title .text{color:#3b5998;overflow:hidden;text-overflow:ellipsis;max-width:111px;white-space:nowrap}
.fbTimelineNavigationWrapper .title .count{color:#999;opacity:1;padding-left:3px}
.fbTimelineNavigationWrapper .expanded .title .icon{margin-left:1px}
.fbTimelineNavigationWrapper .expanded .title .text{max-width:90px}
.fbTimelineNavigationWrapper .expanded .title .count{opacity:0}
.fbTimelineNavigationWrapper li.leftMost{margin-left:328px}
.fbTimelineNavigationWrapper a.title:hover, .fbTimelineNavigationWrapper a.seemore:hover, .fbTimelineNavigationWrapper a.tab:hover, .fbTimelineNavigationWrapper a:hover .title{text-decoration:none}
.fbTimelineNavigationWrapper a.seemore .notready, .fbTimelineNavigationWrapper a.seemore .notready{padding:5px}
.fbTimelineNavigationWrapper a.seemore:hover .notready, .fbTimelineNavigationWrapper a.seemore:active .notready{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat right}
.fbTimelineNavigationWrapper .detail{background-color:#f1f3f8;border:1px solid white;-webkit-border-radius:3px;height:74px;overflow:hidden}
.fbTimelineNavigationWrapper .frame{border:1px solid #fff;-webkit-border-radius:3px;overflow:hidden}
.fbTimelineNavigationWrapper .frame .mat, .fbTimelineNavigationWrapper .friendshipAbout .detail{border:1px solid #e5e7eb;-webkit-border-radius:2px;height:70px;overflow:hidden;padding:1px}
.fbTimelineNavigationWrapper li.about:hover .frame, .fbTimelineNavigationWrapper li:hover .tab .frame, .fbTimelineNavigationWrapper a:hover .frame{border-color:#97a4c2}
.fbTimelineNavigationWrapper li.about:hover .frame .mat, .fbTimelineNavigationWrapper li:hover .tab .frame .mat, .fbTimelineNavigationWrapper a:hover .frame .mat{border:2px solid white;padding:0}
.fbTimelineNavigationWrapper .tab .frame, .fbTimelineNavigationWrapper .tab .detail{width:111px}
.fbTimelineNavigationWrapper .tab .frame{position:absolute;width:111px;margin-top:-76px}
.fbTimelineNavigationWrapper .friends .frame{pointer-events:none}
.fbTimelineNavigationWrapper .tab .frame .mat{border-color:#d9d9d9;border-color:rgba(0, 0, 0, .15);width:107px}
#contentArea .fbTimelineNavigationWrapper .seemore .frame, #contentArea .fbTimelineNavigationWrapper .seemore .frame .mat{border-right:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;margin-right:0;padding-right:0}
#contentArea .fbTimelineNavigationWrapper .about .frame, #contentArea .fbTimelineNavigationWrapper .about .frame .mat, .fbTimelineNavigationWrapper .friendshipAbout .detail{border-left:0;-webkit-border-top-left-radius:0;-webkit-border-bottom-left-radius:0;margin-left:0;padding-left:0}
.fbTimelineNavigationWrapper .tab .fbTimelineRibbon{margin-left:-3px;margin-top:-46px;position:absolute}
.fbTimelineNavigationWrapper .empty .tab .detail{background-color:#f1f3f8}
.fbTimelineNavigationWrapper .edit_nub{-webkit-border-radius:2px;-webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, .1);display:none;padding:1px;position:absolute;right:-4px;text-align:center;top:-4px}
div.fbTimelineNavigationWrapper .edit_nub .icon, div.fbTimelineNavigationWrapper .edit_nub .icon:hover{background-image:none;-webkit-border-radius:1px;display:block;padding:2px 5px;width:10px}
.fbTimelineNavigationWrapper .expanded .edit_nub.openToggler, .fbTimelineNavigationWrapper .expanded li:hover .edit_nub{display:block}
.fbTimelineNavigationWrapper .expanded li .add .edit_nub{display:block}
.fbTimelineNavigationWrapper .seemore{display:block;position:absolute;left:811px;top:12px}
.pagesTimelineLayout .fbTimelineNavigationWrapper .seemore{top:21px}
.fbTimelineNavigationWrapper .seemore, .fbTimelineNavigationWrapper .seemore .frame{width:37px}
.fbTimelineNavigationWrapper .seemore .title{display:none}
.fbTimelineNavigationWrapper .about{cursor:pointer;height:108px;margin:0;width:328px}
.fbTimelineNavigationWrapper .about .friendshipAbout{cursor:default;height:112px}
.fbTimelineNavigationWrapper .detail .placeholder{display:block;margin-top:21px;text-align:center}
.fbTimelineNavigationWrapper .detail .applogo{padding:0 18px}
.fbTimelineNavigation .following .detail .face, .fbTimelineNavigation .friends .detail .hovercard_trigger, .fbTimelineNavigation .friends .detail .friend{display:block;float:left;height:37px;width:37px}
.fbTimelineNavigation .friends .detail{overflow:visible}
.fbTimelineNavigation .friends .detail .hovercard_trigger:focus{position:relative}
.fbTimelineNavigation .events .event, .fbTimelineNavigation .notes .note, .fbTimelineNavigation .photos .photo, .fbTimelineNavigation .followers .subscriber, .fbTimelineNavigation .following .subscription, .fbTimelineNavigation .menu .menu_photo, .fbTimelineNavigation .videos .video{background-color:#eceff5;background-size:cover;display:block;height:74px;text-align:left;width:111px}
.fbTimelineNavigation .notes .note{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yn/r/GC70uON4H3j.png) left top no-repeat;height:74px;overflow:hidden}
.fbTimelineNavigation .notes .note .content{color:#444;height:62px;line-height:15px;margin:9px 0 0 12px;overflow:hidden;white-space:normal;width:130px}
.fbTimelineNavigation .notes .note .name{font-weight:bold;max-height:30px;overflow:hidden}
.fbTimelineNavigation .places .placeName{color:#333;left:0;overflow:hidden;padding:0 4px;position:absolute;text-align:left;text-overflow:ellipsis;text-shadow:#fff 1px 1px 1px, #fff -1px 1px 1px, #fff 1px -1px 1px, #fff -1px -1px 1px;top:58px;white-space:nowrap;width:106px}
.fbTimelineNavigation .music .img{float:left}
.fbTimelineNavigation .favorites .detail .panel{float:left;width:56px;overflow:hidden}
.fbTimelineNavigation .favorites .detail .first{width:55px}
.fbTimelineNavigation .favorites .detail .liked{height:74px;min-width:56px}
.fbTimelineNavigation .loading .dots{display:inline}
.fbTimelineNavigation .dots{display:none;font-weight:normal;vertical-align:top}
.fbTimelineNavigation .appimage{background-color:#f2f3f8;background-position:center center;background-repeat:no-repeat;display:block;height:74px;width:111px}
.fbTimelineNavigation .followers .statsContainer{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yY/r/QWIRJuvz96W.png);background-repeat:no-repeat;background-size:auto;background-position:0 -9px;height:74px;width:100%}
.fbTimelineNavigation .followers .stats span, .fbTimelineNavigation .groups .stats, .fbTimelineNavigation .likes .stats{color:#1c2a47;font-size:30px}
.fbTimelineNavigation .likes .statsContainer, .fbTimelineNavigation .groups .statsContainer{background-color:#f1f3f8;height:74px;width:100%}
.fbTimelineNavigation .likes .frame .mat{border-color:#e5e7eb}
.fbTimelineNavigation .likes .stats{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yN/r/jZBV2CzYMZK.png) left no-repeat;font-size:24px;padding-left:32px}
.fbTimelineNavigation .groups .stats{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yg/r/iU2SxiWMuUc.png) left no-repeat;font-size:24px;padding-left:34px}
.fbTimelineNavigation .mapSubtitle{background-color:#f9f9f9;background-color:rgba(231, 230, 229, .6);color:#333;font-size:10px;margin:0 4px 0 4px;padding:2px 0 1px 0;position:relative;text-align:center;text-overflow:ellipsis;text-shadow:1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white;top:-21px;overflow:hidden;white-space:nowrap}
.pagesTimelineButtonPagelet{background-color:#e7ebf2;border-bottom:1px solid #c8d1e2;min-width:122px;padding:13px 0 12px 1px;top:38px;z-index:4}
.fbTimelineWideRightCol .pagesTimelineButtonPagelet{min-width:244px}
body.hasVoiceBar .pagesTimelineButtonPagelet{top:64px}
.pagesTimelineRightColumn .fbTimelineScrubber{top:87px}
body.hasVoiceBar .pagesTimelineRightColumn .fbTimelineScrubber{top:113px}
#createPageButton .img{top:3px}
#createPageButton{padding-left:6px}
.fbTimelineFilters{padding-bottom:1px;position:relative;text-align:center}
.fbTimelineFilters #fbTimelinePagesFilterSelectorButton{-webkit-border-radius:4px;border:1px solid #c3cce0;background:#e8ecf2 url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y5/r/ZWvAgFWgfHn.png) no-repeat right 9px;color:#c3cce0;padding-right:19px}
.fbTimelineFilters .openToggler #fbTimelinePagesFilterSelectorButton{border:1px solid #3b5998;border-bottom:1px solid #777;background:#6d84b4 url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yn/r/gfx8S-0T_FA.png) no-repeat right 10px;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;padding-right:19px}
.fbTimelineFilters #fbTimelinePagesFilterSelectorButton .uiButtonText{color:#a1a1c1;font-weight:normal;padding:2px}
.fbTimelineFilters .openToggler #fbTimelinePagesFilterSelectorButton .uiButtonText{color:#fff;font-weight:normal;padding:2px}
.fbTimelineFilters .uiSelectorMenuWrapper{text-align:left}
.timelineReportCol{display:inline-block;vertical-align:middle}
.timelineReportCol.titleWithSubtitle{height:32px;margin-bottom:-1px}
.timelineReportCol .img{display:block;margin:0 auto;vertical-align:middle}
.timelineReportContainer .timelineReportHeader{background-color:#f1f1f1;color:#555;font-size:11px;font-weight:normal;margin:0 3px;padding:5px 0 5px 12px}
.timelineReportHeader .date, .timelineReportHeader .date a{color:gray;font-weight:normal}
.timelineReportHeader .icon{margin-right:5px;text-align:center;line-height:16px}
.timelineReportHeader .logo{line-height:32px;margin-right:8px}
.timelineReportHeader .title{max-width:300px;word-wrap:break-word;color:#3b5998}
.timelineReportContainer .repositionButton{visibility:hidden}
.timelineReportContainer:hover .repositionButton{visibility:visible}
.fbTimelineRibbon{background:#6d84b4;border:1px solid #6d84b4;border-color:rgba(0, 39, 121, .77);-webkit-border-radius:1px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .15);padding:1px 4px}
.fbTimelineRibbon .text{color:#fff;font-weight:bold;line-height:14px;vertical-align:top}
.fbTimelineViewingSelf .fbTimelineUnit:hover > .timelineUnitContainer, .fbTimelineViewingSelf .fbTimelineUnit:hover > .timelineReportContainer, .fbTimelineViewingSelf #pagelet_timeline_ego_box:hover .timelineUnitContainer{border-color:#97a4c2}
.fbTimelineViewingSelf .fbTimelineTwoColumn:hover .topBorder{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yE/r/3l1T8cYapgG.png);background-repeat:no-repeat;background-size:auto;background-position:-412px -9px}
.fbTimelineViewingSelf .fbTimelineTwoColumn:hover .bottomBorder{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yE/r/3l1T8cYapgG.png);background-repeat:no-repeat;background-size:auto;background-position:0 -9px}
.fbTimelineViewingSelf .fbTimelineOneColumn:hover .topBorder{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yE/r/3l1T8cYapgG.png);background-repeat:no-repeat;background-size:auto;background-position:0 -5px}
.fbTimelineViewingSelf .fbTimelineOneColumn:hover .bottomBorder{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yE/r/3l1T8cYapgG.png);background-repeat:no-repeat;background-size:auto;background-position:0 0}
.fbTimelineViewingSelf .fbTimelineTwoColumn:hover .spinePointer{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yE/r/3l1T8cYapgG.png);background-repeat:no-repeat;background-size:auto;background-position:-223px -27px}
.fbTimelineViewingSelf .fbTimelineOneColumn:hover .spinePointer{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yE/r/3l1T8cYapgG.png);background-repeat:no-repeat;background-size:auto;background-position:-170px -47px}
.fbTimelineViewingSelf .leftColumn:hover .spinePointer, .fbTimelineViewingSelf .fbTimelineUnit[data-side="l"]:hover .spinePointer{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yE/r/3l1T8cYapgG.png);background-repeat:no-repeat;background-size:auto;background-position:-203px -27px}
.fbTimelineSpine{cursor:none;display:block;height:100%;right:50%;margin-right:-10px;outline:0;position:absolute;top:0;width:21px}
.fbTimelineSpine .spineHoverPlus{display:none;left:3px;position:absolute}
.fbTimelineSpine:hover .spineHoverPlusActive{display:block}
.fbTimelineSpine .backdatedDot{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yY/r/QWIRJuvz96W.png);background-repeat:no-repeat;background-size:auto;background-position:-636px -9px;height:16px;left:-2px;position:absolute;width:19px}
.fbTimelineSummarySection{padding:3px 0 0 26px}
.fbTimelineSummarySection .fbProfileBylineFragment{color:#333;display:block;line-height:16px;overflow:hidden;padding-left:16px;text-overflow:ellipsis;white-space:nowrap}
.fbTimelineNavigationWrapper .edit{background-color:#f1f3f8;border:1px solid #fff;-webkit-border-radius:3px;margin-bottom:2px;padding-bottom:2px}
.fbTimelineSummarySection .edit .fbProfileBylineFragment .fbProfileBylineIconContainer{display:none}
.fbTimelineSummarySectionWrapper .edit .fbProfileBylineFragment{border:1px solid #f1f3f8;cursor:move;line-height:15px}
.fbTimelineSummarySectionWrapper .edit .fbProfileBylineFragment a:hover{cursor:move;text-decoration:none}
.fbTimelineSummarySectionWrapper .edit .fbProfileBylineFragment:hover{border-color:#97a4c2}
.fbTimelineSummarySectionWrapper:hover .fbTimelineEditSummaryLink{display:block}
.fbTimelineEditSummaryLink{display:none;position:absolute;right:5px;top:5px}
.fbTimelineSummarySectionWrapper .edit .fbProfileBylineIconContainer .img{display:none}
.fbTimelineSummarySection .fbProfileBylineIconContainer .img{left:26px;position:absolute}
.fbTimelineSummarySection .fbProfileBylineFragment .uiLoadingIndicatorAsync{margin-left:5px}
.fbTimelineSummarySectionWrapper .title{display:inline;padding-left:43px}
.fbTimelineSummarySectionWrapper .page_suggest_link.showonhover{display:none}
.fbTimelineSummarySectionWrapper:hover .page_suggest_link.showonhover, .fbTimelineSummarySectionWrapper .page_suggest_link{display:inline}
.fbTimelineSummarySectionWrapper .page_suggest_link a:hover{text-decoration:none}
.fbTimelineSummarySection span.fbLongBlurb{color:#333;overflow:hidden;display:block;line-height:16px;white-space:normal}
.fbTimelineSummarySection .fbProfileNonIconBylineFragment{color:#333;display:block;line-height:16px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.fbTimelineSummarySection .pageEmptyAbout{margin-top:16px}
.fbProfileBylineFragment .fbProfileBylineLabel .abridgedFragment{width:260px;overflow:hidden;text-overflow:ellipsis}
._1_u{margin-top:-15px;margin-left:-10px;margin-right:-10px}
._1wx{margin:-10px 0 2px -5px}
._1wy ._1wx{margin-bottom:-5px}
._1wz{height:32px;margin-left:-4px;padding:1px 4px;width:32px}
._4lh ._1wz{height:40px;width:40px}
._1w-{width:409px}
.timelineReportContent ._1w-{width:403px}
._4lh ._1w-{width:504px}
._4lh .timelineReportContent ._1w-{width:315px}
._4lh .timelineReportContent ._1wx{margin:-7px 0 -12px -5px}
._4lh ._1_u, ._4lh ._1wx, ._1wy ._1wx, ._4lh ._1wy ._1ww{margin-top:0}
.fbTimelineOneColumn ._1w-{width:843px}
._1w- .fbTimelineUnitMorePager .uiMorePagerPrimary, ._1w- .fbTimelineUnitMorePager .uiMorePagerLoader{border:none;padding:6px 12px}
._1w- .fbTimelineUnitMorePager .uiMorePagerPrimary:hover{border-color:#edeff4}
._4lh ._1w- li._1ww, ._1w- li._1ww{border:0;padding-bottom:0;padding-top:3px}
._1w- ._1ww .fbTimelineUnitMorePager{margin:0 -12px}
._4lh ._1w- li._1ww{-webkit-box-shadow:none;margin:0 8px;padding-top:0}
._4lh ._3rbg ._1w- li._1ww{margin-bottom:3px}
._1w- > li{padding:20px 12px 12px}
._4lh ._1w- > li{border:1px solid #dee2e7;-webkit-box-shadow:0 1px 3px -1px rgba(0, 0, 0, .15);margin:0 5px 15px;padding:10px}
._5oh{padding-top:1px}
._5oi{border-bottom:1px solid #e5e5e5}
._4lh ._5oi{border:0}
._1_u .fbTimelineUFI{margin:-5px -12px 0}
._4lh .fbTimelineUnit ._1_u .fbTimelineUFI{margin:0 -10px -10px;width:auto}
._1w- > li:hover .uiMorePagerPrimary{background:#edeff4;text-decoration:underline}
._4lh ._1w- > li:hover .uiMorePagerPrimary{background:#f6f7f8}
._5oj .fbTimelineFeedbackStub{display:none}
._5oj ._1_u{margin-left:-7px}
._4lh ._4_7u ._1_u, ._4lh ._5oj ._1_u{margin-bottom:-4px;margin-left:-4px}
#profile_minifeed .reportHide{display:none}
.fbProfileStream .uiStreamMessage .passiveName{font-weight:normal}
.fbProfileStream .uiStreamMessage a.passiveName{font-weight:bold}
.sp_a5rbwl{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yu/r/CgLauo0jQt7.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:14px;width:17px}
.sx_84f0cd{background-position:-0px -0px}
.sx_0e861b{background-position:-0px -15px}
.sp_asillc{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yE/r/3l1T8cYapgG.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:13px;width:9px}
.sx_59e25c{width:32px;height:32px;background-position:-170px -14px}
.sx_1d521a{width:8px;height:12px;background-position:-234px -14px}
.selected .sx_1d521a{background-position:-226px -14px}
.sx_ac9f3f{width:84px;height:84px;background-position:0 -14px}
.sx_1376f6{width:84px;height:84px;background-position:-85px -14px}
.sx_7e3966{width:10px;background-position:-243px -14px}
.sx_c4b37d{background-position:-284px -14px}
.sx_5fc091{background-position:-274px -14px}
.sx_92ed67{background-position:-254px -14px}
.sx_e456ec{background-position:-264px -14px}
.sx_749f7f{width:19px;height:15px;background-position:-203px -27px}
.sx_a9cbc2{width:19px;height:15px;background-position:-223px -27px}
.sx_a72c87{width:15px;height:21px;background-position:-170px -47px}
.sx_8a27fc{width:15px;height:21px;background-position:-186px -47px}
.sx_628411{width:411px;height:4px;background-position:0 -9px}
.sx_43be65{width:851px;height:4px;background-position:0 0}
.sx_a1c6b2{width:411px;height:3px;background-position:-412px -9px}
.sx_145892{width:851px;height:3px;background-position:0 -5px}
.sx_5364d1{width:11px;height:12px;background-position:-214px -14px}
.selected .sx_5364d1{background-position:-203px -14px}
.sp_b56h66{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yD/r/SLcoSSdamzm.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_9b5c2d{background-position:-16px 0}
.selected .sx_9b5c2d{background-position:0 0}
.sx_577711{background-position:-16px -17px}
.selected .sx_577711{background-position:0 -17px}
.sx_780cb2{background-position:0 -34px}
.sx_5bcf61{background-position:0 -51px}
.sx_53b179{background-position:0 -68px}
.sx_7ad9c1{background-position:0 -85px}
.sx_d460f5{background-position:0 -102px}
.uiDataTable{width:100%;border-bottom:solid 1px #a6a6a6;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .05);color:#000}
.uiDataTable th{background:#eee url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yj/r/epnsA9GpSGe.png) repeat 0 0;border:solid 1px #999;border-bottom-color:#888;border-right:none;line-height:normal !important;vertical-align:middle;white-space:nowrap}
.uiDataTable .lastColumn{border-right:solid 1px #999}
.uiDataTable .right{text-align:right}
.uiDataTable .columnLabel{padding:3px 6px 4px;font-weight:bold;color:#333;display:inline-block}
.uiDataTable .sortable{width:100%;cursor:pointer;text-decoration:none;display:block}
.uiDataTable .sortable .columnLabel{margin-right:13px}
.uiDataTable .right .sortable .columnLabel{margin-right:0;margin-left:13px}
.uiDataTable .sortedAsc .sortable .columnLabel, .uiDataTable .sortedDesc .sortable .columnLabel{margin:0}
.uiDataTable .sortable:active{background:#ddd;border-bottom:solid 1px #999;margin-bottom:-1px}
.uiDataTable .sortable .asc, .uiDataTable .sortable .desc{display:none}
.uiDataTable .sortedAsc .sortable .asc, .uiDataTable .sortedDesc .sortable .desc{display:inline-block;margin:0 6px 1px -2px}
.uiDataTable td{padding:6px 7px;border-left:solid 1px #fbfbfb}
.uiDataTable .odd td{background-color:#f2f2f2}
.uiDataTable .clickableRow:hover td{background-color:#d8dfea;cursor:pointer}
.uiDataTable .selectedRow td, .uiDataTable .selectedRow:hover td{background-color:#657ba7;border-left:solid 1px #657ba7}
.uiDataTable .hidden{display:none}
.uiDataTable .firstRow{border-left:solid 1px #bbbbbb !important}
.uiDataTable .lastRow{border-right:solid 1px #bbb}
.graphTooltip{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y1/r/uVR6w3wRHEJ.gif) left bottom no-repeat;bottom:100%;display:block;padding:0 0 4px;position:absolute;z-index:200}
.graphTooltipText{background-color:#282828;color:#fff !important;display:block;font-size:11px;line-height:14px;padding:4px 8px;text-align:left}
.insights-graph-header{font-weight:bold;margin-top:10px;margin-bottom:10px}
.graph-toggles{height:20px}
.insights-section .graph-toggles.ufb-list_horizontal > li.ufb-list-item{border-width:0 0 0 0}
.insights-graphs-half-width .graph-canvas{width:360px;height:200px}
.insights-graphs-full-width{margin-bottom:20px}
.insights-graphs-full-width .graph-canvas{width:100%;height:250px}
.insights-graphs-full-width .graph-legend .legendLabel{padding-right:10px;white-space:nowrap}
.insights-users-likes-graph .graph-canvas,
.insights-users-follows-graph .graph-canvas{height:200px;width:460px}
.graph-canvas{margin:10px 0}
.graph-canvas .tickLabel{white-space:nowrap}

#bootloader_35Fsr { height: 42px; }