/*1372044972,173224227*/

#jewelCase .jewel{float:left;margin-right:-1px;position:relative}
.jewelCount{background-color:#00376a;-webkit-border-radius:2px;top:-1px;color:#fff;display:none;font-size:9px;font-weight:bold;overflow:hidden;padding-bottom:1px;position:absolute;right:-1px;z-index:101}
.jewelCount span{background-color:#f03d25;border:1px solid #dd3822;-webkit-border-radius:2px;border-top:0;display:block;padding:1px 1px 0}
.jewelNew .jewelCount{display:block}
.openToggler .jewelCount{right:-2px;top:-2px}
.jewelToggler{display:block;height:31px;margin:0 1px;text-decoration:none;width:24px}
.jewelToggler:active, .jewelToggler:focus, .jewelToggler:hover{outline:none;background-color:#4b67a1;text-decoration:none}
.openToggler .jewelToggler{background-color:#fff !important;border:1px solid #333;border-bottom:0;height:30px;margin:0;position:relative;z-index:4}
#jewelMail{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/csCfJBX3kRh.png);background-repeat:no-repeat;background-size:auto;background-position:-31px -85px}
#jewelMail:hover, #jewelMail:focus, #jewelMail:active{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/csCfJBX3kRh.png);background-repeat:no-repeat;background-size:auto;background-position:-75px -185px}
.jewelNew #jewelMail{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/csCfJBX3kRh.png);background-repeat:no-repeat;background-size:auto;background-position:-31px -50px}
.openToggler #jewelMail{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/csCfJBX3kRh.png)!important;background-repeat:no-repeat!important;background-size:auto!important;background-position:-56px -50px!important}
#jewelRequest{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/csCfJBX3kRh.png);background-repeat:no-repeat;background-size:auto;background-position:-25px -220px}
#jewelRequest:hover, #jewelRequest:focus, #jewelRequest:active{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/csCfJBX3kRh.png);background-repeat:no-repeat;background-size:auto;background-position:-50px -185px}
#jewelRequestsContent .title{font-size:11px}
#jewelRequestsContent .requestLabel{line-height:12px}
.jewelNew #jewelRequest{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/csCfJBX3kRh.png);background-repeat:no-repeat;background-size:auto;background-position:-50px -220px}
.openToggler #jewelRequest{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/csCfJBX3kRh.png)!important;background-repeat:no-repeat!important;background-size:auto!important;background-position:0 -220px!important}
.noMessages #notificationsWrapper{margin-left:25px}
#jewelNotif{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/csCfJBX3kRh.png);background-repeat:no-repeat;background-size:auto;background-position:-25px -185px}
#jewelNotif:hover, #jewelNotif:focus, #jewelNotif:active{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/csCfJBX3kRh.png);background-repeat:no-repeat;background-size:auto;background-position:-56px -85px}
.jewelNew #jewelNotif{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/csCfJBX3kRh.png);background-repeat:no-repeat;background-size:auto;background-position:0 -185px}
.openToggler #jewelNotif{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y4/r/Re_i7XfI5h0.png)!important;background-repeat:no-repeat!important;background-size:auto!important;background-position:0 -102px!important}
#jewelCase .jewelBox{background-color:#fff;border:1px solid #333;border-bottom:2px solid #293e6a;left:0;overflow:visible;position:absolute;top:30px;width:330px;z-index:3}
#jewelBoxRequest li, #jewelCase .empty{padding:4px 8px}
.jewelBox ul{padding:4px 0}
#jewelCase .jewelHeader{margin:7px 8px 0}
#jewelCase .jewelHeader a{position:relative;top:2px}
#jewelCase .jewelItemNew{background:#eff1f7}
#jewelCase .jewelLoading{display:block;margin:5px auto}
.jewelBox .profileImage{height:50px;width:50px}
.jewelBox .messageRowExternalPic .profileImage{background-color:#e6e6e6;height:16px;width:16px;padding:17px}
.jewelBox .metadata{padding-top:3px}
#jewelCase .jewelFooter a{background-color:#f7f7f7;border-top:1px solid #e0e0e0;display:block;font-weight:bold;padding:8px;text-align:center}
#jewelCase .jewelFooter a:hover, #jewelCase .jewelFooter a:active, #jewelCase .jewelFooter a:focus{background-color:#6d84b4;border-top:1px solid #3b5998;color:#fff;outline:none;text-decoration:none}
#jewelCase .jewelFooter .seeMoreCount{display:none;font-weight:bold;padding:2px 0 0}
#jewelCase .jewelFooter a:hover .seeMoreCount, #jewelCase .jewelFooter a:active .seeMoreCount, #jewelCase .jewelFooter a:focus .seeMoreCount{color:#e7e7e7}
#requestsWrapper .jewelFooter .seeMoreCount, #jewelCase .jewelUnread .jewelFooter .seeMoreCount{display:block}
#jewelBoxNotif li a{color:#333;display:block;padding:4px 8px;text-decoration:none}
#jewelCase .jewelHighlightItem li a:hover, #jewelCase .jewelHighlightItem li a:active, #jewelCase .jewelHighlightItem li a:focus{background-color:#6d84b4 !important;border-bottom:1px solid #3b5998;border-top:1px solid #3b5998;outline:none;padding-top:3px;padding-bottom:3px;text-decoration:none}
#jewelBoxNotif.jewelHighlightItem #presence_notifications_loading.selected{background-color:#fff !important;border:none;cursor:auto;padding:4px 8px}
#jewelCase .jewelHighlightItem a:hover span, #jewelCase .jewelHighlightItem a:active span, #jewelCase .jewelHighlightItem a:focus span, #jewelCase .jewelHighlightItem a:hover div, #jewelCase .jewelHighlightItem a:active div, #jewelCase .jewelHighlightItem a:focus div, #jewelCase .jewelHighlightItem li.selected a, #jewelCase .jewelHighlightItem li.selected .timestamp, #jewelBoxNotif a:hover .blueName{color:#fff}
#jewelCase .jewelHighlightItem li{cursor:pointer;border-top:1px solid #e6e6e6}
#jewelCase .jewelHighlightItem li:first-child{border-top:none}
#jewelBoxNotif .staticAppIcon{background-position:right;height:16px;width:16px}
#jewelBoxNotif .selected .staticAppIcon{background-position:left}
#jewelBoxNotif .blueName{color:#3b5998;font-weight:bold}
#jewelBoxMail li a{display:block;overflow:hidden;padding:4px 8px;text-overflow:ellipsis;white-space:nowrap}
#jewelBoxMail .content{display:block;width:auto}
#jewelBoxMail .author{color:#3b5998;font-weight:bold;padding-top:2px;white-space:normal}
#jewelBoxMail .preview{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
#jewelBoxMail .subject{color:#333}
#jewelBoxMail .time{color:#9d9d9d;font-size:9px}
body.chrmxt{overflow-y:auto;overflow-x:hidden}
.chrmxt .pillButton input{font-size:11px;font-weight:bold;line-height:15px;padding:1px 6px 2px}
.chrmxt .pillButton input:hover{text-decoration:none}
.chrmxt .pillButton.pillButtonSelected input{background-color:#6d84b4;border:1px solid #3b5998;-webkit-border-radius:2px;color:#fff;cursor:default;padding:0 5px 1px}
.chrmxt.desktopNotification #jewelCase .jewel{max-height:160px;max-width:300px;min-width:300px;overflow:hidden}
.chrmxt.popup #jewelCase .jewel{max-width:330px;min-width:330px}
.chrmxt #jewelCase .emptyList{text-align:center}
.chrmxt #jewelCase .jewelLoading, .chrmxt #jewelCase .notif_x_div, .chrmxt #jewelCase .confirmingMsg{display:none}
.chrmxt::-webkit-scrollbar{width:.5em;height:.5em;background-color:#fff}
.chrmxt::-webkit-scrollbar:hover{background-color:#eee}
.chrmxt::-webkit-resizer{-webkit-border-radius:4px;background-color:#666}
.chrmxt::-webkit-scrollbar-thumb{min-height:.8em;min-width:.8em;-webkit-border-radius:4px;background-color:#ddd}
.chrmxt::-webkit-scrollbar-thumb:hover{background-color:#bbb}
.chrmxt::-webkit-scrollbar-thumb:active{background-color:#888}
.fbFlyoutDialog .tickerDialogBody{width:378px}
.fbFlyoutDialog .tickerDialogSmall{width:323px}
.fbFlyoutDialog .tickerDialogLarge{width:413px}
.fbDesktopTickerPermalink .fbFlyoutDialog .tickerDialogBody, .fbDesktopTickerPermalink .fbFlyoutDialog .tickerDialogSmall, .fbDesktopTickerPermalink .fbFlyoutDialog .tickerDialogLarge{margin-left:auto;margin-right:auto;border:1px solid #c4cde0;background-color:#fff;padding:0 2px 2px 2px}
.fbDesktopTickerPermalink{background-color:#e7ebf2}
.fbFlyoutDialog .uiScrollableArea.contentAfter:after{background-color:rgba(0, 0, 0, .12)}
.fbFlyoutDialog .uiScrollableAreaContent{padding:2px}
.fbFlyoutDialog .commentable_item .uiScrollableAreaContent{padding-bottom:0}
.fbFlyoutDialog .fbUfi{padding-top:0;width:auto}
.fbFlyoutDialog .tickerHide{float:right;margin:5px 10px 0 0}
.fbFlyoutDialog .fbExpandedStreamAction .tickerHide{float:none;margin:5px 0 0 0}
.fbFlyoutDialog .uiStream .tickerHide{margin:0 17px 0 0}
.fbFlyoutDialog .fbExpandedStreamAction{margin-right:-2px;margin-top:-5px;text-align:right}
.fbFlyoutDialog .tickerUfiAction{background-color:#edeff4;border-bottom:1px solid #d2d9e7;margin-top:1px;padding:5px 8px}
.fbFlyoutDialog .UIActionLinks_bottom a, .fbFlyoutDialog .UIActionLinks_bottom button.as_link, .fbFlyoutDialog .UIActionLinks_bottom .uiLinkButton input, .fbFlyoutDialog .UIActionLinks_bottom .uiLinkButton input:hover{color:#3b5998}
.fbFlyoutDialog .tickerPhotoActionWrapper{position:absolute;right:5px;top:5px}
.fbFloutDialog .flyoutHasAction .tickerHide{display:none !important}
.fbTickerStream .actorDescription, .fbTickerStream .uiStreamMessage{font-size:11px}
.fbTickerStream .uiStreamMessage{font-weight:normal}
.fbTickerStream .uiAttachmentDesc, .fbTickerStream .uiStreamPassive{color:gray}
div.tickerHide .uiSelectorButton{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yM/r/WsHJKsNy2lp.png);background-position:left top;border:0 !important;height:15px;left:-9999px;position:relative;width:17px}
div.tickerHide .uiSelectorButton:hover{background-position:-17px top}
div.tickerHide .uiSelectorButton:active, div.openToggler.tickerHide .uiSelectorButton{background-position:-34px top !important}
div.openToggler.tickerHide .uiSelectorButton, .fbFlyoutDialog div.tickerHide .uiSelectorButton{left:auto}
.fbFlyoutDialog .fbTickerStreamStory{padding:8px}
.fbFlyoutDialog .tickerDialogFooter{background-color:#edeff4;border-top:1px solid #fff;padding:5px 5px 5px 8px}
.fbFlyoutDialog .fbProfileByline{width:100%}
.fbFlyoutDialog .fbProfileBylineFragment{display:block}
.fbFlyoutDialog .tickerCheckinMap{margin-bottom:-3px}
.fbFlyoutDialog .tickerCheckinMapBorder{width:376px}
.fbFlyoutDialog .uiStreamInlineTextarea{height:14px;width:100%}
.fbFlyoutDialog h2{font-size:14px}
.fbFlyoutDialog .tickerFullPhoto i{width:409px}
.fbFlyoutDialog .tickerFullPhoto, .fbFlyoutDialog .tickerFullPhoto:hover{background-color:#eee;border:none;padding:0}
.fbFlyoutDialog .photoWrapper{background-color:#eee;border-bottom:1px solid #ccc;overflow:hidden;text-align:center}
.fbFlyoutDialog .videoWrapper{background-color:#eee;overflow:hidden;text-align:center}
.fbFlyoutDialog .videoWrapper a{display:block;min-height:50px}
.fbFlyoutDialog .tickerVideo{margin:0 auto}
.fbFlyoutDialog .videoWrapper .uiVideoThumb img{background:no-repeat 50% 50%;max-height:310px;max-width:413px}
.fbFlyoutDialog .songTitleWrapper{border-bottom:1px solid #e9e9e9;margin:0 8px;padding:5px 0}
.fbFlyoutDialog .uiStreamStory .uiStreamAttachments, .fbFlyoutDialog .uiStreamStory .largePhoto img{max-width:266px;height:auto}
.fbFlyoutDialog .fbQuestionsReplyComposer{width:298px}
.fbFlyoutDialog .tickerQuestionsAnswers .fbEigenpollRow .fbEigenpollFacepile, .fbFlyoutDialog .tickerQuestionsAnswers .pollOptions .pollResultsFacepile{width:111px}
.fbFlyoutDialog .tickerQuestionsAnswers .fbEigenpollRow{width:375px}
.fbFlyoutDialog .tickerQuestionsAnswers
.fbFlyoutDialog .fbEigenpollRow .fbEigenpollFacepile, .fbFlyoutDialog .tickerQuestionsAnswers
.fbFlyoutDialog .pollOptions .pollResultsFacepile{width:112px}
.fbFlyoutDialog li.ufiNub{display:none !important}
.tickerDialogBody .uiUfi .ufiItem{padding:5px 8px}
.tickerDialogBody .uiUfi .uiUfiUnseenItem{border-left:4px solid #a8b2ce;padding-left:4px}
.fbFlyoutDialog .fbTickerStreamStory .mainWrapper, .fbFlyoutDialog .fbTickerStreamStory .fbEigenpollFeed, .fbFlyoutDialog .fbTickerStreamStory .fbEigenpollRow{margin:0;width:auto}
.fbFlyoutDialog .fbTickerStreamStory .mainWrapper{padding:0;margin-right:17px}
.fbFlyoutDialog .tickerDialogContent .nuxStoryTitle{margin-bottom:3px}
.fbFlyoutDialog .tickerDialogContent .nuxStoryIcon{margin-top:3px}
.uiStream .fbTickerStreamStory .actorPhoto{margin-bottom:0;margin-top:0;padding:0}
.flyoutChatButtonOnline, .flyoutChatButtonOffline{display:none}
.chatOnline .flyoutChatButtonOnline, .chatOffline .flyoutChatButtonOffline{display:inline-block}
.sp_8e0ime{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y4/r/Re_i7XfI5h0.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:25px;width:14px}
.sx_33a664{width:11px;height:12px;background-position:0 -8px}
.sx_9a3e78{height:14px;background-position:-79px -100px}
.sx_f55eab{width:8px;height:8px;background-position:-94px -100px}
.sx_fc7735{width:8px;height:8px;background-position:-103px -100px}
.sx_012f3f{background-position:0 -135px}
.sx_09ef16{background-position:-15px -135px}
.sx_cc2560{background-position:-30px -135px}
.sx_15a5ea{background-position:-45px -135px}
.sx_5d3fd7{background-position:-60px -135px}
.sx_8a4662{background-position:-75px -135px}
.sx_2c36dc{width:26px;height:24px;background-position:-25px -100px}
.sx_2c0493{width:8px;height:7px;background-position:-112px -100px}
.sx_538a77{width:26px;height:24px;background-position:-52px -100px}
.sx_caa952{width:24px;height:31px;background-position:0 -102px}
.uiSplitPics{float:left;width:50px}
.uiSplitPics_small .uiSplitPics{width:32px}
.uiSplitPics .uiSplitPic{float:left;overflow:hidden;width:24px}
.uiSplitPics .leftThree{width:33px}
.uiSplitPics .rBottom .img{height:25px}
.uiSplitPics .rTop .img,
.uiSplitPics .rBottom .img{margin-left:-4px}
.uiSplitPics .rBottom{margin-top:1px}
.uiSplitPics .rTop,
.uiSplitPics .rBottom{margin-left:1px;width:16px}
.uiSplitPics_small .uiSplitPics .uiSplitPic{width:15px}
.uiSplitPics .img{display:block;margin-left:-13px}
.uiSplitPics_small .uiSplitPics .img,
.uiSplitPics .leftThree .img{margin-left:-8px}
.uiSplitPics .leftPic{margin-right:1px;width:25px}
.uiSplitPics_small .uiSplitPics .leftPic{width:16px}

#bootloader_R_Nof { height: 42px; }